.goods_detail_con {
    width: 1198px;
    border: 1px solid #ededed;
    margin: 0 auto 20px;
}

.up {
    width: 400px;
    height: 400px;
    margin: 24px 0 0 24px;
    border: 1px solid #ededed
}

.up img {
    width: 400px;
    height: 400px;
}

.goods_detail_list {
    width: 730px;
    margin: -80px 24px 0 0;
}

.goods_detail_list h3 {
    font-size: 24px;
    line-height: 30px;
    color: #666;
    font-weight: normal;
}

.goods_detail_list p {
    color: #666;
    line-height: 40px;
}

.prize_bar {
    height: 72px;
    background-color: #fdffad;
    line-height: 72px;
}

.prize_bar .show_pirze {
    font-size: 20px;
    color: #ff3e3e;
    padding-left: 20px
}

.prize_bar .show_pirze em {
    font-style: normal;
    font-size: 36px;
    padding-left: 10px
}

.prize_bar .show_unit {
    padding-left: 150px
}

.prize_bar .goods_judge {
    float: right;
    border-left: 1px solid #999;
    height: 20px;
    line-height: 20px;
    margin-right: 20px;
    padding-left: 20px;
    margin-top: 40px;
}

.prize_bar .goods_judge:hover {
    text-decoration: underline
}

.goods_num .num_name {
    width: 70px;
    height: 52px;
    line-height: 52px;
}

.goods_num .num_add {
    width: 75px;
    height: 20px;
    margin-top: 17px;
}

.goods_num .num_add .add, .goods_num .num_add .minus {
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #666;
    font-size: 14px
}

.goods_num .num_add .minus {
    border-bottom: 0px
}

.total {
    height: 35px;
    line-height: 35px;
    margin-top: 25px;
}

.total em {
    font-style: normal;
    color: #ff3e3e;
    font-size: 18px
}

.operate_btn {
    height: 40px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 0;
    position: relative;
}

.operate_btn .buy_btn, .operate_btn .add_cart {
    display: inline-block;
    width: 178px;
    height: 38px;
    border: 1px solid #c4c2a8;
    font-size: 14px;
    color: #c42f2d;
    line-height: 38px;
    text-align: center;
    background-color: #fdff8e;
}
#add_collection{
     display: inline-block;
    width: 178px;
    height: 38px;
    border: 1px solid #c4c2a8;
    font-size: 14px;
    color: #c42f2d;
    line-height: 38px;
    text-align: center;
    background-color: #fdff8e;
       background-color: #feff4d;
    color: #343f40;
    margin-left: 10px;
    position: relative;
}

.operate_btn .add_cart {

    background-color: #feff4d;
    color: #343f40;
    margin-left: 10px;
    position: relative;
    z-index: 10;
}

.type_select {
    overflow: hidden;
    margin-top: 1px;
}

.type_select label {
    float: left;
    width: 120px;
    font-size: 16px;
    line-height: 42px;
}

.type_select span {
    line-height: 40px;
    color: #5e5e5e;
    font-size: 16px;
    margin-left: 20px;
}

.type_select a:hover {
    border: 1px solid #e3101e;
    color: #e3101e
}

.type_select .select {
    border: 1px solid #e3101e;
    background: url(../images/selected.png) right bottom no-repeat;
}

.add_jump {
    width: 20px;
    height: 20px;
    background-color: #c40000;
    position: absolute;
    left: 268px;
    top: 10px;
    border-radius: 50%;
    z-index: 9;
    display: none;
}

.detail_tab {
    height: 35px;
    border-bottom: 1px solid #fffd08;
}

.detail_tab li {
    height: 34px;
    line-height: 34px;
    padding: 0 30px;
    font-size: 14px;
    color: #333333;
    float: left;
    border: 1px solid #e8e8e8;
    border-bottom: 0px;
    cursor: pointer;
    background-color: #faf8f8
}

.detail_tab li.active {
    border-top: 2px solid #fffd08;
    position: relative;
    background-color: #fff;
    border-left: 1px solid #fffd08;
    border-right: 1px solid #fffd08;
    top: -1px;
    height: 35px;
}

.tab_content {
    display: none;
}

.current {
    display: block;
}

.tab_content dt {
    margin-top: 10px;
    font-size: 16px;
    color: #c40000
}

.tab_content dd {
    line-height: 24px;
    margin-top: 5px;
    font-size: 12px;
}
.footer {
    border-top: 1px #ffda44 solid;
    margin: 50px 0;
}

.foot_link {
    text-align: center;
    margin-top: 30px;
}

.foot_link a, .foot_link span {
    color: #4e4e4e;
}

.foot_link a:hover {
    color: #ff8800
}

.foot_link span {
    padding: 0 10px
}

.footer p {
    text-align: center;
    margin-top: 10px;
}
.main_wrap {
    width: 1200px;
    margin-top: 0px;
}

.l_wrap {
    width: 200px;
}

.wrap {
    width: 1200px;
}
#auction_premium{
    width: 100px;
    height: 20px;
}
body
{
	font-family:'Microsoft Yahei';font-size:12px;color:#666;
}
html,body
{
	height:100%
}
.header_con{
	background-color:#f7f7f7;
	height:29px;
	border-bottom:1px solid #dddddd
}
.header{
	width:1200px;
	height:29px;
	margin:0 auto;
}

.welcome,.login_info,.login_btn,.user_link{
	line-height:29px;
}

.login_info{
	display:none;
}

.login_info em{color:#ff8800}

.login_info .quit{
	color:#666;
	padding-left:10px;
}

.login_info .quit:hover{
	color:#ff8800;
}

.login_btn a,.user_link a{
	color:#666;
}

.login_btn a:hover,.user_link a:hover{
	color:#ff8800;
}

.login_btn span,.user_link span{
	color:#cecece;
	margin:0 10px;
}
.search_bar{width:1200px;height:115px;margin:0 auto;}
.logo{width:150px;height:59px;margin:29px 0 0 17px;}

.search_wrap{width:618px;height:60px;margin:34px 0 0 124px;}

.search_con{width:616px;height:32px;border:2px solid #ffda44;background:url(../images/icons.png) 10px -340px no-repeat;}

.search_con .input_text{width:470px;height:28px;border:0px;margin:2px 0 0 36px;outline:none;font-size:12px;color:#737272;font-family:'Microsoft Yahei'}

.search_con .input_btn{
	width:100px;height:32px;background-color:#ffda44;border:0px;font-size:14px;color:#fff;font-family:'Microsoft Yahei';outline:none;cursor:pointer;
}
.search_suggest li a:hover{
	color:#f80;
}

.mt40{margin-top:40px}

/*.guest_cart{*/
	/*width:200px;height:32px;position:absolute;top:62px;left:50%;margin-left:400px;z-index:9997;*/
/*}*/

/*.guest_cart .cart_name{*/
	/*width:158px;height:32px;line-height:32px;border:1px solid #dddddd;display:block;background:url(../images/icons.png) 13px -302px no-repeat #fff;font-size:14px;color:#fe0000;text-indent:56px;*/
/*}*/

/*.guest_cart .goods_count{*/
	/*width:40px;height:34px;text-align:center;line-height:34px;font-size:18px;*/
	/*font-weight:bold;color:#fff;background-color:#fe0000;*/
/*}*/
/*.guest_cart:hover .cart_name{*/
	/*position:relative;*/
	/*z-index:9999;*/
	/*border-bottom:1px solid #fff;*/
/*}*/
/*.guest_cart:hover .cart_goods_show{*/
	/*display:block;*/
/*}*/
.cart_goods_show{
	position:absolute;
	width:320px;
	padding:10px;
	background:#fff;
	border:1px solid #ddd;
	right:0px;
	top:33px;
	z-index:9998;
	display:none;
}
.cart_goods_show li{
	border-bottom:1px dotted #ddd;
	overflow:hidden;
}
.cart_goods_show li img{
	margin-top:10px;
	float:left;
	width:50px;
	height:50px;
}
.cart_goods_show li h4{
	float:left;
	line-height:70px;
	font-size:12px;
	margin-left:20px;
}
.cart_goods_show li div{
	float:right;
	line-height:70px;
	font-size:13px;
	margin-right:20px;
}
#auction_Navigation{
    padding-left: 50px;

}
#auction_Navigation button{
	width: 120px;
}
.Navigation_information{
    height: 30px;
}
.Navigation_information div{
    float: left;
}
#auction_classification {
    padding-left: 500px;
    font-size: 16px;
}
#auction_classification div{
    width: 100px;
}
#buy_now_message{
   position: fixed;
    top: 200px;
    left: 600px;
    width: 350px;

    background-color: #16bcbd;
    display: none;
}
#shutdown{
    float: right;
}
#price_error{
    display: none;

}
#shutdown_error{
    float: right;
}
#confirm_buy{
    width: 100px;
}
#pay_error{
 display: none;
 padding-left: 50px;
    font-size: 14px;
    color: red;
}