body
{
	font-family:'Microsoft Yahei';font-size:12px;color:#666;
}
html,body
{
	height:100%
}
.header_con{
	background-color:#f7f7f7;
	height:29px;
	border-bottom:1px solid #dddddd
}
.header{
	width:1200px;
	height:29px;
	margin:0 auto;
}

.welcome,.login_info,.login_btn,.user_link{
	line-height:29px;
}

.login_info{
	display:none;
}

.login_info em{color:#ff8800}

.login_info .quit{
	color:#666;
	padding-left:10px;
}

.login_info .quit:hover{
	color:#ff8800;
}

.login_btn a,.user_link a{
	color:#666;
}

.login_btn a:hover,.user_link a:hover{
	color:#ff8800;
}

.login_btn span,.user_link span{
	color:#cecece;
	margin:0 10px;
}
.search_bar{width:1200px;height:115px;margin:0 auto;}
.logo{width:150px;height:59px;margin:29px 0 0 17px;}

.search_wrap{width:618px;height:60px;margin:34px 0 0 124px;}

.search_con{width:616px;height:32px;border:2px solid #ffda44;background:url(../images/icons.png) 10px -340px no-repeat;}

.search_con .input_text{width:470px;height:28px;border:0px;margin:2px 0 0 36px;outline:none;font-size:12px;color:#737272;font-family:'Microsoft Yahei'}

.search_con .input_btn{
	width:100px;height:32px;background-color:#ffda44;border:0px;font-size:14px;color:#fff;font-family:'Microsoft Yahei';outline:none;cursor:pointer;
}
.search_suggest li a:hover{
	color:#f80;
}

.mt40{margin-top:40px}

.guest_cart{
	width:200px;height:32px;position:absolute;top:62px;left:50%;margin-left:400px;z-index:9997;
}

.guest_cart .cart_name{
	width:158px;height:32px;line-height:32px;border:1px solid #dddddd;display:block;background:url(../images/icons.png) 13px -302px no-repeat #fff;font-size:14px;color:#fe0000;text-indent:56px;
}

.guest_cart .goods_count{
	width:40px;height:34px;text-align:center;line-height:34px;font-size:18px;
	font-weight:bold;color:#fff;background-color:#fe0000;
}
.guest_cart:hover .cart_name{
	position:relative;
	z-index:9999;
	border-bottom:1px solid #fff;
}
.guest_cart:hover .cart_goods_show{
	display:block;
}
.cart_goods_show{
	position:absolute;
	width:320px;
	padding:10px;
	background:#fff;
	border:1px solid #ddd;
	right:0px;
	top:33px;
	z-index:9998;
	display:none;
}
.cart_goods_show li{
	border-bottom:1px dotted #ddd;
	overflow:hidden;
}
.cart_goods_show li img{
	margin-top:10px;
	float:left;
	width:50px;
	height:50px;
}
.cart_goods_show li h4{
	float:left;
	line-height:70px;
	font-size:12px;
	margin-left:20px;
}
.cart_goods_show li div{
	float:right;
	line-height:70px;
	font-size:13px;
	margin-right:20px;
}
#auction_Navigation{
    padding-left: 50px;

}
#auction_Navigation button{
	width: 120px;
}
.Navigation_information{
    height: 30px;
}
.Navigation_information div{
    float: left;
}
#auction_classification {
    padding-left: 500px;
    font-size: 16px;
}
#auction_classification div{
    width: 100px;
}
#now_auction ,#my_auction ,#histroy_auction{
	height: 25px;
	background-color: #ffda44;
	border: 0px;
	border-radius: 5px;
}
#publish {
    height: 550px;
}


#publish_header {
    background-color: #ffda44;
    height: 30px;
    width: 800px;
    margin-top: 20px;
    margin-left: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

#publish_header span {
    line-height: 30px;
    margin-left: 5px;
    font-weight: bold;
}

#publish form {
    width: 798px;
    border: 1px solid #ffda44;
    border-top: none;
}

#publish .pub {
    float: left;
}

#publish_goods {
    margin-top: -15px;
    margin-left: 180px;
}

#rule {
    margin-top: -70px;
    margin-left: 10px;
}

#publish_goods table tr td:nth-child(1) {
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}

#publish_goods table tr td {
    padding: 10px;
}

#publish_goods table tr td input, select {
    height: 25px;
    font-size: 18px;
}

#publish_goods table tr td input {
    width: 200px;
}

#publish_button, #assess_button {
    background-color: #ffda44;
    border: 0px;
    height: 30px;
    width: 200px;
    margin-left: 300px;
    margin-bottom: 50px;
    border-radius: 5px;
}

#publish_button:hover {
    cursor: pointer;
}
#assess_goods table tr td:nth-child(1) {
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}
.navbar_con {
    height: 30px;
    border-bottom: 1px solid #ddd;
    background: #ffda44;
    margin-bottom: 5px
}

.navbar {
    width: 1200px;
    margin: 0 auto;
}

.navbar h1 {
    width: 245px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #666;
    background-color: #ffda44;
    font-weight: bold;
}

.navbar .subnav_con {
    width: 200px;
    height: 40px;
    background-color: #39a93e;
    position: relative;
    cursor: pointer;
}

.navbar .subnav_con h1 {
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    text-indent: 40px
}

.navbar .subnav_con span {
    display: block;
    width: 16px;
    height: 9px;
    background: url(../images/down.png) no-repeat;
    position: absolute;
    right: 27px;
    top: 16px;
    transition: all 300ms ease-in;
}

.navbar .subnav_con:hover span {
    transform: rotateZ(180deg)
}

.navbar .subnav_con .subnav {
    position: absolute;
    left: 0;
    top: 40px;
    display: none;
    border-top: 2px solid #39a93e;
}

.navbar .subnav_con:hover .subnav {
    display: block;
}

.navlist {
    margin-left: 34px;
}

.navlist li {
    float: left;
    line-height: 30px;
    width: 180px;
    text-align: center
}

.navlist li a {
    color: #666;
    font-size: 14px
}

.navlist li a:hover {
    color: #ff8800
}
.sub_page_name {
    font-size: 20px;
    color: #666;
    margin: 60px 0 0 43px
}
.footer{
margin-top: 10px;
    border-top: 1px solid #ffda44;
}
.footer p{
text-align: center;
}
.foot_link{
    text-align: center;
}
#auction_rules_desc p{
    font-size: 15px;color: black;text-indent: 2em
}
#error_message{
    position: relative;
    left: 500px;
    top: -600px;
    display: none;
    color: red;
    font-size: 16px;
}