{% extends "admin.html" %}
{% block mainbody %}
    <div class="am-popup am-popup-inner" id="my-popup">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">添加用户</h4>
            <span data-am-modal-close class="am-close">&times;</span></div>
        <div class="am-popup-bd">
            <form class="am-form tjlanmu">
                <div class="am-form-group">
                    <div class="zuo" style="margin-bottom: 0px;">用户名：</div>
                    <div class="you"><input type="text" class="am-input-sm" id="doc-ipt-email-1" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="zuo" style="margin-bottom: 0px;">密码：</div>
                    <div class="you"><input type="text" class="am-input-sm" id="doc-ipt-pwd-1" placeholder="请输入密码">
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <div class="zuo">用户描述：</div>
                    <div class="you">
                        <textarea class="" rows="2" id="doc-ta-1"></textarea>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <div class="zuo">用户头像：</div>
                    <div class="you" style="height: 45px;">
                        <input type="file" id="doc-ipt-file-1">
                        <p class="am-form-help">请选择要上传的文件...</p>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <div class="zuo">简介：</div>
                    <div class="you">
                        <textarea class="" rows="2" id="doc-ta-1"></textarea>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <div class="zuo">用户状态：</div>
                    <div class="you" style="margin-top: 3px;">
                        <label class="am-checkbox-inline">
                            <input type="checkbox" value="option1">
                            显示 </label>
                        <label class="am-checkbox-inline">
                            <input type="checkbox" value="option2">
                            隐藏 </label>
                    </div>
                </div>
                <div class="am-form-group am-cf">
                    <div class="you">
                        <p>
                            <button type="submit" class="am-btn am-btn-success am-radius">提交</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="admin-biaogelist">
        <div class="listbiaoti am-cf">
            <ul class="am-icon-users"> 用户管理</ul>
            <dl class="am-icon-home" style="float: right;">当前位置： <a href="/admin/">首页</a> > 用户列表</dl>
            <dl>
                <button type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus"
                        data-am-modal="{target: '#my-popup'}"> 手动添加用户
                </button>
            </dl>
            <!--这里打开的是新页面-->
        </div>
        <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
            <ul>
                <li>
                    <div class="am-btn-group am-btn-group-xs">
                        <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}" id="user_state">
                            <option value="2">用户状态</option>
                            <option value="0">正常</option>
                            <option value="1">异常</option>
                        </select>
                    </div>
                </li>
                <li style="margin-right: 0;">
                    <span class="tubiao am-icon-calendar"></span>
                    <input type="text" name="start" id="start"
                           class="am-form-field am-input-sm am-input-zm  am-icon-calendar"
                           placeholder="开始日期" data-am-datepicker="{theme: 'success',}" readonly/>
                </li>
                <li style="margin-left: -4px;">
                    <span class="tubiao am-icon-calendar"></span>
                    <input type="text" name="end" id="end"
                           class="am-form-field am-input-sm am-input-zm  am-icon-calendar"
                           placeholder="结束日期" data-am-datepicker="{theme: 'success',}" readonly/>
                </li>
                <li style="margin-left: -10px"><input type="text" class="am-form-field am-input-sm am-input-xm"
                                                      placeholder="关键词搜索"
                                                      style="margin-top: 0px;" id="key"/></li>
                <li>
                    <button type="button" class="am-btn am-radius am-btn-xs am-btn-success" id="search">搜索
                    </button>
                </li>
            </ul>
        </div>
        <form class="am-form am-g">
            <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
                <thead>
                <tr class="am-success">
                    <th class="table-check"><input type="checkbox"/></th>
                    <th class="table-id">ID</th>
                    <th class="table-title">用户名</th>
                    <th class="table-password">密码</th>
                    <th class="table-phone">手机号</th>
                    <th class="table-address">地区</th>
                    <th class="table-date am-hide-sm-only">注册日期</th>
                    <th class="table-money am-hide-sm-only">余额</th>
                    <th class="table-state am-hide-sm-only">状态</th>
                    <th class="table-set" width="130px">操作</th>
                </tr>
                </thead>
                <tbody id="user">
                </tbody>
            </table>
            <div class="am-btn-group am-btn-group-xs">
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 删除</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 上架</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 下架</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 移动</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 移动</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
            <ul class="am-pagination am-fr" id="page">
                <li class="am-disabled"><a href="#">«</a></li>
                <li class="am-active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul>
            <hr/>
            <p>注：.....</p>
        </form>
        {% include "admin_bottom.html" %}
    </div>
{% endblock %}
{% block js %}
    <script>
        function pg(obj) {
            page = $(obj).attr('value')
            console.log(page)
            getuser(page)
        }

        function appendData(user_id, user_name, user_password, user_phone, user_address, user_startdate, user_money, user_state) {
            if (user_state == '0') {
                user_state = 'am-text-primary'
                state_text = '正常'

            } else {
                user_state = 'am-text-danger'
                state_text = '违规封禁'
            }
            var text = '<tr id="tr'+user_id+'">' +
                '                        <td><input type="checkbox"/></td>' +
                '                        <td>' + user_id + '</td>' +
                '                        <td>' + user_name + '</td>' +
                '                        <td>' + user_password + '</td>' +
                '                        <td>' + user_phone + '</td>' +
                '                        <td>' + user_address + '</td>' +
                '                        <td class="am-hide-sm-only">' + user_startdate + '</td>' +
                '                        <td class="am-hide-sm-only">' + user_money + '</td>' +
                '                            <td class="' + user_state + '" id="' + user_id + '">' + state_text + '</td>' +
                '                        <td>' +
                '                            <div class="am-btn-toolbar">' +
                '                                <div class="am-btn-group am-btn-group-xs">' +
                '                                    <button type="button"' +
                '                                            class="am-btn am-btn-default am-btn-xs am-text-success am-round"' +
                '                                            title="查看用户详情"><span' +
                '                                            class="am-icon-search"></span></button>' +
                '                                    <button type="button" onclick="up(this)" value="' + user_id + '"' +
                '                                            class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"' +
                '                                            title="解封用户"><span' +
                '                                            class="am-icon-check-circle-o"></span></button>' +
                '                                    <button type="button" onclick="down(this)" value="' + user_id + '"' +
                '                                            class="am-btn am-btn-default am-btn-xs am-text-danger am-round"' +
                '                                            title="封禁用户"><span' +
                '                                            class="am-icon-ban"></span></button>' +
                '                                    <button type="button" onclick="del(this)" value="' + user_id + '"' +
                '                                            class="am-btn am-btn-default am-btn-xs am-text-warning am-round"' +
                '                                            title="封禁用户"><span' +
                '                                            class="am-icon-trash"></span></button>' +
                '                                </div>' +
                '                            </div>' +
                '                        </td>' +
                '                    </tr>';
            $("#user").append(text)
        }

        function getuser(page) {
            key = $('#key').val();
            start = $('#start').val();
            end = $('#end').val();
            user_state = $('#user_state').val();
            $.ajax({
                type: "POST",
                url: "/admin_search_user/",
                data: {
                    'start': start,
                    'end': end,
                    'user_state': user_state,
                    'key': key,
                    'page': page
                },
                beforeSend: function (XMLHttpRequest) {
                    $("#user").text('');
                    $('#page').text('');
                    $("#user").append("<tr><td colspan='10' style='text-align: center'>数据加载中</td></tr>")
                }, //请求前进行的操作
                success: function (req) {
                    $("#user").text('');
                    //处理返回后的数据
                    var data = req['data'];
                    var pagelist = req['pagelist']
                    var page = req['page']
                    var num_pages = req['num_pages']
                    if (data.length != 0) {
                        for (var i = 0; i < data.length; i++) {
                            var user_id = data[i].user_id;
                            var user_name = data[i].user_name;
                            var user_password = data[i].user_password;
                            var user_phone = data[i].user_phone;
                            var user_address = data[i].user_address;
                            var user_startdate = data[i].user_startdate;
                            var user_money = data[i].user_money;
                            var user_state = data[i].user_state;
                            appendData(user_id, user_name, user_password, user_phone, user_address, user_startdate, user_money, user_state);
                        }
                    } else {
                        $("#user").append("<tr><td colspan='10' style='text-align: center'>没有符合条件的用户</td></tr>")
                    }
                    if (page != 1) {
                        $('#page').append('<li><a href="javascript:void(0);" onclick="pg(this)" value="' + (page - 1) + '">«</a></li>')
                    }
                    else {
                        $('#page').append('<li class="am-disabled"><a href="javascript:void(0);">«</a></li>')
                    }
                    for (var i = 0; i < pagelist.length; i++) {
                        var pg = pagelist[i]
                        if (pg == page) {
                            $('#page').append('<li class="am-active"><a href="javascript:void(0);">' + pg + '</a></li>')
                        }
                        else {
                            $('#page').append('<li><a href="javascript:void(0);" onclick="pg(this)" value="' + pg + '">' + pg + '</a></li>')
                        }
                    }
                    if (page != num_pages) {
                        $('#page').append('<li><a href="javascript:void(0);" onclick="pg(this)" value="' + (page + 1) + '">»</a></li>')
                    }
                    else {
                        $('#page').append('<li class="am-disabled"><a href="javascript:void(0);">»</a></li>')
                    }

                },
                error: function () {
                    $("#user").text('');
                    $("#user").append("<tr><td colspan='10' style='text-align: center'>网络繁忙，请稍后重试</td></tr>")
                }
            })
        }

    </script>
    <script>
        function del(obj) {
            user_id = $(obj).val();
            $.ajax({
                type: "POST",
                url: "/admin_update/",
                async: false,
                data: {'user_id': user_id, 'action': 'del'},
                success: function (data) {
                    //处理返回后的数据
                    if (data) {
                        $("#tr" + user_id).text('')
                        alert("删除成功")
                    } else {
                        {#alert("上架失败，请刷新页面重试")#}
                    }
                }, error: function () {
                    alert("业务繁忙")
                }
            })
        }

        function down(obj) {
            user_id = $(obj).val();
            $.ajax({
                type: "POST",
                url: "/admin_update/",
                async: false,
                data: {'user_id': user_id, 'action': '1'},
                success: function (data) {
                    //处理返回后的数据
                    if (data) {
                        $("#" + user_id).attr("class", "am-text-danger").text("违规封禁");
                    } else {
                    }
                }, error: function () {
                    console.log("业务繁忙")
                }
            })
        }

        function up(obj) {
            user_id = $(obj).val();
            $.ajax({
                type: "POST",
                url: "/admin_update/",
                async: false,
                data: {'user_id': user_id, 'action': '0'},
                success: function (data) {
                    //处理返回后的数据
                    if (data) {
                        $("#" + user_id).attr("class", "am-text-primary").text("正常");
                    } else {
                    }
                }, error: function () {
                    console.log("业务繁忙")
                }
            })
        }
    </script>
    <script>
        $('#start,#end').click(function () {
            $(this).val("")
        });
        $(document).ready(function () {
            $('#start,#end').datepicker().on('changeDate.datepicker.amui', function (event) {
                getuser()
            });

            $("#user_state").change(function () {
                getuser()
            });

            $('#search').click(function () {
                getuser()
            });
            $(window).keydown(function (event) { //这个是你在页面按任意按钮的时候会触发该方法
                if (event && event.keyCode == 13) {
                    getuser()
                }
            });
            getuser()
        })
    </script>
{% endblock %}