<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>海马商城后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/static/CSS/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/CSS/admin.css">
    <script src="/static/JS/jquery.min.js"></script>
    <script src="/static/JS/app.js"></script>
</head>
<body>
<header class="am-topbar admin-header">
    <div class="am-topbar-brand"><a href="/admin/"><img src="/static/Images/admin_logo.png"></a></div>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">
            <li class="am-dropdown tognzhi" data-am-dropdown>
                <button class="am-btn am-btn-primary am-dropdown-toggle am-btn-xs am-radius am-icon-bell-o"
                        data-am-dropdown-toggle> 消息管理<span class="am-badge am-badge-danger am-round">3</span></button>
                <ul class="am-dropdown-content">
                    <li><a href="#">用户申诉 <span class="am-badge am-badge-danger am-round">556</span></a></li>
                    <li><a href="/refund/">退款申请 <span class="am-badge am-badge-danger am-round">69</span></a></li>
                    <li><a href="#">客服介入</a></li>
                    <li><a href="#">用户评价</a></li>
                    <li><a href="#">用户反馈<span class="am-badge am-badge-danger am-round">999</span></a></li>
                </ul>
            </li>
            <li class="kuanjie">
                <a href="/admin_user/">用户管理</a>
                <a href="/admin_goods/">商品管理</a>
                <a href="/admin_order/">订单管理</a>
                <a href="#">个人中心</a>
                <a href="#">系统设置</a>
                <a href="/exit/">退出登录</a>
            </li>
            <li class="soso">
                <p>
                    <select data-am-selected="{btnWidth: 70, btnSize: 'sm', btnStyle: 'default'}">
                        <option value="b">全部</option>
                        <option value="o">商品</option>
                        <option value="o">用户</option>
                    </select>
                </p>
                <p class="ycfg"><input type="text" class="am-form-field am-input-sm" placeholder="搜索关键词"/></p>
                <p>
                    <button class="am-btn am-btn-xs am-btn-default am-xiao"><i class="am-icon-search"></i></button>
                </p>
            </li>
            <li class="am-hide-sm-only" style="float: right;"><a href="javascript:;" id="admin-fullscreen"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>
<div class="am-cf admin-main">
    <div class="nav-navicon admin-main admin-sidebar">
        <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员：{{ user }}</div>
        <div class="sideMenu">
            <h3 class="am-icon-flag"><em></em> <a href="#">商品管理</a></h3>
            <ul>
                <li><a href="/admin_goods/">商品列表</a></li>
                <li class="func" dataType='html' dataLink='msn.htm' iconImg='images/msn.gif'><a href="javascript: void(0)" onclick="alert('功能待开发，敬请期待')">添加新商品</a></li>
                <li><a href="/category/">商品分类</a></li>
            </ul>
            <h3 class="am-icon-cart-plus"><em></em> <a href="#">订单管理</a></h3>
            <ul>
                <li><a href="/admin_order/">订单列表</a></li>
            </ul>
            <h3 class="am-icon-users"><em></em> <a href="#">用户管理</a></h3>
            <ul>
                <li><a href="/admin_user/">用户列表</a></li>
                <li><a href="javascript: void(0)" onclick="alert('功能待开发，敬请期待')">游客统计</a></li>
            </ul>
            <h3 class="am-icon-volume-up"><em></em> <a href="#">信息通知</a></h3>
            <ul>
                <li><a href="javascript: void(0)" onclick="alert('功能待开发，敬请期待')">站内消息 /留言</a></li>
                <li><a href="javascript: void(0)" onclick="alert('功能待开发，敬请期待')">短信</a></li>
                <li><a href="javascript: void(0)" onclick="alert('功能待开发，敬请期待')">客服</a></li>
                <li><a href="/refund/">退款申请</a></li>
            </ul>
            <h3 class="am-icon-gears"><em></em> <a href="#">系统设置</a></h3>
            <ul>
                <li><a href="javascript: void(0)" onclick="alert('功能待开发，敬请期待')">数据备份</a></li>
                <li><a href="https://www.qiniu.com">文件管理</a></li>
                <li><a href="javascript: void(0)" onclick="alert('功能待开发，敬请期待')">权限设置</a></li>
                <li><a href="javascript: void(0)" onclick="aip_manage()">搜索图库更新</a></li>
                <li><a href="/exit/">退出登录</a></li>
            </ul>
        </div>
        <!-- sideMenu End -->

        <script type="text/javascript">
            jQuery(".sideMenu").slide({
                titCell: "h3", //鼠标触发对象
                targetCell: "ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
                effect: "slideDown", //targetCell下拉效果
                delayTime: 300, //效果时间
                triggerTime: 150, //鼠标延迟触发时间（默认150）
                defaultPlay: true,//默认是否执行效果（默认true）
                returnDefault: true //鼠标从.sideMen移走后返回默认状态（默认false）
            });
        </script>
    </div>
    <div class=" admin-content">
        <div class="daohang">
            <ul>
                <li>
                    <button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页</button>
                </li>
                <li>
                    <button type="button" class="am-btn am-btn-default am-radius am-btn-xs">帮助中心<a
                            href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
                    </button>
                </li>
                <li>
                    <button type="button" class="am-btn am-btn-default am-radius am-btn-xs">用户管理<a
                            href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
                    </button>
                </li>
                <li>
                    <button type="button" class="am-btn am-btn-default am-radius am-btn-xs">产品管理<a
                            href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a>
                    </button>
                </li>
            </ul>
        </div>
        {% block mainbody %}
            <div class="admin">
                <div class="admin-index">
                    <dl data-am-scrollspy="{animation: 'slide-right', delay: 100}">
                        <dt class="qs"><i class="am-icon-users"></i></dt>
                        <dd>{{ num_user }}</dd>
                        <dd class="f12">用户数量</dd>
                    </dl>
                    <dl data-am-scrollspy="{animation: 'slide-right', delay: 600}">
                        <dt class="hs"><i class="am-icon-shopping-cart"></i></dt>
                        <dd>{{ num_goods }}</dd>
                        <dd class="f12">商品数量</dd>
                    </dl>
                    <dl data-am-scrollspy="{animation: 'slide-right', delay: 300}">
                        <dt class="cs"><i class="am-icon-area-chart"></i></dt>
                        <dd>{{ num_num }}</dd>
                        <dd class="f12">总成交量</dd>
                    </dl>
                    <dl data-am-scrollspy="{animation: 'slide-right', delay: 900}">
                        <dt class="ls"><i class="am-icon-cny"></i></dt>
                        <dd>{{ num_count }}</dd>
                        <dd class="f12">总成交额</dd>
                    </dl>
                </div>
                <div class="admin-biaoge">
                    <div class="xinxitj">信息概况</div>
                    <table class="am-table">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>新增用户</th>
                            <th>新增商品</th>
                            <th>成交量</th>
                            <th>成交额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2018-11-06</td>
                            <td>12</td>
                            <td><a href="#">454</a></td>
                            <td>+20</td>
                            <td> 261</td>
                        </tr>
                        <tr>
                            <td>2018-11-05</td>
                            <td>26</td>
                            <td>564</td>
                            <td>+2</td>
                            <td> 536</td>
                        </tr>
                        <tr>
                            <td>2018-11-05</td>
                            <td>66</td>
                            <td>244</td>
                            <td>+10</td>
                            <td> 212</td>
                        </tr>
                        <tr>
                            <td>2018-11-05</td>
                            <td>24</td>
                            <td>222</td>
                            <td>+50</td>
                            <td> 230</td>
                        </tr>
                        <tr>
                            <td>合计</td>
                            <td>212</td>
                            <td>453</td>
                            <td>+50</td>
                            <td> 222</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="am-table">
                        <thead>
                        <tr>
                            <th>商品类别</th>
                            <th>总数量</th>
                            <th>上架量</th>
                            <th>已出售</th>
                            <th>成交额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>手机</td>
                            <td>2004</td>
                            <td>124</td>
                            <td>+50</td>
                            <td> 4251</td>
                        </tr>
                        <tr>
                            <td>电脑</td>
                            <td>1420</td>
                            <td>999</td>
                            <td>+2</td>
                            <td> 4124</td>
                        </tr>
                        <tr>
                            <td>摄影</td>
                            <td>1231</td>
                            <td>412</td>
                            <td>+10</td>
                            <td> 4664</td>
                        </tr>
                        <tr>
                            <td>电玩</td>
                            <td>4789</td>
                            <td>544</td>
                            <td>+50</td>
                            <td> 11734</td>
                        </tr>
                        <tr>
                            <td>其他</td>
                            <td>1245</td>
                            <td>411</td>
                            <td>+50</td>
                            <td> 4895</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="am-table">
                        <thead>
                        <tr>
                            <th>商品类别</th>
                            <th>总数量</th>
                            <th>上架量</th>
                            <th>已出售</th>
                            <th>成交额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>手机</td>
                            <td>2004</td>
                            <td>124</td>
                            <td>+50</td>
                            <td> 4251</td>
                        </tr>
                        <tr>
                            <td>电脑</td>
                            <td>1420</td>
                            <td>999</td>
                            <td>+2</td>
                            <td> 4124</td>
                        </tr>
                        <tr>
                            <td>摄影</td>
                            <td>1231</td>
                            <td>412</td>
                            <td>+10</td>
                            <td> 4664</td>
                        </tr>
                        <tr>
                            <td>电玩</td>
                            <td>4789</td>
                            <td>544</td>
                            <td>+50</td>
                            <td> 11734</td>
                        </tr>
                        <tr>
                            <td>其他</td>
                            <td>1245</td>
                            <td>411</td>
                            <td>+50</td>
                            <td> 4895</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="shuju">
                    <div class="shujuone">
                        <dl>
                            <dt>全盘收入： 1356666</dt>
                            <dt>全盘支出： 5646465.98</dt>
                            <dt>全盘利润： 546464</dt>
                        </dl>
                        <ul>
                            <h2>26.83%</h2>
                            <li>全盘拨出</li>
                        </ul>
                    </div>
                    <div class="shujutow">
                        <dl>
                            <dt>全盘收入： 1356666</dt>
                            <dt>全盘支出： 5646465.98</dt>
                            <dt>全盘利润： 546464</dt>
                        </dl>
                        <ul>
                            <h2>26.83%</h2>
                            <li>全盘拨出</li>
                        </ul>
                    </div>
                    <div class="slideTxtBox">
                        <div class="hd">
                            <ul>
                                <li>其他信息</li>
                                <li>工作进度表</li>
                            </ul>
                        </div>
                        <div class="bd">
                            <ul>
                                <table width="100%" class="am-table">
                                    <tbody>
                                    <tr>
                                        <td width="7%" align="center">1</td>
                                        <td width="83%">退款审核进度</td>
                                        <td width="10%" align="center"><a href="#">10%</a></td>
                                    </tr>
                                    <tr>
                                        <td align="center">1</td>
                                        <td>帐号申诉进度</td>
                                        <td align="center"><a href="#">10%</a></td>
                                    </tr>
                                    <tr>
                                        <td align="center">1</td>
                                        <td>业务处理进度</td>
                                        <td align="center"><a href="#">10%</a></td>
                                    </tr>
                                    <tr>
                                        <td align="center">1</td>
                                        <td>商品报表进度</td>
                                        <td align="center"><a href="#">10%</a></td>
                                    </tr>
                                    <tr>
                                        <td align="center">1</td>
                                        <td>bug修改进度</td>
                                        <td align="center"><a href="#">10%</a></td>
                                    </tr>
                                    <tr>
                                        <td align="center">1</td>
                                        <td>产品更新进度</td>
                                        <td align="center"><a href="#">10%</a></td>
                                    </tr>
                                    <tr>
                                        <td align="center">1</td>
                                        <td>工作时间管理</td>
                                        <td align="center"><a href="#">10%</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </ul>
                            <ul>
                                <table class="am-table">
                                    <thead>
                                    <tr>
                                        <th>商品类别</th>
                                        <th>总数量</th>
                                        <th>上架量</th>
                                        <th>已出售</th>
                                        <th>成交额</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>手机</td>
                                        <td>2004</td>
                                        <td>124</td>
                                        <td>+50</td>
                                        <td> 4251</td>
                                    </tr>
                                    <tr>
                                        <td>电脑</td>
                                        <td>1420</td>
                                        <td>999</td>
                                        <td>+2</td>
                                        <td> 4124</td>
                                    </tr>
                                    <tr>
                                        <td>摄影</td>
                                        <td>1231</td>
                                        <td>412</td>
                                        <td>+10</td>
                                        <td> 4664</td>
                                    </tr>
                                    <tr>
                                        <td>电玩</td>
                                        <td>4789</td>
                                        <td>544</td>
                                        <td>+50</td>
                                        <td> 11734</td>
                                    </tr>
                                    <tr>
                                        <td>其他</td>
                                        <td>1245</td>
                                        <td>411</td>
                                        <td>+50</td>
                                        <td> 4895</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </ul>
                        </div>
                    </div>
                    <script type="text/javascript">jQuery(".slideTxtBox").slide();</script>
                </div>
                {% include "admin_bottom.html" %}
            </div>
        {% endblock %}
    </div>
</div>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/JS/amazeui.min.js"></script>
<!--<![endif]-->

{% block js %}
{% endblock %}
<script>
    $("#start,#end").hover(function () {
        $(this).css("cursor", 'pointer');
    });
</script>
<script>
    function aip_manage() {
        $.ajax({
            type: "POST",
            url: "/aip_manage/",
            async: false,
            data: {},
            success: function (res) {
                if (res == 'aip') {
                    alert('更新成功')
                }
            }, error: function () {
                alert('业务繁忙')
            }
        })

    }
</script>
</body>
</html>