{% extends "admin.html" %}
{% block mainbody %}
    <div class="admin-biaogelist" id="top">
        <div class="listbiaoti am-cf">
            <ul class="am-icon-flag on"> 商品管理</ul>
            <dl class="am-icon-home" style="float: right;"> 当前位置： <a href="/admin/">首页</a> > 商品列表</dl>
            <dl>
                <button type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus"> 添加产品</button>
            </dl>
        </div>
        <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
            <ul>
                <li>
                    <div class="am-btn-group am-btn-group-xs">
                        <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}" id="goods_type">
                            <option value="0">商品分类</option>
                            <option value="1">手机</option>
                            <option value="2">电脑</option>
                            <option value="3">摄影</option>
                            <option value="4">电玩</option>
                            <option value="5">其他</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="am-btn-group am-btn-group-xs">
                        <select data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}" id="goods_state">
                            <option value="4">商品状态</option>
                            <option value="0">上架</option>
                            <option value="2">下架</option>
                            <option value="1">出售</option>
                        </select>
                    </div>
                </li>
                <li style="margin-right: 0;">
                    <span class="tubiao am-icon-calendar"></span>
                    <input type="text" name="start" id="start"
                           class="am-form-field am-input-sm am-input-zm  am-icon-calendar"
                           placeholder="开始日期" data-am-datepicker="{theme: 'success',}" readonly/>
                </li>
                <li style="margin-left: -4px;">
                    <span class="tubiao am-icon-calendar"></span>
                    <input type="text" name="end" id="end"
                           class="am-form-field am-input-sm am-input-zm  am-icon-calendar"
                           placeholder="结束日期" data-am-datepicker="{theme: 'success',}" readonly/>
                </li>
                <li style="margin-left: -10px"><input type="text" class="am-form-field am-input-sm am-input-xm"
                                                      placeholder="关键词搜索"
                                                      style="margin-top: 0px;" id="key"/></li>
                <li>
                    <button type="button" class="am-btn am-radius am-btn-xs am-btn-success" id="search">搜索
                    </button>
                </li>
            </ul>
        </div>
        <form class="am-form am-g">
            <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
                <thead>
                <tr class="am-success">
                    <th class="table-check"><input type="checkbox" name="checkall"/></th>
                    {#                    <th class="table-id">排序</th>#}
                    <th class="table-id">ID</th>
                    <th class="table-title" style="width: 320px;">标题</th>
                    <th class="table-user">发布用户</th>
                    <th class="table-type">类别</th>
                    <th class="table-author am-hide-sm-only">上架/下架/出售 <i class="am-icon-check am-text-warning"></i> <i
                            class="am-icon-close am-text-primary"></i> <i class="am-icon-circle-o am-text-success"></i>
                    </th>
                    <th class="table-date am-hide-sm-only">发布日期</th>
                    <th class="table-area">地区</th>
                    <th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody id="goods">
                </tbody>
            </table>
            <div class="am-btn-group am-btn-group-xs">
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 删除</button>
                <button type="button" value="0" class="am-btn am-btn-default all_up"><span
                        class="am-icon-arrow-up"></span>
                    上架
                </button>
                <button type="button" value="2" class="am-btn am-btn-default all_up"><span
                        class="am-icon-arrow-down"></span> 下架
                </button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 移动</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 移动</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
            <ul class="am-pagination am-fr" id="page">
            </ul>
            <hr/>
            <p>备注：
                <a class="am-text-success am-icon-search" title="商品详情"> 商品详情</a>
                <a class="am-icon-arrow-up am-text-secondary" title="上架商品"> 上架商品</a>
                <a class="am-icon-arrow-down am-text-warning" title="下架商品"> 下架商品</a>
                <a class="am-icon-trash-o am-text-danger" title="删除商品"> 删除商品</a></p>
        </form>
        {% include "admin_bottom.html" %}
    </div>
{% endblock %}
{% block js %}
    <script>
        $('.all_up').click(function () {
            var checkID = [];//定义一个空数组
            $("input[name='checkbox']:checked").each(function (i) {//把所有被选中的复选框的值存入数组
                checkID[i] = $(this).val();
            });
            console.log(checkID);
            action = $(this).val()
            $.ajax({
                type: "POST",
                url: "/admin_update/",
                data: {'checkID': JSON.stringify(checkID), 'action': action},
                async: false,
                success: function (data) {
                    alert("操作成功")
                    $("[name='checkall']").attr("checked", false);
                    $("input[name='checkbox']:checked").each(function (i) {//把所有被选中的复选框的值存入数组
                        $(this).attr("checked", false);
                    });
                    if (action == '0') {
                        cla = "am-icon-check am-text-warning"
                    } else {
                        cla = "am-icon-close am-text-primary"
                    }
                    for (j = 0; j < checkID.length; j++) {
                        $("#" + checkID[j]).attr("class", cla);
                    }
                }
            })
        });

        function detail(obj) {
            goods_id = $(obj).val();
            $(location).attr('href', '/goods_detail/?goods=' + goods_id);
        }

        function pg(obj) {
            page = $(obj).attr('value')
            console.log(page)
            getgoods(page)
        }

        function getgoods(page) {
            key = $('#key').val();
            start = $('#start').val();
            end = $('#end').val();
            goods_type = $('#goods_type').val();
            goods_state = $('#goods_state').val();
            $.ajax({
                type: "POST",
                url: "/admin_search_goods/",
                data: {
                    'start': start,
                    'end': end,
                    'goods_type': goods_type,
                    'goods_state': goods_state,
                    'key': key,
                    'page': page
                },
                beforeSend: function (XMLHttpRequest) {
                    $("#goods").text('');
                    $('#page').text('');
                    $("#goods").append("<tr><td colspan='9' style='text-align: center'>数据加载中</td></tr>")
                }, //请求前进行的操作
                success: function (req) {
                    $("#goods").text('');
                    //处理返回后的数据
                    var data = req['data'];
                    var pagelist = req['pagelist']
                    var page = req['page']
                    var num_pages = req['num_pages']
                    if (data.length != 0) {
                        for (var i = 0; i < data.length; i++) {
                            var goods_id = data[i].goods_id;
                            var goods_title = data[i].goods_title;
                            var user_name = data[i].user_name;
                            var goods_category_id = data[i].goods_category_id;
                            var goods_state = data[i].goods_state;
                            var release_date = data[i].release_date;
                            var goods_address = data[i].goods_address;
                            appendData(goods_id, goods_title, user_name, goods_category_id, goods_state, release_date, goods_address);
                        }
                    } else {
                        $("#goods").append("<tr><td colspan='9' style='text-align: center'>没有符合条件的商品</td></tr>")
                    }
                    if (page != 1) {
                        $('#page').append('<li><a href="javascript:void(0);" onclick="pg(this)" value="' + (page - 1) + '">«</a></li>')
                    }
                    else {
                        $('#page').append('<li class="am-disabled"><a href="javascript:void(0);">«</a></li>')
                    }
                    for (var i = 0; i < pagelist.length; i++) {
                        var pg = pagelist[i]
                        if (pg == page) {
                            $('#page').append('<li class="am-active"><a href="javascript:void(0);">' + pg + '</a></li>')
                        }
                        else {
                            $('#page').append('<li><a href="javascript:void(0);" onclick="pg(this)" value="' + pg + '">' + pg + '</a></li>')
                        }
                    }
                    if (page != num_pages) {
                        $('#page').append('<li><a href="javascript:void(0);" onclick="pg(this)" value="' + (page + 1) + '">»</a></li>')
                    }
                    else {
                        $('#page').append('<li class="am-disabled"><a href="javascript:void(0);">»</a></li>')
                    }

                },
                error: function () {
                    $("#goods").text('');
                    $("#goods").append("<tr><td colspan='9' style='text-align: center'>网络繁忙，请稍后重试</td></tr>")
                }
            })
        }

        function down(obj) {
            goods_id = $(obj).val();
            $.ajax({
                type: "POST",
                url: "/admin_update/",
                async: false,
                data: {'goods_id': goods_id, 'action': '2'},
                success: function (data) {
                    //处理返回后的数据
                    if (data) {
                        $("#" + goods_id).attr("class", "am-icon-close am-text-primary");
                        alert("下架成功")
                        console.log(data)
                    } else {
                        {#alert("下架失败，请刷新页面重试")#}
                    }
                }, error: function () {
                    console.log("业务繁忙")
                }
            })
        }

        function up(obj) {
            goods_id = $(obj).val();
            $.ajax({
                type: "POST",
                url: "/admin_update/",
                async: false,
                data: {'goods_id': goods_id, 'action': '0'},
                success: function (data) {
                    //处理返回后的数据
                    if (data) {
                        $("#" + goods_id).attr("class", "am-icon-check am-text-warning");
                        alert("上架成功")
                    } else {
                        {#alert("上架失败，请刷新页面重试")#}
                    }
                }, error: function () {
                    console.log("业务繁忙")
                }
            })
        }

        function del(obj) {
            goods_id = $(obj).val();
            $.ajax({
                type: "POST",
                url: "/admin_update/",
                async: false,
                data: {'goods_id': goods_id, 'action': 'del'},
                success: function (data) {
                    //处理返回后的数据
                    if (data) {
                        $("#tr" + goods_id).text('')
                        alert("删除成功")
                    } else {
                        {#alert("上架失败，请刷新页面重试")#}
                    }
                }, error: function () {
                    alert("业务繁忙")
                }
            })
        }
    </script>
    <script>
        function appendData(goods_id, goods_title, user_name, goods_category_id, goods_state, release_date, goods_address) {
            if (goods_state == '2') {
                goods_state = 'am-icon-close am-text-primary'
            }
            else if (goods_state == '0') {
                goods_state = 'am-icon-check am-text-warning'
            } else {
                goods_state = 'am-icon-circle-o am-text-success'
            }
            var text = '<tr class="goods" id="tr' + goods_id + '">\n' + '<td><input type="checkbox" name="checkbox" value="' + goods_id + '"/></td>\n' +
                '<td>' + goods_id + '</td>\n' + '<td>' + goods_title + '</td>\n' +
                '                        <td>' + user_name + '</td>\n' +
                '                        <td>' + goods_category_id + '</td>\n' +
                '                        <td class="am-hide-sm-only">\n' +
                '                            \n' +
                '                                <i class="' + goods_state + '" id="' + goods_id + '"></i>\n' +
                '                            \n' +
                '                        </td>\n' +
                '                        <td class="am-hide-sm-only">' + release_date + '</td>\n' +
                '                        <td>' + goods_address + '</td>\n' +
                '                        <td>\n' +
                '                            <div class="am-btn-toolbar">\n' +
                '                                <div class="am-btn-group am-btn-group-xs">\n' +
                '                                    <button type="button" onclick="detail(this)" value="' + goods_id + '"\n' +
                '                                            class="am-btn am-btn-default am-btn-xs am-text-success am-round"\n' +
                '                                            title="商品详情"><span\n' +
                '                                            class="am-icon-search"></span></button>\n' +
                '                                    <button type="button" onclick="up(this)" value="' + goods_id + '"\n' +
                '                                            class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"\n' +
                '                                            title="上架商品"><span\n' +
                '                                            class="am-icon-arrow-up"></span></button>\n' +
                '                                    <button type="button" onclick="down(this)" value="' + goods_id + '"\n' +
                '                                            class="am-btn am-btn-default am-btn-xs am-text-warning  am-round"\n' +
                '                                            title="下架商品"><span\n' +
                '                                            class="am-icon-arrow-down"></span></button>\n' +
                '                                    <button type="button" onclick="del(this)" value="' + goods_id + '"\n' +
                '                                            class="am-btn am-btn-default am-btn-xs am-text-danger am-round"\n' +
                '                                            title="强制删除"><span\n' +
                '                                            class="am-icon-trash-o"></span></button>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                        </td>\n' +
                '                    </tr>';
            $("#goods").append(text)
        }
    </script>
    <script>
        $('input[name="checkall"]').on("click", function () {
            if ($(this).is(':checked')) {
                $('input[name="checkbox"]').each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $('input[name="checkbox"]').each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
    </script>
    <script>
        $('#start,#end').click(function () {
            $(this).val("")
        });
        $(document).ready(function () {
            $('#start,#end').datepicker().on('changeDate.datepicker.amui', function (event) {
                getgoods()
            });

            $("#goods_state,#goods_type").change(function () {
                getgoods()
            });

            $('#search').click(function () {
                getgoods()
            });
            $(window).keydown(function (event) { //这个是你在页面按任意按钮的时候会触发该方法
                if (event && event.keyCode == 13) {
                    getgoods()
                }
            });
            getgoods()
        })
    </script>

{% endblock %}