<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-估价</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <style>
        table select {
            width: 200px;
        }
    </style>
</head>
<body>
{% include 'home_head.html' %}
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/images/haima3.png" width="200" height="100"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/publish/" style="color: #666">发布闲置</a></div>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/assess/" style="color: #ff8800">一键估价</a>&nbsp;&nbsp;&nbsp;&nbsp;|
    </div>
</div>
<div id="assess">
    <div id="assess_header">
        <span>评估你的宝贝价值</span>
    </div>
    <br>
    <div id="assess_goods" class="ass">
        <table border="0">
            <tr>
                <td>宝贝类型：</td>
                <td><select>
                    <option value="phone">手机</option>
                    <option value="computer">电脑</option>
                    <option value="pad">平板</option>
                    <option value="camera">相机</option>
                    <option value="game">外设</option>
                    <option value="other">其他</option>
                </select></td>
            </tr>
            <tr>
                <td>宝贝品牌：</td>
                <td><select id="cmbBrand" name="cmbBrand"></select></td>
                <td><span class="error_mes error_mes1">请选择手机品牌</span></td>
            </tr>
            <tr>
                <td>宝贝型号：</td>
                <td><select id="cmbModel" name="cmbModel" class="assess"></select></td>
                <td><span class="error_mes error_mes2">请选择手机型号</span></td>
            </tr>
            <tr>
                <td>宝贝配置：</td>
                <td><select id="cmbConfiguration" name="cmbConfiguration"></select></td>
                <td><span class="error_mes error_mes3">请选择手机配置</span></td>
            </tr>
            <tr>
                <td>宝贝颜色：</td>
                <td>
                    <select name="" id="phone_color">
                        <option value="1">白色</option>
                        <option value="2">黑色</option>
                        <option value="3">金色</option>
                        <option value="4">灰色</option>
                        <option value="5">银色</option>
                        <option value="6">红色</option>
                        <option value="7">蓝色</option>
                        <option value="8">粉色</option>
                        <option value="9">棕色</option>
                        <option value="10">紫色</option>
                        <option value="11">绿色</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>保修情况：</td>
                <td>
                    <select id="GT">
                        <option value="0">未过保修期</option>
                        <option value="1">过保修期</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>外观情况：</td>
                <td>
                    <select id="face">
                        <option value="0">全新</option>
                        <option value="1">九五成新以上</option>
                        <option value="2">九成新以上</option>
                        <option value="3">九成新以下</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>维修情况：</td>
                <td>
                    <select id="maintain">
                        <option value="0">无拆修</option>
                        <option value="1">有拆修情况</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>使用时间：</td>
                <td>
                    <select id="UT">
                        <option value="0">未使用</option>
                        <option value="1">三个月以内</option>
                        <option value="2">半年以内</option>
                        <option value="3">一年以内</option>
                        <option value="4">一年以上</option>
                    </select>
                </td>
            </tr>

        </table>
        <div>
            <button id="assess_button">马上估价</button>
        </div>
    </div>
    <div class="ass" id="ass_rule">
        <h1 style="font-size: x-large;text-align: center">平台估价说明</h1>
        <div style="border: #ffda44 1px solid;height: 500px;width: 300px;">
            <p style="font-size: 15px;color: black;text-indent: 8em">总 则</p>
                <p style="font-size: 13px;color: black;text-indent: 2em">为加强价格评估管理，规范价格评估行为，维护国家利益，保护评估当事人的合法权益，促进价格评估工作健康开展，依据《中华人民共和国价格管理条例》有关规定，制定本办法。
                价格评估及价格评估管理，应当遵守本办法。
                本办法所称价格评估，是指价格评估机构接受评估当事人委托，对商品与服务价格的鉴定、评估。
                国有资产评估，按照国务院有关规定执行；涉案物品，即行政执法机关、司法机关办理行政、刑事、民事、经济案件涉及的扣押、没收、追缴物品及纠纷财物等物品的价格评估，按照最高人民法院、最高人民检察院、公安部和国家计委有关规定执行。
                价格评估应当遵循客观、公正的原则，按照规定的标准、程序和方法进行评估。</p>
        </div>
    </div>
</div>
<div id="price_res" class="clearfix">
    <div id="close">
        <button id="close_fix">关闭</button>
    </div>
    <p id="p1">海马估价</p>
    <p id="assess_price">正在估价请稍等...</p>
    <form action="/publish/" method="post">
        <input type="hidden" id="price_hid" name="price_hid">
        <div id="assess_sale">
            <input type="submit" value="卖了换钱">
        </div>
    </form>
</div>

<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
    <p>电话：0512-****888 苏ICP备*******8号</p>
</div>

<script type="text/javascript" src="../static/JS/main.js"></script>
<script type="text/javascript" src="../static/JS/phone_type.js"></script>
<script>
    addressInit('cmbBrand', 'cmbModel', 'cmbConfiguration');
</script>
</body>
</html>
