<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-发布</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_info fl">
                欢迎您：<em>张 山</em>
                <a href="javascript:;" class="quit">退出</a>
            </div>
            <div class="login_btn fl">
                <a href="/login/">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order" onmouseover="showhide()">我的订单</a>
            </div>
        </div>
    </div>
</div>
<div id="order_show">
    <ul>
        <li><a href="/my_sale/">我出售的</a></li>
        <li><a href="/my_buy/">我购买的</a></li>
    </ul>
</div>

<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">商品分类</h1>
        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/publish/">发布闲置</a></li>
            <li><a href="/auction/">拍卖</a></li>
            <li><a href="/assess/">二手估价</a></li>
            <li><a href="/my_leave/">我的闲置</a></li>
        </ul>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/images/haima1.png" width="180" height="60"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/publish/" style="color: #666">发布闲置</a></div>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/assess/" style="color: #ff8800">一键估价</a>&nbsp;&nbsp;&nbsp;&nbsp;|
    </div>
</div>
<div id="assess">
    <div id="assess_header">
    </div>
    <br>
    <div id="assess_goods" class="pub">
        <form action="/assess/" method="post">
            <table border="0">
                <tr>
                    <td>宝贝类型：</td>
                    <td><select style="width: 200px">
                        <option value="phone">手机</option>
                        <option value="computer">电脑</option>
                        <option value="pad">平板</option>
                        <option value="camera">相机</option>
                        <option value="game">外设</option>
                        <option value="other">其他</option>
                    </select></td>
                </tr>
                <tr>
                    <td>宝贝品牌：</td>
                    <td><select style="width: 200px">
                        <option value="phone">手机</option>
                        <option value="computer">电脑</option>
                        <option value="pad">平板</option>
                        <option value="camera">相机</option>
                        <option value="game">外设</option>
                        <option value="other">其他</option>
                    </select></td>
                </tr>
                <tr>
                    <td>宝贝型号：</td>
                    <td><select style="width: 200px">
                        <option value="phone">手机</option>
                        <option value="computer">电脑</option>
                        <option value="pad">平板</option>
                        <option value="camera">相机</option>
                        <option value="game">外设</option>
                        <option value="other">其他</option>
                    </select></td>
                </tr>
                <tr>
                    <td>宝贝配置：</td>
                    <td><select style="width: 200px">
                        <option value="phone">手机</option>
                        <option value="computer">电脑</option>
                        <option value="pad">平板</option>
                        <option value="camera">相机</option>
                        <option value="game">外设</option>
                        <option value="other">其他</option>
                    </select></td>
                </tr>
                <tr>
                    <td>外观情况：</td>
                    <td>
                        <select style="width: 200px">
                            <option value="0">全新</option>
                            <option value="1">九五成新以上</option>
                            <option value="2">九成新以上</option>
                            <option value="3">九成新以下</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>维修情况：</td>
                    <td>
                        <select style="width: 200px">
                            <option value="0">无拆修</option>
                            <option value="1">拆修三次以下</option>
                            <option value="2">拆修三次以上</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>保修情况：</td>
                    <td>
                        <select style="width: 200px">
                            <option value="0">未过保修期</option>
                            <option value="1">过保修期</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>使用时间：</td>
                    <td>
                        <select style="width: 200px">
                            <option value="0">未使用</option>
                            <option value="1">一个月以内</option>
                            <option value="2">三个月以内</option>
                            <option value="3">半年以内</option>
                            <option value="4">一年以内</option>
                            <option value="5">一年以上</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>宝贝颜色：</td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
            </table>
            <div>
                <button id="assess_button">马上估价</button>
            </div>
        </form>
    </div>
    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
        <p>电话：0512-****888 苏ICP备*******8号</p>
    </div>
</div>
<script type="text/javascript" src="../static/JS/main.js"></script>
</body>
</html>