<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拍卖场</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" href="../static/CSS/auction_index.css">
    <link rel="stylesheet" href="../static/CSS/main.css">
      <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/JS/main.js"></script>
</head>
<body>
<div class="header_con">
    <div class="header">
       <div class="welcome fl"><span style="color: red"><b>{{ username.user_name }}</b></span>欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_btn fl">
                <a href="/login/?href=/auction_index/" target="_blank">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user_center/">用户中心</a>
                <span>|</span>
                <a href="/my_sale/" id="my_order">我的订单</a>
                <span>|</span>
                <a href="" id="my_order">留言 <img src="../static/Images/message.png" alt="" width="10" height="10"></a>
            </div>
        </div>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="index.html" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
    <div class="search_wrap fl">
        <div class="search_con">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
    </div>
<div class="guest_cart fr">
         <a href="#" class="cart_name fl">我的收藏</a>
        <div class="goods_count fl" id="show_count">15</div>
        <ul class="cart_goods_show">
            {% if not collection_list %}
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540615640800&di=10f74a08906679e36162dacb90ed2431&imgtype=0&src=http%3A%2F%2Fcdns2.freepik.com%2Ffree-photo%2Fsad-sleepy-emoticon-face-square_318-58496.jpg"
                     alt="" height="100">
                你没有收藏任何商品
            {% else %}
                {% for value in collection_list %}
                    <li>
                        <img src="{{ value.goods_imgurl }}" alt="商品图片">
                        <h4>{{ value.goods_title }}</h4>
                        <div><span style="color: red"></span>{{ value.goods_price }}</div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
<div class="Navigation_information">
    <div id="auction_Navigation">
        <a href="/my_auction_one/"><button id="my_auction">我的拍卖</button></a>
        <a href="/auction_index/"><button id="now_auction">正在拍卖</button></a>
        <a href="/history_auction/"><button id="histroy_auction">历史拍卖</button></a>
    </div>

</div>
<hr style="background-color: #16bcbd">
<div id="img_left">
    <img src="../static/Images/timg.jpg" alt="" width="160px">
</div>
<div id="img_right">
  <h1 style="font-size: 16px"><b>海马拍卖,淘你所想！</b></h1>
</div>
<a href="/Determine_auction_date/">测试拍卖时间</a>
{% for i in list1 %}
        <div id="auction_goods">
            <div id="auction_goods_img">
                <a href="/buy_auction/?id={{ i.goods.auction_goods_id }}">
                    <img src={{ i.goods.auction_goods_imgurl }} alt="" height="300px" width="300px">
                </a>
            </div>
            <div id="auction_goods_desc">
                <div id="title" style="font-size: large"><b>{{ i.goods.auction_goods_title }}</b></div>
                <div id="desc" style="font-size: medium ;word-break:break-all; ">{{ i.goods.auction_goods_desc }}</div>

                <div id="auction_messige">
                    <div id="auction_messige_desc" >
                        <div>开始时间：<span id="acution_goods_start_time">{{ i.attribute.start_date }}</span></div>
                        <br>
                        <div>结束时间：<span id="acution_goods_end_time">{{ i.attribute.end_date }}</span></div>
                        <br>
                        <div>保证金：<span>{{ i.attribute.auction_goods_margin }}</span></div>
                        <br>
                        <div>单次加价最低：<span id="auction_goods_premium">{{ i.attribute.auction_goods_floorpremium}}</span></div>
                        <br>
                        <div>商品底价：<span id="auction_goods_floorprice">{{ i.attribute.auction_goods_floorprice }}</span></div>
                        <br>
                        <div>当前价格：<span id="auction_goods_floorprice">{{ i.attribute.auction_goods_price }}</span></div>
                        <br>
                    </div>
                    <div id="auction_button" >
                       <a href="/buy_auction/?id={{ i.goods.auction_goods_id }}"><button id="go_buy">马上去拍</button></a>
                        <div id="auction_wantbuy_persons">
                        <span>{{ i.attribute.auction_goods_count }}</span>人想要
                        </div>
                    </div>

                </div>

            </div>
        </div>
{% endfor %}

</body>
</html>