<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拍卖场</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" href="../static/CSS/aution-index.css">
      <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/JS/slide.js"></script>
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_info fl">
                欢迎您：<em>张 山</em>
                <a href="javascript:;" class="quit">退出</a>
            </div>
            <div class="login_btn fl">
                <a href="login.html">登录</a>
                <span>|</span>
                <a href="register.html">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="user_center_info.html">用户中心</a>
                <span>|</span>
                <a href="cart.html">我的购物车</a>
                <span>|</span>
                <a href="user_center_order.html">我的订单</a>
            </div>
        </div>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="index.html" class="logo fl"><img src="../static/images/haima1.png" width="181" height="59"></a>
    <div class="search_wrap fl">
        <div class="search_con">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
    </div>
<div class="guest_cart fr">
        <a href="#" class="cart_name fl">我的购物车</a>
        <div class="goods_count fl" id="show_count">15</div>

        <ul class="cart_goods_show">
            <li>
                <img src="../static/images/goods/goods001.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>4</div>
            </li>
            <li>
                <img src="../static/images/goods/goods002.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>5</div>
            </li>
            <li>
                <img src="../static/images/goods/goods003.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>6</div>
            </li>
            <li>
                <img src="../static/images/goods/goods003.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>6</div>
            </li>
        </ul>
    </div>
</div>
<div class="Navigation_information">
    <div id="aution_Navigation">
        <button id="now_aution">正在拍卖</button>
        <button id="my_aution">我的拍卖</button>
        <button id="histroy_aution">历史拍卖</button>
    </div>
    <div id="aution_classification">
        <div>拍卖分类：</div>
        <div><a href="">手机</a></div>
        <div><a href="">相机</a></div>
        <div><a href="">电脑</a></div>
        <div><a href="">外设</a></div>

    </div>

</div>
<hr>


</body>
</html>