<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购买拍卖商品</title>

    <link rel="stylesheet" href="../static/CSS/buy_auction.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" href="../static/CSS/auction_index.css">
    <link rel="stylesheet" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/JS/main.js"></script>
    <style type="text/css">
        div.up {
            width: 350px;
            height: 300px;
            background: #CCCCCC;
            overflow: hidden;
        }

        div.up img {
            width: 100%;
            height: 100%;
        }

        #down img {
            width: 65px;
            height: 100px;
            border: 1px solid #505450;
            opacity: 0.3;
            filter: alpha(opacity=30);
        }

        #down img.change_image {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        div.down {
            width: 350px;
            height: 100px;
            margin-left: 20px;
        }

    </style>
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">{{ username.user_name }}欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_btn fl">
                <a href="/login/?href=/history_auction/" target="_blank">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user_center/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order">我的订单</a>
                <span>|</span>
                <a href="" id="my_order">留言 <img src="../static/Images/message.png" alt="" width="10" height="10"></a>
            </div>
        </div>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
    <div class="search_wrap fl">
        <div class="search_con">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
    </div>
    <div class="guest_cart fr">
        <a href="#" class="cart_name fl">我的收藏</a>
        <div class="goods_count fl" id="show_count">15</div>

        <ul class="cart_goods_show">
            <li>
                <img src="../static/Images/goods/goods001.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>4</div>
                1
            </li>
            <li>
                <img src="../static/Images/goods/goods002.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>5</div>
            </li>
            <li>
                <img src="../static/Images/goods/goods003.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>6</div>
            </li>
            <li>
                <img src="../static/Images/goods/goods003.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>6</div>
            </li>
        </ul>
    </div>
</div>
<div class="Navigation_information">
    <div id="auction_Navigation">
        <a href="/my_auction/">
            <button id="my_auction">我的拍卖</button>
        </a>
        <a href="/auction_index/">
            <button id="now_auction">正在拍卖</button>
        </a>
        <a href="/history_auction/">
            <button id="histroy_auction">历史拍卖</button>
        </a>
    </div>
    <div id="auction_classification">
        <div>拍卖分类：</div>
        <div><a href="">手机</a></div>
        <div><a href="">相机</a></div>
        <div><a href="">电脑</a></div>
        <div><a href="">外设</a></div>
    </div>

</div>
<hr style="background-color: #16bcbd">
{% for i in list1 %}
    <div class="goods_detail_con clearfix">
    <div class="up fl" id="up"><img src={{ i.goods.auction_goods_imgurl }}></div>
    <div class="down" id="down">
        <table>
            <tr>
                <td><img src="../static/images/game.png"></td>
                <td><img src="../static/images/camera.png"/></td>
                <td><img src="../static/images/computer.png"/></td>
                <td><img src="../static/images/pad.jpg"/></td>
                <td><img src="../static/images/phone.png"/></td>
            </tr>
        </table>
    </div>

    <div class="goods_detail_list fr">
        <h3>{{ i.goods.auction_goods_title }}</h3>
        <div class="prize_bar">
        <span class="show_pirze">¥<em>{{ i.attribute.auction_goods_price }}</em></span>
        <a href="" class="goods_judge">{{ i.attribute.auction_goods_count }}次加价过</a>
        </div>
        <div class="goods_num clearfix">
        <div class="type_select">
            <label>开始时间：</label>
            <span id="startdate">{{ i.attribute.start_date }}</span>
        </div>
        <div class="type_select" style="display: none">
            <label>开始时间：</label>
            <span id="goods_id">{{ i.goods.auction_goods_id }}</span>
        </div>
        <div class="type_select">
            <label>结束时间:</label>
            <span id="enddate">{{ i.attribute.end_date }}</span>
        </div>
        <div class="type_select">
            <label>商品底价:</label>
            <span id="floorprice">{{ i.attribute.auction_goods_floorprice }}</span>
        </div>
        <div class="type_select">
            <label>最低加价:</label>
            <span id="floor_premium">{{ i.attribute.auction_goods_floorpremium }}</span>
        </div>
        <div class="type_select">
            <label>保证金:</label>
            <span id="acution_goods_margin">{{ i.attribute.auction_goods_margin }}</span>
        </div>
             <div class="type_select">
            <label>当前价格</label>
            <span id="old_price">{{ i.attribute.auction_goods_price }}</span>
        </div>
            </div>
        <div class="type_select" style="display: none">
            <label>这里是隐藏的这个商品的用户id</label>
            <span id="goods_user_id">{{ i.goods.auction_goods_user_id}}</span>
        </div>


        <div class="type_select">
            <label>输入竞拍加价:</label>
            <span><input type="text" id="auction_premium"></span>
            <span>当前总计：<span id="auction_goods_price" style="color: red"></span></span>
        </div>
        <div class="operate_btn">
            <button class="buy_btn" id="buy_btn">立即竞拍</button>
            <a href="" class="add_collection" id="add_collection">加入收藏</a>
        </div>
    </div>

        <div id="buy_now_message">
            <button id="shutdown" >
                关闭
            </button>
                <div class="type_select">
                        <label>当前价格:</label>
                        <span id="old_price">{{ i.attribute.auction_goods_price }}</span>
                </div>
              <div class="type_select">
                        <label>竞拍加价:</label>
                        <span id="buy_auction_premium">0</span>
                </div>
              <div class="type_select">
                        <label>总计:</label>
                        <span id="buy_auction_goods_price">0</span>
                </div>
               <div class="type_select">
                        <label>需先支付保证金:</label>
                        <span >{{ i.attribute.auction_goods_margin }}</span>
                </div>
              <div class="type_select">
                  <label>请输入支付密码:</label>
                    <input type="text" maxlength="6" id="pay_password">
                </div>

                <div class="type_select">
                    <button id="confirm_buy">确认竞拍</button>
                </div>

                <div id="pay_error">
                    竞拍错误
                </div>


            </div>
        <div id="price_error" >
            <button id="shutdown_error" onclick="javascript:window.location.reload() ">
                关闭
            </button>
            <br>
            <div  style="font-size: 16px; color: white;margin-top: 70px;">
                必须输入正确的价格!
            </div>
            <span style="color: white;float: right;margin-top: 60px;">
                海马平台温馨提示
            </span>
        </div>




    </div>
        <div class="main_wrap2 clearfix" >
        <div class="wrap fr clearfix" style="clear: both;float: left;">
            <ul class="detail_tab clearfix">
                <li class="active">宝贝信息</li>
                <li>拍卖须知</li>
                <li>安全保证</li>
            </ul>
            <div class="tab_content current" style="font-size: 12px;">
                <dl>
                    <dd>
                        <p style="text-indent: 2em">
                            {{ i.goods.auction_goods_desc }}
                        </p>
                    </dd>
                </dl>
            </div>

            <div class="tab_content" style="font-size: 12px;">

                <dl style="margin-bottom: 25px">
                    <dt>拍卖须知：</dt>
                    <dd>它纤薄如刃，轻盈如羽，却又比以往速度更快、性能更强大。它为你展现的，是迄今最明亮、最多彩的 Mac
                        笔记本显示屏。它更配备了触控栏，一个内置于键盘的玻璃面多点触控条，让你能在需要时快速取用各种工具。MacBook Pro 是对我们突破性理念的一场出色演绎，而它，也正期待着演绎你的奇思妙想。
                    </dd>
                </dl>
            </div>
            <div class="tab_content">
                <dl>
                    <dt>安全保证：</dt>
                    <dd>它纤薄如刃，轻盈如羽，却又比以往速度更快、性能更强大。它为你展现的，是迄今最明亮、最多彩的 Mac
                        笔记本显示屏。它更配备了触控栏，一个内置于键盘的玻璃面多点触控条，让你能在需要时快速取用各种工具。MacBook Pro 是对我们突破性理念的一场出色演绎，而它，也正期待着演绎你的奇思妙想。
                    </dd>
                </dl>
            </div>
        </div>
    </div>
     <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
        <p>电话：0512-****888 苏ICP备*******8号</p>
    </div>
    </div>
{% endfor %}
<script type="text/javascript" src="../static/JS/main.js"></script>
<script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#up img').attr('src', $('#down img').eq(0).attr('src'));//打开即把第一张图地址给#up img
        $('#down img').eq(0).addClass("change_image");//打开即把第一个缩略图选中
        $('#down img').hover(function () {
            $('#down img').removeClass("change_image");//先清除所有选中
            $(this).addClass("change_image");//当前图片选中
            $('#up img').attr('src', $(this).attr('src'));//当前图片地址给#up img
        });
    });
</script>
<script>
    $(function () {
        var $tab_btn = $('.detail_tab li');
        var $tab_con = $('.tab_content');
        $tab_btn.click(function () {
            $(this).addClass('active').siblings().removeClass('active');
            $tab_con.eq($(this).index()).addClass('current').siblings().removeClass('current');
        })
    })
</script>
<script>
    $('.review').click(function () {
        if ($(".review").val() == "回复") {
            $(".review").val("收起回复");
            $(".hidreview").show();
        }
        else {
            $(".review").val("回复");
            $(".hidreview").hide();
        }
    })
</script>
{#拍卖总价的计算#}
<script>
    $(function () {
        $("#auction_premium").blur(function () {
            $.ajax(
                {
                    url:'/calculate_price/',
                    type:'post',
                    dataType:'text',
                    data:{
                        permium :$("#auction_premium").val(),
                        goods_user_id:$("#goods_user_id").text(),
                        old_price : $("#old_price").text(),
                        floorprice:$("#floorprice").text(),
                        floormium : $("#floor_premium").text(),
                    },
                    success:function (data) {
                        document.getElementById('auction_goods_price').innerText = data;
                        document.getElementById('buy_auction_goods_price').innerText = data;
                    }

                }
            )

        })
    })

</script>
<script>
    $("#buy_btn").click(function () {
        permium = $("#auction_premium").val();
        price = $("#old_price").text();
        info=$("#auction_goods_price").text();
        var ival = parseInt(info);
        if (!isNaN(ival)) {
            $("#buy_now_message").show();
              $("#price_error").hide();
            document.getElementById("buy_auction_premium").innerText = permium;

        }
        else {
            $("#buy_now_message").hide();
            $("#price_error").show();
        }
    })
    $("#shutdown").click(function () {
        $("#buy_now_message").hide()
        window.location.reload();

    })
    $("#shutdown_error").click(function () {
        $("#price_error").hide()

    })
    $("#confirm_buy").click(function () {
        margin=$("#acution_goods_margin").text();
        permium = $("#auction_premium").val();
        floorprice=$("#floorprice").text();
        pay_password=$("#pay_password").val();
        old_price= $("#old_price").text();
        price=$("#buy_auction_goods_price").text();
        goods_id=$("#goods_id").text();
            $.post('/confirm_buy/',
                {
                    "floorprice": floorprice,
                    'price': price,
                    'permium': permium,
                    "old_price":old_price,
                    "goods_id":goods_id,
                    "pay_password":pay_password,
                    "margin":margin,
                }
                ,function (data) {
                switch (data.msg)
                {
                    case "no_pay_password":
                           $('#pay_error').html(function () {

                            document.getElementById('pay_error').style.display='block';
                            document.getElementById('pay_error').innerText = "请输入支付密码";
                            });
                        break;
                    case "no_user_password":
                           $('#pay_error').html(function () {
                               document.getElementById('pay_error').style.display='block'
                            document.getElementById('pay_error').innerText = "您还未设置支付密码，请前往个人中心设置";
                            });

                        break;
                    case "pay_password_length":
                           $('#pay_error').html(function () {
                               document.getElementById('pay_error').style.display='block'
                            document.getElementById('pay_error').innerText = "密码长度不能少于六位数";
                            });
                        break;
                    case "diferent_password":
                           $('#pay_error').html(function () {
                               document.getElementById('pay_error').style.display='block'
                            document.getElementById('pay_error').innerText = "支付密码错误";
                            });
                        break;
                    case "money_less":
                           $('#pay_error').html(function () {
                               document.getElementById('pay_error').style.display='block'
                            document.getElementById('pay_error').innerText = "账户余额不足";
                            });
                        break;
                    case "same_user_buy":
                           $('#pay_error').html(function () {
                               document.getElementById('pay_error').style.display='block'
                            document.getElementById('pay_error').innerText = "此商品正在被你竞拍";
                            });
                        break;
                     case "pay_ok":
                           location.href = '/buy_auction_ok/'
                        break;




                }
                }
                ,'json'
            )

    })
</script>
</body>
</html>