<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-商品详情</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <style type="text/css">
        div.up {
            width: 350px;
            height: 400px;
            background: #CCCCCC;
            overflow: hidden;
        }

        div.up img {
            width: 100%;
            height: 100%;
        }

        #down img {
            width: 65px;
            height: 70px;
            border: 1px solid #505450;
            opacity: 0.6;
            filter: alpha(opacity=30);
        }

        #down img.change_image {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        div.down {
            width: 350px;
            height: 100px;
            margin-left: 20px;
        }

    </style>

</head>
<body onload="href()">
{% include 'home_head.html' %}
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
    <div class="search_wrap fl">
        <div class="search_con">
            <form action="/goods_list/" method="get">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="hidden" name="price_low" value="{{ price_low }}">
                <input type="hidden" name="price_high" value="{{ price_high }}">
                <input type="submit" class="input_btn fr" value="搜  索">
            </form>
        </div>
    </div>

    <div class="guest_cart fr">
        <a href="#" class="cart_name fl">我的收藏</a>
        <div class="goods_count fl" id="show_count">15</div>
        <ul class="cart_goods_show">
            {% if not collection_list %}
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540615640800&di=10f74a08906679e36162dacb90ed2431&imgtype=0&src=http%3A%2F%2Fcdns2.freepik.com%2Ffree-photo%2Fsad-sleepy-emoticon-face-square_318-58496.jpg"
                     alt="" height="100">
                你没有收藏任何商品
            {% else %}
                {% for value in collection_list %}
                    <li>
                        <img src="{{ value.goods_imgurl }}" alt="商品图片">
                        <h4>{{ value.goods_title }}</h4>
                        <div><span style="color: red"></span>{{ value.goods_price }}</div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar">
        <div class="sub_menu_con fl">
            <h1 class="fl">商品分类</h1>
            <ul class="sub_menu">
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/phone.png" alt="" height="30" width="15" class="pic1"><a
                            href="/goods_list/?q=手机&price_low=&price_high=" class="main_type">手机</a><a
                            href="/goods_list/?q=手机壳&price_low=&price_high=" class="child_type">手机壳</a><a
                            href="/goods_list/?q=充电器&price_low=&price_high=" class="child_type">充电器</a><a
                            href="/goods_list/?q=耳机&price_low=&price_high=" class="child_type">耳机</a><a
                            href="/goods_list/?q=数据线&price_low=&price_high=" class="child_type">配件</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">品牌 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=华为&price_low=&price_high=">华为</a>
                                <a href="/goods_list/?q=小米&price_low=&price_high=">小米</a>
                                <a href="/goods_list/?q=苹果&price_low=&price_high=">苹果</a>
                                <a href="/goods_list/?q=vivo&price_low=&price_high=">vivo</a>
                                <a href="/goods_list/?q=oppo&price_low=&price_high=">oppo</a>
                                <a href="/goods_list/?q=魅族&price_low=&price_high=">魅族</a>
                                <a href="/goods_list/?q=努比亚&price_low=&price_high=">努比亚</a>
                                <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                                <a href="/goods_list/?q=一加&price_low=&price_high=">一加</a>
                                <a href="/goods_list/?q=诺基亚&price_low=&price_high=">诺基亚</a>
                                <a href="/goods_list/?q=HTC&price_low=&price_high=">HTC</a>
                                <a href="/goods_list/?q=摩托罗拉&price_low=&price_high=">摩托罗拉</a>
                                <a href="/goods_list/?q=中兴&price_low=&price_high=">中兴</a>
                                <a href="/goods_list/?q=联想&price_low=&price_high=">联想</a>
                                <a href="/goods_list/?q=LG&price_low=&price_high=">LG</a>
                            </div>
                        </div>
                        <div class="list_group">
                            <div class="group_name fl">配件 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=手机壳&price_low=&price_high=">手机壳</a>
                                <a href="/goods_list/?q=充电器&price_low=&price_high=">充电器</a>
                                <a href="/goods_list/?q=电池&price_low=&price_high=">电池</a>
                                <a href="/goods_list/?q=耳机&price_low=&price_high=">耳机</a>
                                <a href="/goods_list/?q=数据线&price_low=&price_high=">数据线</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/computer.png" alt="" height="30" width="15" class="pic1"><a
                            href="/goods_list/?q=电脑&price_low=&price_high=" class="main_type">电脑</a><a
                            href="/goods_list/?q=笔记本&price_low=&price_high=" class="child_type">笔记本</a><a
                            href="/goods_list/?q=台式机&price_low=&price_high=" class="child_type">台式机</a><a
                            href="/goods_list/?q=平板电脑&price_low=&price_high=" class="child_type">平板电脑</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">电脑 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=笔记本&price_low=&price_high=">笔记本</a>
                                <a href="/goods_list/?q=平板电脑&price_low=&price_high=">平板电脑</a>
                                <a href="/goods_list/?q=台式机整机&price_low=&price_high=">台式机整机</a>
                            </div>
                            <div class="group_name fl">外设 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=显示器&price_low=&price_high=">显示器</a>
                                <a href="/goods_list/?q=鼠标&price_low=&price_high=">鼠标</a>
                                <a href="/goods_list/?q=CPU&price_low=&price_high=">CPU</a>
                                <a href="/goods_list/?q=主板&price_low=&price_high=">主板</a>
                                <a href="/goods_list/?q=显卡&price_low=&price_high=">显卡</a>
                                <a href="/goods_list/?q=内存&price_low=&price_high=">内存</a>
                                <a href="/goods_list/?q=硬盘&price_low=&price_high=">硬盘</a>
                                <a href="/goods_list/?q=手机&price_low=&price_high=电源">电源</a>
                                <a href="/goods_list/?q=声卡&price_low=&price_high=">声卡</a>
                                <a href="/goods_list/?q=网卡&price_low=&price_high=">网卡</a>
                                <a href="/goods_list/?q=散热器&price_low=&price_high=">散热器</a>
                                <a href="/goods_list/?q=U盘&price_low=&price_high=">U盘</a>
                                <a href="/goods_list/?q=闪存卡&price_low=&price_high=">闪存卡</a>
                                <a href="/goods_list/?q=移动硬盘&price_low=&price_high=">移动硬盘</a>
                            </div>
                        </div>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/camera.png" alt="" height="30" width="15" class="pic1">
                        <a href="/goods_list/?q=摄影&price_low=&price_high=" class="main_type">摄影</a><a
                            href="/goods_list/?q=相机&price_low=&price_high=" class="child_type">相机</a><a
                            href="/goods_list/?q=单反&price_low=&price_high=" class="child_type">单反</a><a
                            href="/goods_list/?q=摄像机&price_low=&price_high=" class="child_type">摄像机</a><a
                            href="/goods_list/?q=微单&price_low=&price_high=" class="child_type">微单</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">品牌 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=佳能&price_low=&price_high=">佳能</a>
                                <a href="/goods_list/?q=尼康&price_low=&price_high=">尼康</a>
                                <a href="/goods_list/?q=索尼&price_low=&price_high=">索尼</a>
                                <a href="/goods_list/?q=宾得&price_low=&price_high=">宾得</a>
                                <a href="/goods_list/?q=松下&price_low=&price_high=">松下</a>
                                <a href="/goods_list/?q=富士&price_low=&price_high=">富士</a>
                                <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                                <a href="/goods_list/?q=奥林巴斯&price_low=&price_high=">奥林巴斯</a>
                                <a href="/goods_list/?q=适马&price_low=&price_high=">适马</a>
                                <a href="/goods_list/?q=徕卡&price_low=&price_high=">徕卡</a>
                                <a href="/goods_list/?q=明基&price_low=&price_high=">明基</a>
                                <a href="/goods_list/?q=爱国者&price_low=&price_high=">爱国者</a>
                            </div>
                        </div>
                        <div class="list_group">
                            <div class="group_name fl">相机 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=相机&price_low=&price_high=">相机</a>
                                <a href="/goods_list/?q=镜头&price_low=&price_high=">镜头</a>
                                <a href="/goods_list/?q=单反&price_low=&price_high=">单反</a>
                                <a href="/goods_list/?q=摄像&price_low=&price_high=">摄像</a>
                                <a href="/goods_list/?q=胶片&price_low=&price_high=">胶片</a>
                                <a href="/goods_list/?q=微单&price_low=&price_high=">微单</a>
                                <a href="/goods_list/?q=闪光灯&price_low=&price_high=">闪光灯</a>
                                <a href="/goods_list/?q=卡西欧&price_low=&price_high=">卡西欧</a>
                                <a href="/goods_list/?q=拍立得&price_low=&price_high=">拍立得</a>
                                <a href="/goods_list/?q=三脚架&price_low=&price_high=">三脚架</a>
                                <a href="/goods_list/?q=相机包&price_low=&price_high=">相机包</a>
                                <a href="/goods_list/?q=美颜神器&price_low=&price_high=">美颜神器</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/game.png" alt="" height="30" width="15" class="pic1"><a
                            href="/goods_list/?q=电玩随身听&price_low=&price_high=" class="main_type">电玩随声听</a><a
                            href="/goods_list/?q=MP3&price_low=&price_high=" class="child_type">MP3</a><a
                            href="/goods_list/?q=PSP&price_low=&price_high=" class="child_type">PSP</a><a
                            href="/goods_list/?q=iPod&price_low=&price_high=" class="child_type">iPod</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">随身听 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=MP3&price_low=&price_high=">MP3</a>
                                <a href="/goods_list/?q=MP4&price_low=&price_high=">MP4</a>
                                <a href="/goods_list/?q=MP5&price_low=&price_high=">MP5</a>
                                <a href="/goods_list/?q=录音笔&price_low=&price_high=">录音笔</a>
                                <a href="/goods_list/?q=iPod&price_low=&price_high=">iPod</a>
                                <a href="/goods_list/?q=索尼视听&price_low=&price_high=">索尼视听</a>
                                <a href="/goods_list/?q=爱国者&price_low=&price_high=">爱国者</a>
                                <a href="/goods_list/?q=纽曼&price_low=&price_high=">纽曼</a>
                                <a href="/goods_list/?q=飞利浦&price_low=&price_high=">飞利浦</a>
                                <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                                <a href="/goods_list/?q=清华紫光&price_low=&price_high=">清华紫光</a>
                            </div>
                        </div>
                        <div class="list_group">
                            <div class="group_name fl">游戏机 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=Wii&price_low=&price_high=">Wii</a>
                                <a href="/goods_list/?q=PSP&price_low=&price_high=">PSP</a>
                                <a href="/goods_list/?q=PS3&price_low=&price_high=">PS3</a>
                                <a href="/goods_list/?q=xbox&price_low=&price_high=">xbox</a>
                                <a href="/goods_list/?q=游戏软件&price_low=&price_high=">游戏软件</a>
                                <a href="/goods_list/?q=酷比魔方&price_low=&price_high=">酷比魔方</a>
                                <a href="/goods_list/?q=索尼电玩&price_low=&price_high=">索尼电玩</a>
                                <a href="/goods_list/?q=任天堂&price_low=&price_high=">任天堂</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newli" style="border-bottom: 0px">
                    <div class="level1">
                        <img src="../static/Images/pad.png" alt="" height="30" width="15" class="pic1"><a href="#"
                                                                                                          class="main_type">其他</a><a
                            href="/goods_list/?q=充电宝&price_low=&price_high=" class="child_type">充电宝</a><a
                            href="/goods_list/?q=支架&price_low=&price_high=" class="child_type">支架</a><a href="车载充电器"
                                                                                                        class="child_type">车载充电器</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">其他 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=充电宝&price_low=&price_high=">充电宝</a>
                                <a href="/goods_list/?q=底座&price_low=&price_high=">底座</a>
                                <a href="/goods_list/?q=支架&price_low=&price_high=">支架</a>
                                <a href="/goods_list/?q=车载充电器&price_low=&price_high=">车载充电器</a>
                                <a href="/goods_list/?q=电脑包&price_low=&price_high=">电脑包</a>
                                <a href="/goods_list/?q=取卡针&price_low=&price_high=">取卡针</a>
                                <a href="/goods_list/?q=音响&price_low=&price_high=">音响</a>
                                <a href="/goods_list/?q=基站&price_low=&price_high=">基站</a>
                                <a href="/goods_list/?q=路由器&price_low=&price_high=">路由器</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/publish/">发布闲置</a></li>
            <li><a href="/auction_index/">拍卖</a></li>
            <li><a href="/assess/">二手估价</a></li>
            <li><a href="/user_center/">我的海马</a></li>
        </ul>
    </div>
</div>

<div class="goods_detail_con clearfix">
    <div class="up fl left" id="up">
        <img src="">
        <span></span>
    </div>
    <div class="zoom left"></div>
    <div class="down" id="down">
        <table style="margin-left: 1.5px">
            <tr>
                {% for img in img_list %}
                    <td><img src="{{ img }}"></td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div id="detail_user">
        {% for goods in goods_list %}
            <div id="goods_detail_list fr" class="detail_right">
            <h3 id="goods_title">{{ goods.goods_title }}</h3>
            <div class="prize_bar">
                <span class="show_pirze">¥<em id="goods_price">{{ goods.goods_price }}</em></span>
                <a href="" class="goods_judge">{{ goods.goods_browse_count }}人浏览 {{ collection_count }}</a>
            </div>
            <div class="goods_num clearfix">
                <div class="type_select">
                    <label>成色：</label>
                    {% if goods.goods_appearance == 4 %}
                        <span>全新</span>
                    {% elif goods.goods_appearance == 3 %}
                        <span>九五新</span>
                    {% elif goods.goods_appearance == 2 %}
                        <span>九成新</span>
                    {% elif goods.goods_appearance == 1 %}
                        <span>八五新</span>
                    {% endif %}
                </div>
                <div class="type_select">
                    <label>所在地:</label>
                    <span>{{ goods.goods_address }}</span>
                </div>
                <span id="goods_id" style="display: none">{{ goods.goods_id }}</span>
                <div class="type_select">
                    <label>发布日期:</label>
                    <span>{{ goods.release_date }}</span>
                </div>
                <div class="type_select">
                    <label>快递:</label>
                    <span>免运费</span>
                </div>
                <div class="operate_btn">
                    {% if  seller_in == "no_seller" and goods_state == "0" %}
                        <a href="/place_order/?goods_id={{ goods.goods_id }}"><button class="buy_btn">立即购买</button></a>
                        <a href="javascript:;" class="add_cart" id="add_cart">加入收藏</a>
                    {% elif seller_in == "no_seller" and goods_state == "1" %}
                        <a href="javascript:;" class="buy_btn">已经出售</a>
                    {% elif seller_in == "no_seller" and goods_state == "2" %}
                        <img src="../static/Images/lower_goods.png" alt="" height="80" width="400">
                        {#                        <a href="javascript:" class="buy_btn" style="color: #2d64b3">已经下架</a>#}
                    {% elif seller_in == "seller_in" and goods_state == "0" %}
                        <a href="javascript:;" class="buy_btn" id="lower_goods">下架商品</a>
                        <a href="/publish/?goods_id={{ goods.goods_id }}" class="add_cart" id="modify_goods">修改商品</a>
                    {% elif seller_in == "seller_in" and goods_state == "1" %}
                        <a href="javascript:;" class="add_cart">已经出售</a>
                    {% elif seller_in == "seller_in" and goods_state == "2" %}
                        <a href="javascript:;" class="buy_btn" style="color: #5e5e5e ">已经下架</a>
                        <a href="javascript:;" class="add_cart" id="on_shelf" style="color: red">重新上架</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="detail_right" id="user_detail">
            {% for item in seller_info %}
                <div class="info_detail">
                    <div><img src="{{ item.user_imgurl }}" alt="" height="45" width="45"></div>
                    <div><a href="" style="font-size: 16px;">{{ item.user_name }}</a></div>
                    <br>
                    <div><span title="已实名认证" class="user-verify"></span></div>
                </div>
                <div style="padding: 8px 20px;border-bottom: 1px solid #ededed">
                    <div><p>男</p>
                        <p>注册时间：{{ item.user_startdate }}</p></div>
                </div>
                <div style="padding: 8px 20px;border-bottom: 1px solid #ededed">
                    <h4>转卖 <strong>0</strong>笔，<strong>0</strong>人评价</h4>
                    <ul>
                        <li><span>卖家评分：</span><strong>{{ item.user_credit }}</strong> 分</li>
                    </ul>
                </div>
                <div style="margin: 5px;text-align: center">
                    <a href="/user_credit/?user_credit_id={{ item.user_id }}"><input type="button" value="卖家信息"
                                                                                     id="check_detail"
                                                                                     class="opsale"></a>
                    <input type="button" value="私聊卖家" id="communication" class="opsale">
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="main_wrap clearfix" style="margin-top: 500px">
        <div class="wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">宝贝信息</li>
                <li>留言</li>
                <li>安全保证</li>
            </ul>
            <div class="tab_content current">
                <dl>
                    <dd>
                        <p style="text-indent: 2em">
                            {{ goods_desc }}
                        </p>
                    </dd>
                </dl>
            </div>

            <div class="tab_content">
                <p id="leave_message_head">留言：</p>
                {% for key,value in p_comment_dict.items %}
                    <dl style="margin-bottom: 10px;border: 1px solid #eeeeee">
                        <dd class="hismessages">
                            {#获取父级回复ID#}
                            {#                            <input type="text" id="get_goods_id" value="{{ value.message_goods_id }}" hidden>#}
                            {#                            <input type="text" id="get_parent_id" value="{{ value.message_user_id }}" hidden>#}
                            {#                            <input type="text" id="get_message_id" value="{{ value.message_id }}" hidden>#}
                            {#----------------------------------------------------------#}
                            {#                            <div class="clearfix">#}
                            {#                                <a href="/user_credit/?user_credit_id={{ value.user_id }}"><img class="messages"#}
                            {#                                                                                                src="{{ value.user_imgurl }}"#}
                            {#                                                                                                alt="" height="45"#}
                            {#                                                                                                width="45"></a>#}
                            {#                                <div class="messages" style="height: 30px;line-height: 30px;">#}
                            {#                                    {% if seller_id == value.user_id %}#}
                            {#                                        <a href="/user_credit/?user_credit_id={{ value.user_id }}"#}
                            {#                                           style="color: #2d64b3;font-size: 16px">{{ value.user_name }}<span#}
                            {#                                                style="color: red">(卖家)</span>:</a>#}
                            {#                                    {% else %}#}
                            {#                                        <a href="" style="color: #2d64b3;font-size: 16px">{{ value.user_name }}:</a>#}
                            {#                                    {% endif %}#}
                            {#                                    <span style="color: #333333;font-size: 16px">{{ value.message_desc }}</span>#}
                            {#                                </div>#}
                            {#                                <div style="position: relative;top: -7px">#}
                            {#                                    <span style="color: #a3a3a3">{{ value.message_date }}&nbsp;&nbsp;&nbsp;&nbsp;</span>#}
                            {#                                    <input id="review" type="button" value="回复" class="review_{{ value.message_id }}"#}
                            {#                                           onclick="review({{ value.message_id }})">#}
                            {#                                </div>#}
                            {#                            </div>#}
                            <div class="clearfix">
                                <a href="/user_credit/?user_credit_id={{ value.user_id }}"><img class="messages"
                                                                                                src="{{ value.user_imgurl }}"
                                                                                                alt="" height="45"
                                                                                                width="45"></a>
                                <div class="messages" style="height: 30px;line-height: 30px;">
                                    {% if seller_id == value.user_id %}
                                        <a href="/user_credit/?user_credit_id={{ value.user_id }}"
                                           style="color: #2d64b3;font-size: 16px">{{ value.user_name }}:<span
                                                style="color: red">(卖家)</span></a>
                                    {% else %}
                                        <a href="/user_credit/?user_credit_id={{ value.user_id }}"
                                           style="color: #2d64b3;font-size: 16px">{{ value.user_name }}:</a>
                                    {% endif %}
                                    <span style="color: #333333;font-size: 16px">{{ value.message_desc }}</span>
                                    <div style="position: relative;top: -7px">
                                        <span style="color: #a3a3a3">{{ value.message_date }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <input id="review" type="button" value="回复"
                                               class="review_{{ value.message_id }}"
                                               onclick="review({{ value.message_id }})">
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <div style="display: none" class="hidreview_{{ value.message_id }}" id="hidreview">
                            {% for item in value.child_message %}
                                <dl>
                                    <dd style="margin-left: 75px;height: 45px;width:972px;background-color: #f7f8fa;">
                                        <input type="text" id="child_user_id_{{ item.second_message_id }}"
                                               value="{{ item.child_user_id }}" hidden>

                                        <a href="/user_credit/?user_credit_id={{ item.child_user_id }}"><img
                                                src="{{ item.user_imgurl }}" alt="" height="40" width="40"></a>
                                        <div style="margin-left: 45px;position: relative;top: -50px;">
                                            <a href="/user_credit/?user_credit_id={{ item.child_user_id }}"
                                               style="color: #2d64b3"
                                               class="c_name_{{ item.second_message_id }}">{{ item.user_name }}</a>
                                            {% if item.child_user_id == seller_id %}
                                                <span style="color:green;font-size: 14px;">{{ item.second_desc }}</span>
                                            {% else %}
                                                <span style="color: #333333;font-size: 14px">{{ item.second_desc }}</span>
                                            {% endif %}
                                            <div><span style="color: #a3a3a3">{{ item.second_date }}</span>
                                                <input id="review" class="c_review_{{ item.second_message_id }}"
                                                       type="button" value="回复"
                                                       onclick="c_review({{ item.second_message_id }})">
                                            </div>
                                        </div>
                                    </dd>
                                </dl>

                            {% endfor %}
                            <a href="" class="append_{{ value.message_id }}"></a>
                            <dd>
                                <textarea name="" id="get_child_review_{{ value.message_id }}" cols="150" rows="2"
                                          style="margin-left: 72px" onkeyup="checkLength(this,102)"></textarea>
                                <input type="button" class="send_{{ value.message_id }}" value="发 表"
                                       style="margin-left: 20px;position: relative;top: -10px;background-color: #ffda44;border: 0px;padding: 5px;border-radius: 2px">
                            </dd>
                        </div>
                        <div class="newline"></div>
                    </dl>
                {% endfor %}
                <dl>
                    <dd>
                        <img class="message" src="{{ user_imgurl }}" alt="" height="30" width="30"
                             style="border-radius: 50%;border: 1px solid grey">
                        <div class="message" style="height: 30px;line-height: 30px;">{{ login_status }}</div>
                    </dd>
                    <dd>
                        <textarea name="get_Published" id="Published" cols="180" rows="4"
                                  onkeyup="checkLength(this,104)" style="margin-left: 10px"></textarea>
                        <input type="text" value="{{ goods_id }}" id="good_id" hidden>
                    </dd>
                    <dd style="padding-left: 1070px">
                        <input type="button" id="pub_text" value="发表">
                    </dd>

                </dl>

            </div>

            <div class="tab_content">
                <dl>
                    <dt>安全保证：</dt>
                    <dd>它纤薄如刃，轻盈如羽，却又比以往速度更快、性能更强大。它为你展现的，是迄今最明亮、最多彩的 Mac
                        笔记本显示屏。它更配备了触控栏，一个内置于键盘的玻璃面多点触控条，让你能在需要时快速取用各种工具。MacBook Pro 是对我们突破性理念的一场出色演绎，而它，也正期待着演绎你的奇思妙想。
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
        <p>电话：0512-****888 苏ICP备*******8号</p>
    </div>
</div>
<div id="buy_now_message">
    <button id="shutdown_buy_now_message">关闭</button>
    <div class="type_select">
        <label>商品价格:</label>
        <span id="goods_price_show">0</span>
    </div>
    <div class="type_select">
        <label>请输入支付密码:</label>
        <input type="text" maxlength="6" id="pay_password">
    </div>
    <div class="type_select">
        <button id="goods_confirm_buy">确认竞拍</button>
    </div>
    <div id="pay_error" style="display: none">
        竞拍错误
    </div>
</div>

<script type="text/javascript" src="../static/JS/main.js"></script>
<script type="text/javascript" src="../static/JS/detail.js"></script>
<script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
<script>


</script>
<script>
    var get_message_id = 0;
    var rip_id = 0
    var button_list = {{ button_list }}
        $(document).ready(function () {
            $('#up img').attr('src', $('#down img').eq(0).attr('src'));//打开即把第一张图地址给#up img
            $('#down img').eq(0).addClass("change_image");//打开即把第一个缩略图选中
            $('#down img').hover(function () {
                $('#down img').removeClass("change_image");//先清除所有选中
                $(this).addClass("change_image");//当前图片选中
                $('#up img').attr('src', $(this).attr('src'));//当前图片地址给#up img
            });
        });
</script>
<script>
    $(function () {
        var $tab_btn = $('.detail_tab li');
        var $tab_con = $('.tab_content');
        $tab_btn.click(function () {
            $(this).addClass('active').siblings().removeClass('active');
            $tab_con.eq($(this).index()).addClass('current').siblings().removeClass('current');
        })
    })
</script>
<script>
    function review(id) {
        get_message_id = id;
        if ($(".review_" + id).val() == "回复") {
            $(".review_" + id).val("收起回复");
            $(".hidreview_" + id).show(500);
            if ("{{ goods_state }}" == "0") {
                $(".send_" + get_message_id).click(function () {
                        message_id = id;
                        child_review = $('#get_child_review_' + get_message_id).val();
                        var check = $('#get_child_review_' + get_message_id).val()
                        {#child_user_id = $('#child_user_id').val();#}
                        {#parent_id = $("#get_parent_id").val()#}
                        {#goods_id = $("#get_goods_id").val()#}
                        reply_id = rip_id;
                        if (check == "") {
                            return false
                        } else {
                            $.post('/review_ajax/', {
                                'child_review': child_review,
                                {#'child_user_id': child_user_id,#}
                                "message_id": message_id,
                                "reply_id": reply_id,
                                {#"goods_id": goods_id,#}
                            }, function (data) {
                                if (data.msg === 'need_login') {
                                    top.location.href = data.href
                                } else {
                                    $(".append_" + get_message_id).append(data.msg)
                                    var input_ = document.getElementById("get_child_review_" + get_message_id);
                                    input_.value = ""
                                }
                            }, 'json')
                        }

                    }
                );
            } else {
                $(".send_" + get_message_id).hide(500);
                $('#get_child_review_' + get_message_id).hide(500);

            }
            var button_list =
            {{ button_list }}
            for (i = 0; i < button_list.length; i++) {
                if (button_list[i] == id) {
                    $(".hidreview_" + id).show(500);
                }
                else {
                    $(".hidreview_" + button_list[i]).hide(500);
                    $(".review_" + button_list[i]).val("回复");
                }
            }

        }
        else {
            $(".review_" + id).val("回复");
            $(".hidreview_" + id).hide(500);
        }
    }

    function c_review(c_id) {
        rip_id = c_id
        var c_name = $(".c_name_" + c_id).text();
        var input_ = document.getElementById("get_child_review_" + get_message_id);
        input_.style.fontFamily = "Microsoft YaHei"
        input_.value = "回复" + c_name + ":"
    }

    //留言
    $(function () {
        if ("{{ goods_state }}" == "0") {
            $("#pub_text").click(function () {
                    Published = $('#Published').val();
                    var check = $('#Published').val();
                    goods_id = $('#good_id').val();
                    url_ = location.href;
                    if (check == "") {
                        return false
                    } else {
                        $.post('/lea_message/', {
                            'Published': Published,
                            'goods_id': goods_id,
                            'url_': url_
                        }, function (data) {
                            if (data.msg === 'need_login') {
                                top.location.href = data.href
                            } else {
                                location = location
                            }
                        }, 'json')
                    }

                }
            )
        }
        else {
            $('#Published').hide()
            $('#pub_text').hide()
        }
    })
    ;
    //商品收藏
    $(function () {
        $("#add_cart").one("click", function () {
            goods_id = $('#good_id').val();
            $.post('/collection/', {
                {#'Published': Published,#}
                'goods_id': goods_id,
                {#'url_': url_#}
            }, function (data) {
                if (data.msg === '您已收藏过改商品') {
                    {#$("#add_cart").css("background", "grey").text("已收藏")#}
                    $("#add_cart").attr('disabled', true)

                    $("#add_cart").css("background", "#F75009").text("已收藏")
                    alert("您已收藏过改商品")
                } else if (data.msg === 'need_login') {
                    top.location.href = data.href
                } else {
                    $("#add_cart").css("background", "#F75009").text("已收藏")
                    alert("收藏成功")
                }
            }, 'json')

        })

    });
    //下架商品
    $(function () {
        $("#lower_goods").one("click", function () {
            goods_id = $('#good_id').val();
            $.post('/lower_goods/', {
                {#'Published': Published,#}
                'goods_id': goods_id,
                'state': "lower"
                {#'url_': url_#}
            }, function (data) {
                if (data.msg === '下架成功') {
                    {#$("#add_cart").css("background", "grey").text("已收藏")#}
                    $("#lower_goods").css("background", "#847D7B").text("已下架")
                    $("#modify_goods").hide()
                    top.location.href = data.href
                    {#$(".send_" + get_message_id).hide()#}
                    {#$('#get_child_review_' + get_message_id).hide()#}
                    {#$('#Published').hide()#}
                    {#$('#pub_text').hide()#}
                    alert("下架成功")
                } else {
                    alert("下架失败")
                }
            }, 'json')

        })

    });
    //上架
    $(function () {
        $("#on_shelf").one("click", function () {
            goods_id = $('#good_id').val();
            $.post('/lower_goods/', {
                {#'Published': Published,#}
                'goods_id': goods_id,
                'state': "shelf"
                {#'url_': url_#}
            }, function (data) {
                if (data.msg === '上架成功') {
                    {#$("#add_cart").css("background", "grey").text("已收藏")#}
                    $("#lower_goods").css("background", "#847D7B").text("已下架")
                    $("#modify_goods").hide()
                    top.location.href = data.href
                    {#$(".send_" + get_message_id).hide()#}
                    {#$('#get_child_review_' + get_message_id).hide()#}
                    {#$('#Published').hide()#}
                    {#$('#pub_text').hide()#}
                    alert("上架成功")
                } else {
                    alert("上架失败")
                }
            }, 'json')

        })

    });
</script>
<script>
    $("#buy_now").click(function () {
        $("#buy_now_message").show()
        price = $("#goods_price").text();
        $("#goods_price_show").text(price);
    })
    $("#shutdown_buy_now_message").click(function () {
        $("#buy_now_message").hide()
        window.location.reload();
    })

    $("#goods_confirm_buy").click(function () {
        pay_password = $("#pay_password").val();
        goods_id = $("#goods_id").text();
        price = $("#goods_price").text();
        $.post("/goods_confirm_buy/",
            {
                "pay_password": pay_password,
                "goods_id": goods_id,
                "price": price,
            }
            , function (data) {
                switch (data.msg) {

                    case "no_pay_password":
                        $('#pay_error').html(function () {
                            document.getElementById('pay_error').style.display = 'block';
                            document.getElementById('pay_error').innerText = "您还没有设置支付密码请前往个人中心设置";
                        });
                        break;
                    case "pay_password_error":

                        $('#pay_error').html(function () {
                            document.getElementById('pay_error').style.display = 'block';
                            document.getElementById('pay_error').innerText = "支付密码错误";
                        });
                        break;
                    case "pay_password_length_error":

                        $('#pay_error').html(function () {
                            document.getElementById('pay_error').style.display = 'block';
                            document.getElementById('pay_error').innerText = "支付密码必须为六位";
                        });
                        break;
                    case "money_less_error":

                        $('#pay_error').html(function () {
                            document.getElementById('pay_error').style.display = 'block';
                            document.getElementById('pay_error').innerText = "账户余额不足";
                        });
                        break;
                    case "pay_ok":

                        $('#pay_error').html(function () {
                            location.href = '/buy_goods_ok/'
                        });
                        break;
                }
            }
            , 'json')


</script>


<script>
    var checkLength = function (dom, maxLength) {
        var l = 0;
        for (var i = 0; i < dom.value.length; i++) {
            if (/[\u4e00-\u9fa5]/.test(dom.value[i])) {
                l += 2;
            } else {
                l++;
            }
            if (l > maxLength) {
                dom.value = dom.value.substr(0, i);
                break;
            }
        }
    };
</script>
<a name="abc"></a>

</body>
</html>