<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-商品详情</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <style type="text/css">
        div.up {
            width: 350px;
            height: 300px;
            background: #CCCCCC;
            overflow: hidden;
        }

        div.up img {
            width: 100%;
            height: 100%;
        }

        #down img {
            width: 65px;
            height: 100px;
            border: 1px solid #505450;
            opacity: 0.3;
            filter: alpha(opacity=30);
        }

        #down img.change_image {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        div.down {
            width: 350px;
            height: 100px;
            margin-left: 20px;
        }

    </style>
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">{{ username }} 欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_btn fl">
                <a href="/login/?href=/goods_detail/?goods={{ goods_id }}">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order">我的订单</a><br>
            </div>
        </div>
    </div>
</div>
<div id="order_show">
    <ul>
        <li><a href="/my_sale/">我出售的</a></li>
        <li><a href="/my_buy/">我购买的</a></li>
    </ul>
</div>

<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
    <div class="search_wrap fl">
        <div class="search_con">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
    </div>

    <div class="guest_cart fr">
        <a href="#" class="cart_name fl">我的收藏</a>
        <div class="goods_count fl" id="show_count">15</div>

        <ul class="cart_goods_show">
            <li>
                <img src="Images/goods/goods001.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>4</div>
            </li>
            <li>
                <img src="Images/goods/goods002.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>5</div>
            </li>
            <li>
                <img src="Images/goods/goods003.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>6</div>
            </li>
            <li>
                <img src="Images/goods/goods003.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>6</div>
            </li>
        </ul>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar">
        <div class="sub_menu_con fl">
            <h1 class="fl">商品分类</h1>
            <ul class="sub_menu">
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/phone.png" alt="" height="30" width="15" class="pic1">
                        <a href="#">手机</a><a href="#">华为</a><a href="#">苹果</a><a href="#">小米</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">手机通讯 &gt</div>
                            <div class="group_detail fl">
                                <a href="#">手机</a>
                                <a href="#">对讲机</a>
                                <a href="#">以旧换新</a>
                                <a href="#">手机维修</a>
                            </div>
                        </div>
                        <div class="list_group">
                            <div class="group_name fl">运营商 &gt</div>
                            <div class="group_detail fl">
                                <a href="#">合约机</a>
                                <a href="#">选号码</a>
                                <a href="#">固话宽带</a>
                                <a href="#">办套餐</a>
                                <a href="#">充话费/流量</a>
                                <a href="#">中国电信</a>
                                <a href="#">中国移动</a>
                                <a href="#">中国联通</a>
                                <a href="#">京东通信</a>
                                <a href="#">170选号</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newline"><img src="../static/Images/lineH_1.gif" height="1" width="1"/></li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/computer.png" alt="" height="30" width="15" class="pic1">
                        <a href="#">电脑</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">电脑 &gt;</div>
                            <div class="group_detail fl">
                                <a href="#">曲面电视</a>
                                <a href="#">超薄电视</a>
                                <a href="#">HDR电视</a>
                                <a href="#">OLED电视</a>
                                <a href="#">4K超清电视</a>
                                <a href="#">人工智能电视</a>
                                <a href="#">55英寸</a>
                                <a href="#">65英寸</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newline"><img src="../static/Images/lineH_1.gif" height="1" width="1"/></li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/camera.png" alt="" height="30" width="15" class="pic1">
                        <a href="#">相机</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">家具 &gt;</div>
                            <div class="group_detail fl">
                                <a href="#">曲面电视</a>
                                <a href="#">超薄电视</a>
                                <a href="#">HDR电视</a>
                                <a href="#">OLED电视</a>
                                <a href="#">4K超清电视</a>
                                <a href="#">人工智能电视</a>
                                <a href="#">55英寸</a>
                                <a href="#">65英寸</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newline"><img src="../static/Images/lineH_1.gif" height="1" width="1"/></li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/game.png" alt="" height="30" width="15" class="pic1">
                        <a href="#">外设</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">男装 &gt;</div>
                            <div class="group_detail fl">
                                <a href="#">男装</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newline"><img src="../static/Images/lineH_1.gif" height="1" width="1"/></li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/pad.png" alt="" height="30" width="15" class="pic1">
                        <a href="#">平板电脑</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">男装 &gt;</div>
                            <div class="group_detail fl">
                                <a href="#">男装</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/pablish/">发布闲置</a></li>
            <li><a href="">拍卖</a></li>
            <li><a href="/assess/">二手估价</a></li>
            <li><a href="">我的闲置</a></li>
        </ul>
    </div>
</div>

<div class="breadcrumb">
    <a href="#">全部分类</a>
    <span>></span>
    <a href="#">笔记本</a>
    <span>></span>
    <a href="#">mac电脑</a>
</div>

<div class="goods_detail_con clearfix">
    <div class="up fl" id="up"><img src="../static/images/goods_450.jpg"></div>
    <div class="down" id="down">
        <table>
            <tr>
                <td><img src="../static/images/game.png"></td>
                <td><img src="../static/images/camera.png"/></td>
                <td><img src="../static/images/computer.png"/></td>
                <td><img src="../static/images/pad.jpg"/></td>
                <td><img src="../static/images/phone.png"/></td>
            </tr>
        </table>
    </div>
    <div id="detail_user">
        {% for goods in goods_list %}
            <div id="goods_detail_list fr" class="detail_right">
            <h3>{{ goods.goods_title }}</h3>
            <div class="prize_bar">
                <span class="show_pirze">¥<em>{{ goods.goods_price }}</em></span>
                <a href="" class="goods_judge">{{ goods.goods_browse_count }}人浏览</a>
            </div>
            <div class="goods_num clearfix">
                <div class="type_select">
                    <label>成色：</label>
                    <span>全新</span>
                </div>
                <div class="type_select">
                    <label>所在地:</label>
                    <span>{{ goods.goods_address }}</span>
                </div>
                <div class="type_select">
                    <label>发布日期:</label>
                    <span>{{ goods.release_date }}</span>
                </div>
                <div class="type_select">
                    <label>快递:</label>
                    <span>免运费</span>
                </div>
                <div class="operate_btn">
                    <a href="javascript:;" class="buy_btn">立即购买</a>
                    <a href="javascript:;" class="add_cart" id="add_cart">加入收藏</a>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="detail_right" id="user_detail">
            <div class="info_detail">
                <div><img src="../static/Images/user.gif" alt="" height="45" width="45"></div>
                <div><a href="" style="font-size: 16px;">JQlove</a></div>
                <br>
                <div><span title="已实名认证" class="user-verify"></span></div>
            </div>
            <div style="padding: 8px 20px;border-bottom: 1px solid #ededed">
                <div><p>男</p>
                    <p>注册时间：2018-10-24</p></div>
            </div>
            <div style="padding: 8px 20px;border-bottom: 1px solid #ededed">
                <h4>转卖 <strong>0</strong>笔，<strong>0</strong>人评价</h4>
                <ul>
                    <li><span>卖家评分： </span><strong>-</strong> 分</li>
                </ul>
            </div>
            <div style="margin: 5px;text-align: center">
                <input type="button" value="卖家信息" id="check_detail" class="opsale">
                <input type="button" value="私聊卖家" id="communication" class="opsale">
            </div>
        </div>

    </div>
    <div class="main_wrap clearfix">
        <div class="wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">宝贝信息</li>
                <li>留言</li>
                <li>安全保证</li>
            </ul>
            <div class="tab_content current">
                <dl>
                    <dd>
                        <p style="text-indent: 2em">
                            {{ goods_desc }}
                        </p>
                    </dd>
                </dl>
            </div>

            <div class="tab_content">
                <p id="leave_message_head">留言：</p>
                {% for key,value in p_comment_dict.items %}
                    <dl style="margin-bottom: 25px;border: 1px solid white">
                        <dd class="hismessages">
                            {#获取父级回复ID#}
                            {#                            <input type="text" id="get_goods_id" value="{{ value.message_goods_id }}" hidden>#}
                            {#                            <input type="text" id="get_parent_id" value="{{ value.message_user_id }}" hidden>#}
                            {#                            <input type="text" id="get_message_id" value="{{ value.message_id }}" hidden>#}
                            {#----------------------------------------------------------#}
                            <img class="messages" src="{{ value.user_imgurl }}" alt="" height="45" width="45">
                            <div class="messages" style="height: 30px;line-height: 30px;">
                                <a href="" style="color: #2d64b3;font-size: 16px">{{ value.user_name }}:</a>
                                <span style="color: #333333;font-size: 16px">{{ value.message_desc }}</span>
                            </div>
                            <br>
                            <div style="position: relative;left: -90px">
                                <span style="color: #a3a3a3">{{ value.message_date }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input id="review" type="button" value="回复" class="review_{{ value.message_id }}"
                                       onclick="review({{ value.message_id }})">
                            </div>
                        </dd>
                        <div style="display: none" class="hidreview_{{ value.message_id }}" id="hidreview">
                            {% for item in value.child_message %}
                                <dl>
                                    <dd style="margin-left: 75px;height: 45px;width:972px;background-color: #f7f8fa;">
                                        <input type="text" id="child_user_id_{{ item.second_message_id }}"
                                               value="{{ item.child_user_id }}" hidden>
                                        <img src="{{ item.user_imgurl }}" alt="" height="40" width="40">
                                        <div style="margin-left: 45px;position: relative;top: -50px;"><a
                                                href="" style="color: #2d64b3"
                                                class="c_name_{{ item.second_message_id }}">{{ item.user_name }}</a>:
                                            <span style="color: #333333;font-size: 14px">{{ item.second_desc }}</span>
                                            <div><span style="color: #a3a3a3">{{ item.second_date }}</span>
                                                <input id="review" class="c_review_{{ item.second_message_id }}"
                                                       type="button" value="回复"
                                                       onclick="c_review({{ item.second_message_id }})">
                                            </div>
                                        </div>
                                    </dd>
                                </dl>

                            {% endfor %}
                            <a href="" class="append_{{ value.message_id }}"></a>
                            <dd>
                                <textarea name="" id="get_child_review_{{ value.message_id }}" cols="150" rows="2"
                                          style="margin-left: 72px"></textarea>
                                <input type="button" class="send_{{ value.message_id }}" value="发 表"
                                       style="margin-left: 20px;position: relative;top: -10px;background-color: #ffda44;border: 0px;padding: 5px;border-radius: 2px">
                            </dd>
                        </div>
                        <div class="newline"></div>
                    </dl>
                {% endfor %}
                <dl>
                    <dd>
                        <img class="message" src="../static/Images/user.gif" alt="" height="30" width="30"
                             style="border-radius: 50%;border: 1px solid grey">
                        <div class="message" style="height: 30px;line-height: 30px;">JQlove</div>
                    </dd>
                    <dd>
                        <textarea name="get_Published" id="Published" cols="180" rows="4"></textarea>
                        <input type="text" value="{{ goods_id }}" id="goods_id" hidden>
                    </dd>
                    <dd style="padding-left: 1070px">
                        <input type="button" id="pub_text" value="发表">
                    </dd>

                </dl>

            </div>

            <div class="tab_content">
                <dl>
                    <dt>安全保证：</dt>
                    <dd>它纤薄如刃，轻盈如羽，却又比以往速度更快、性能更强大。它为你展现的，是迄今最明亮、最多彩的 Mac
                        笔记本显示屏。它更配备了触控栏，一个内置于键盘的玻璃面多点触控条，让你能在需要时快速取用各种工具。MacBook Pro 是对我们突破性理念的一场出色演绎，而它，也正期待着演绎你的奇思妙想。
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
        <p>电话：0512-****888 苏ICP备*******8号</p>
    </div>
</div>
<script type="text/javascript" src="../static/JS/main.js"></script>
<script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var get_message_id = 0;
    var rip_id = 0
    $(document).ready(function () {
        $('#up img').attr('src', $('#down img').eq(0).attr('src'));//打开即把第一张图地址给#up img
        $('#down img').eq(0).addClass("change_image");//打开即把第一个缩略图选中
        $('#down img').hover(function () {
            $('#down img').removeClass("change_image");//先清除所有选中
            $(this).addClass("change_image");//当前图片选中
            $('#up img').attr('src', $(this).attr('src'));//当前图片地址给#up img
        });
    });
</script>
<script>
    $(function () {
        var $tab_btn = $('.detail_tab li');
        var $tab_con = $('.tab_content');
        $tab_btn.click(function () {
            $(this).addClass('active').siblings().removeClass('active');
            $tab_con.eq($(this).index()).addClass('current').siblings().removeClass('current');
        })
    })
</script>
<script>
    function review(id) {
        get_message_id = id;
        if ($(".review_" + id).val() == "回复") {
            $(".review_" + id).val("收起回复");
            $(".hidreview_" + id).show();
            $(".send_" + get_message_id).click(function () {
                message_id = id;
                child_review = $('#get_child_review_' + get_message_id).val();
                {#child_user_id = $('#child_user_id').val();#}
                {#parent_id = $("#get_parent_id").val()#}
                {#goods_id = $("#get_goods_id").val()#}
                reply_id = rip_id;
                $.post('/review_ajax/', {
                    'child_review': child_review,
                    {#'child_user_id': child_user_id,#}
                    "message_id": message_id,
                    "reply_id": reply_id,
                    {#"goods_id": goods_id,#}
                }, function (data) {
                    if (data.msg === 'need_login') {
                        top.location.href = data.href
                    } else {
                        $(".append_" + get_message_id).append(data.msg)
                    }
                }, 'json')

            })
            for (i = 0; i < 10; i++) {
                if (i == id) {
                    $(".hidreview_" + id).show(500);
                }
                else {
                    $(".hidreview_" + i).hide(500);
                    $(".review_" + i).val("回复");
                }
            }

        }
        else {
            $(".review_" + id).val("回复");
            $(".hidreview_" + id).hide(500);
        }
    }

    function c_review(c_id) {
        var c_name = $(".c_name_" + c_id).text();
        var input_ = document.getElementById("get_child_review_" + get_message_id);
        input_.style.fontFamily = "Microsoft YaHei"
        input_.value = "回复" + c_name + ":"
    }

    $(function () {
        $("#pub_text").click(function () {
            Published = $('#Published').val();
            goods_id = $('#goods_id').val();
            url_ = location.href;
            $.post('/lea_message/', {
                'Published': Published,
                'goods_id': goods_id,
                'url_': url_
            }, function (data) {
                if (data.msg === 'need_login') {
                    top.location.href = data.href
                } else {
                    top.location.href = data.href
                }
            }, 'json')

        })

    });
    $(function () {
        $("#add_cart").click(function () {
            goods_id = $('#goods_id').val();
            $.post('/collection/', {
                {#'Published': Published,#}
                'goods_id': goods_id,
                {#'url_': url_#}
            }, function (data) {
                if (data.msg === '您已收藏过改商品') {
                    {#$("#add_cart").css("background", "grey").text("已收藏")#}
                    $("#add_cart").attr('disabled', true)
                    alert("您已收藏过改商品")
                } else if (data.msg === 'need_login') {
                    top.location.href = data.href
                } else {
                    $("#add_cart").css("background", "#F75009").text("已收藏")
                    alert("收藏成功")
                }
            }, 'json')

        })

    });
</script>
</body>
</html>