<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-商品详情</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <style>
        div[class^='mark'] ul {
            padding-left: 0;
            overflow: hidden;
        }

        div[class^='mark'] ul li {
            float: left;
            list-style: none;
            width: 20px;
            height: 20px;
        }

        div[class^='mark'] ul li a {
            display: inline-block;
            padding-top: 20px;
            width: 50%;
            overflow: hidden;
        }

        .emptyStar {
            background: url(../static/images/emptystar.png)
        }

        .halfStar {
            background: url(../static/images/halfstar.png)
        }

        .fullStar {
            background: url(../static/images/fullstar.png)
        }
    </style>
    <style type="text/css">
        div.up {
            width: 350px;
            height: 300px;
            background: #CCCCCC;
            overflow: hidden;
        }

        div.up img {
            width: 100%;
            height: 100%;
        }

        #down img {
            width: 65px;
            height: 100px;
            border: 1px solid #505450;
            opacity: 0.3;
            filter: alpha(opacity=30);
        }

        #down img.change_image {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        div.down {
            width: 350px;
            height: 100px;
            margin-left: 20px;
        }

        #eva td {
            width: 60px;
        }

        #eva {
            padding: 5px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
{% include 'home_head.html' %}
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
    <div class="search_wrap fl">
        <div class="search_con">
            <form action="/goods_list/" method="get" target="_blank">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="hidden" name="price_low" value="{{ price_low }}">
                <input type="hidden" name="price_high" value="{{ price_high }}">
                <input type="submit" class="input_btn fr" value="搜  索">
            </form>
        </div>
    </div>

    <div class="guest_cart fr">
        <a href="#" class="cart_name fl">我的收藏</a>
        <div class="goods_count fl" id="show_count"></div>

        <ul class="cart_goods_show">
            {% if not collection_list %}
                <div>
                    <div class="fl">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540615640800&di=10f74a08906679e36162dacb90ed2431&imgtype=0&src=http%3A%2F%2Fcdns2.freepik.com%2Ffree-photo%2Fsad-sleepy-emoticon-face-square_318-58496.jpg"
                             alt="" height="100"></div>
                    <div class="fl" style="margin-top: 40px;margin-left: 20px"><span
                            style="font-weight: bolder;font-size: 20px">您没有收藏任何商品</span></div>
                </div>
            {% else %}
                {% for value in collection_list %}
                    <li>
                        <a href="/goods_detail/?goods={{ value.goods_id }}"><img src="{{ value.goods_imgurl }} "
                                                                                 alt="商品图片"></a>
                        <a href="/goods_detail/?goods={{ value.goods_id }}"><h4 style="overflow: hidden;
white-space: nowrap;text-overflow: ellipsis;width: 160px">{{ value.goods_title }}</h4></a>
                        <div><span style="color: red"></span>{{ value.goods_price }}</div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar">
        <div class="sub_menu_con fl">
            <h1 class="fl">商品分类</h1>
            <ul class="sub_menu">
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/phone.png" alt="" height="30" width="15" class="pic1"><a
                            href="/goods_list/?q=手机&price_low=&price_high=" class="main_type">手机</a><a
                            href="/goods_list/?q=手机壳&price_low=&price_high=" class="child_type">手机壳</a><a
                            href="/goods_list/?q=充电器&price_low=&price_high=" class="child_type">充电器</a><a
                            href="/goods_list/?q=耳机&price_low=&price_high=" class="child_type">耳机</a><a
                            href="/goods_list/?q=数据线&price_low=&price_high=" class="child_type">配件</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">品牌 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=华为&price_low=&price_high=">华为</a>
                                <a href="/goods_list/?q=小米&price_low=&price_high=">小米</a>
                                <a href="/goods_list/?q=苹果&price_low=&price_high=">苹果</a>
                                <a href="/goods_list/?q=vivo&price_low=&price_high=">vivo</a>
                                <a href="/goods_list/?q=oppo&price_low=&price_high=">oppo</a>
                                <a href="/goods_list/?q=魅族&price_low=&price_high=">魅族</a>
                                <a href="/goods_list/?q=努比亚&price_low=&price_high=">努比亚</a>
                                <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                                <a href="/goods_list/?q=一加&price_low=&price_high=">一加</a>
                                <a href="/goods_list/?q=诺基亚&price_low=&price_high=">诺基亚</a>
                                <a href="/goods_list/?q=HTC&price_low=&price_high=">HTC</a>
                                <a href="/goods_list/?q=摩托罗拉&price_low=&price_high=">摩托罗拉</a>
                                <a href="/goods_list/?q=中兴&price_low=&price_high=">中兴</a>
                                <a href="/goods_list/?q=联想&price_low=&price_high=">联想</a>
                                <a href="/goods_list/?q=LG&price_low=&price_high=">LG</a>
                            </div>
                        </div>
                        <div class="list_group">
                            <div class="group_name fl">配件 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=手机壳&price_low=&price_high=">手机壳</a>
                                <a href="/goods_list/?q=充电器&price_low=&price_high=">充电器</a>
                                <a href="/goods_list/?q=电池&price_low=&price_high=">电池</a>
                                <a href="/goods_list/?q=耳机&price_low=&price_high=">耳机</a>
                                <a href="/goods_list/?q=数据线&price_low=&price_high=">数据线</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/computer.png" alt="" height="30" width="15" class="pic1"><a
                            href="/goods_list/?q=电脑&price_low=&price_high=" class="main_type">电脑</a><a
                            href="/goods_list/?q=笔记本&price_low=&price_high=" class="child_type">笔记本</a><a
                            href="/goods_list/?q=台式机&price_low=&price_high=" class="child_type">台式机</a><a
                            href="/goods_list/?q=平板电脑&price_low=&price_high=" class="child_type">平板电脑</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">电脑 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=笔记本&price_low=&price_high=">笔记本</a>
                                <a href="/goods_list/?q=平板电脑&price_low=&price_high=">平板电脑</a>
                                <a href="/goods_list/?q=台式机整机&price_low=&price_high=">台式机整机</a>
                            </div>
                            <div class="group_name fl">外设 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=显示器&price_low=&price_high=">显示器</a>
                                <a href="/goods_list/?q=鼠标&price_low=&price_high=">鼠标</a>
                                <a href="/goods_list/?q=CPU&price_low=&price_high=">CPU</a>
                                <a href="/goods_list/?q=主板&price_low=&price_high=">主板</a>
                                <a href="/goods_list/?q=显卡&price_low=&price_high=">显卡</a>
                                <a href="/goods_list/?q=内存&price_low=&price_high=">内存</a>
                                <a href="/goods_list/?q=硬盘&price_low=&price_high=">硬盘</a>
                                <a href="/goods_list/?q=手机&price_low=&price_high=电源">电源</a>
                                <a href="/goods_list/?q=声卡&price_low=&price_high=">声卡</a>
                                <a href="/goods_list/?q=网卡&price_low=&price_high=">网卡</a>
                                <a href="/goods_list/?q=散热器&price_low=&price_high=">散热器</a>
                                <a href="/goods_list/?q=U盘&price_low=&price_high=">U盘</a>
                                <a href="/goods_list/?q=闪存卡&price_low=&price_high=">闪存卡</a>
                                <a href="/goods_list/?q=移动硬盘&price_low=&price_high=">移动硬盘</a>
                            </div>
                        </div>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/camera.png" alt="" height="30" width="15" class="pic1">
                        <a href="/goods_list/?q=摄影&price_low=&price_high=" class="main_type">摄影</a><a
                            href="/goods_list/?q=相机&price_low=&price_high=" class="child_type">相机</a><a
                            href="/goods_list/?q=单反&price_low=&price_high=" class="child_type">单反</a><a
                            href="/goods_list/?q=摄像机&price_low=&price_high=" class="child_type">摄像机</a><a
                            href="/goods_list/?q=微单&price_low=&price_high=" class="child_type">微单</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">品牌 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=佳能&price_low=&price_high=">佳能</a>
                                <a href="/goods_list/?q=尼康&price_low=&price_high=">尼康</a>
                                <a href="/goods_list/?q=索尼&price_low=&price_high=">索尼</a>
                                <a href="/goods_list/?q=宾得&price_low=&price_high=">宾得</a>
                                <a href="/goods_list/?q=松下&price_low=&price_high=">松下</a>
                                <a href="/goods_list/?q=富士&price_low=&price_high=">富士</a>
                                <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                                <a href="/goods_list/?q=奥林巴斯&price_low=&price_high=">奥林巴斯</a>
                                <a href="/goods_list/?q=适马&price_low=&price_high=">适马</a>
                                <a href="/goods_list/?q=徕卡&price_low=&price_high=">徕卡</a>
                                <a href="/goods_list/?q=明基&price_low=&price_high=">明基</a>
                                <a href="/goods_list/?q=爱国者&price_low=&price_high=">爱国者</a>
                            </div>
                        </div>
                        <div class="list_group">
                            <div class="group_name fl">相机 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=相机&price_low=&price_high=">相机</a>
                                <a href="/goods_list/?q=镜头&price_low=&price_high=">镜头</a>
                                <a href="/goods_list/?q=单反&price_low=&price_high=">单反</a>
                                <a href="/goods_list/?q=摄像&price_low=&price_high=">摄像</a>
                                <a href="/goods_list/?q=胶片&price_low=&price_high=">胶片</a>
                                <a href="/goods_list/?q=微单&price_low=&price_high=">微单</a>
                                <a href="/goods_list/?q=闪光灯&price_low=&price_high=">闪光灯</a>
                                <a href="/goods_list/?q=卡西欧&price_low=&price_high=">卡西欧</a>
                                <a href="/goods_list/?q=拍立得&price_low=&price_high=">拍立得</a>
                                <a href="/goods_list/?q=三脚架&price_low=&price_high=">三脚架</a>
                                <a href="/goods_list/?q=相机包&price_low=&price_high=">相机包</a>
                                <a href="/goods_list/?q=美颜神器&price_low=&price_high=">美颜神器</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/game.png" alt="" height="30" width="15" class="pic1"><a
                            href="/goods_list/?q=电玩随身听&price_low=&price_high=" class="main_type">电玩随声听</a><a
                            href="/goods_list/?q=MP3&price_low=&price_high=" class="child_type">MP3</a><a
                            href="/goods_list/?q=PSP&price_low=&price_high=" class="child_type">PSP</a><a
                            href="/goods_list/?q=iPod&price_low=&price_high=" class="child_type">iPod</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">随身听 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=MP3&price_low=&price_high=">MP3</a>
                                <a href="/goods_list/?q=MP4&price_low=&price_high=">MP4</a>
                                <a href="/goods_list/?q=MP5&price_low=&price_high=">MP5</a>
                                <a href="/goods_list/?q=录音笔&price_low=&price_high=">录音笔</a>
                                <a href="/goods_list/?q=iPod&price_low=&price_high=">iPod</a>
                                <a href="/goods_list/?q=索尼视听&price_low=&price_high=">索尼视听</a>
                                <a href="/goods_list/?q=爱国者&price_low=&price_high=">爱国者</a>
                                <a href="/goods_list/?q=纽曼&price_low=&price_high=">纽曼</a>
                                <a href="/goods_list/?q=飞利浦&price_low=&price_high=">飞利浦</a>
                                <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                                <a href="/goods_list/?q=清华紫光&price_low=&price_high=">清华紫光</a>
                            </div>
                        </div>
                        <div class="list_group">
                            <div class="group_name fl">游戏机 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=Wii&price_low=&price_high=">Wii</a>
                                <a href="/goods_list/?q=PSP&price_low=&price_high=">PSP</a>
                                <a href="/goods_list/?q=PS3&price_low=&price_high=">PS3</a>
                                <a href="/goods_list/?q=xbox&price_low=&price_high=">xbox</a>
                                <a href="/goods_list/?q=游戏软件&price_low=&price_high=">游戏软件</a>
                                <a href="/goods_list/?q=酷比魔方&price_low=&price_high=">酷比魔方</a>
                                <a href="/goods_list/?q=索尼电玩&price_low=&price_high=">索尼电玩</a>
                                <a href="/goods_list/?q=任天堂&price_low=&price_high=">任天堂</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newli" style="border-bottom: 0px">
                    <div class="level1">
                        <img src="../static/Images/pad.png" alt="" height="30" width="15" class="pic1"><a href="#"
                                                                                                          class="main_type">其他</a><a
                            href="/goods_list/?q=充电宝&price_low=&price_high=" class="child_type">充电宝</a><a
                            href="/goods_list/?q=支架&price_low=&price_high=" class="child_type">支架</a><a href="车载充电器"
                                                                                                        class="child_type">车载充电器</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">其他 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=充电宝&price_low=&price_high=">充电宝</a>
                                <a href="/goods_list/?q=底座&price_low=&price_high=">底座</a>
                                <a href="/goods_list/?q=支架&price_low=&price_high=">支架</a>
                                <a href="/goods_list/?q=车载充电器&price_low=&price_high=">车载充电器</a>
                                <a href="/goods_list/?q=电脑包&price_low=&price_high=">电脑包</a>
                                <a href="/goods_list/?q=取卡针&price_low=&price_high=">取卡针</a>
                                <a href="/goods_list/?q=音响&price_low=&price_high=">音响</a>
                                <a href="/goods_list/?q=基站&price_low=&price_high=">基站</a>
                                <a href="/goods_list/?q=路由器&price_low=&price_high=">路由器</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/pablish/">发布闲置</a></li>
            <li><a href="/auction_index/">拍卖</a></li>
            <li><a href="/assess/">二手估价</a></li>
            <li><a href="/user_center/">我的海马</a></li>
        </ul>
    </div>
</div>

<div class="goods_detail_con clearfix">
    <div class="up fl" id="up"><img src="../static/images/goods_450.jpg"></div>
    <div class="down" id="down">
        <table style="margin-left: 1.5px">
            <tr>
                {% for img in img_list %}
                    <td><img src="{{ img }}"></td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div id="detail_user">
        {% for goods in goods_list %}
            <div id="goods_detail_list fr" class="detail_right">
                <h3>{{ goods.goods_title }}</h3>
                <div class="prize_bar">
                    <span class="show_pirze">¥<em>{{ goods.goods_price }}</em></span>
                    <a href="" class="goods_judge">{{ goods.goods_browse_count }}人浏览 {{ collection_count }}</a>
                </div>
                <div class="goods_num clearfix">
                    <div class="type_select">
                        <label>成色：</label>
                        <span>全新</span>
                    </div>
                    <div class="type_select">
                        <label>所在地:</label>
                        <span>{{ goods.goods_address }}</span>
                    </div>
                    <div class="type_select">
                        <label>发布日期:</label>
                        <span>{{ goods.release_date }}</span>
                    </div>
                    <div class="type_select">
                        <label>快递:</label>
                        <span>免运费</span>
                    </div>
                    <div class="operate_btn" style="border-top: 1px solid black">
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="detail_right" id="user_detail">
            {% for item in seller_info %}
                <div class="info_detail">
                    <div><a href="/user_credit/?user_credit_id={{ item.user_id }}"><img src="{{ item.user_imgurl }}"
                                                                                        alt="" height="45"
                                                                                        width="45"></a></div>
                    <div><a href="/user_credit/?user_credit_id={{ item.user_id }}"
                            style="font-size: 16px;">{{ item.user_name }}</a></div>
                </div>
                <div style="padding: 8px 20px;border-bottom: 1px solid #ededed">
                    <div>
                        {% if item.user_sex == 0 %}
                            <p>男</p>
                        {% else %}
                            <p>女</p>
                        {% endif %}
                        <p>注册时间：{{ item.user_startdate }}</p></div>
                </div>
                <div style="padding: 8px 20px;border-bottom: 1px solid #ededed">
                    <h4>转卖 <strong>{{ count_sell }}</strong>笔</h4>
                    <ul>
                        <li><span>卖家评分：</span><strong>{{ item.user_credit }}</strong> 分</li>
                    </ul>
                </div>
                <div style="margin: 5px;text-align: center">
                    <a href="/user_credit/?user_credit_id={{ item.user_id }}"><input type="button" value="卖家信息"
                                                                                     id="check_detail"
                                                                                     class="opsale"></a>

                </div>
            {% endfor %}
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="wrap fr clearfix">
            <a href="" name="evalua"></a>
            <ul class="detail_tab clearfix">
                <li class="active">评价</li>
            </ul>
            {% if eva_state == 0 %}
                <div class="tab_content current">

                    <table border="0" id="eva" align="center" style="width: 220px">
                        <tr>
                            <td><label><input type="radio" value="0" name="evaluate" checked id="radio_1">好评</label>
                            </td>
                            <td><label><input type="radio" value="1" name="evaluate" id="radio_1">中评</label></td>
                            <td><label><input type="radio" value="2" name="evaluate" id="radio_1">差评</label></td>
                        </tr>
                        <tr>
                            <td>卖家态度：</td>
                            <td colspan="2">
                                <div class="mark1">
                                    <ul>
                                        <li class="emptyStar"><a href="javascript:;">1</a><a href="javascript:;">2</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">3</a><a href="javascript:;">4</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">5</a><a href="javascript:;">6</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">7</a><a href="javascript:;">8</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">9</a><a href="javascript:;">10</a>
                                        </li>
                                        <li class="eva_li1" style="line-height: 24px;margin-left: 10px" id="taidu"
                                        ></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>宝贝情况：</td>
                            <td colspan="2">
                                <div class="mark2">
                                    <ul>
                                        <li class="emptyStar"><a href="javascript:;">1</a><a href="javascript:;"
                                                                                             class="dd">2</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">3</a><a href="javascript:;"
                                                                                             class="dd">4</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">5</a><a href="javascript:;"
                                                                                             class="dd">6</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">7</a><a href="javascript:;"
                                                                                             class="dd">8</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">9</a><a href="javascript:;"
                                                                                             class="dd">10</a>
                                        </li>
                                        <li class="eva_li2" style="line-height: 24px;margin-left: 10px" id="qingkuang"
                                        ></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>发货速度：</td>
                            <td colspan="2">
                                <div class="mark3">
                                    <ul>
                                        <li class="emptyStar"><a href="javascript:;">1</a><a href="javascript:;">2</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">3</a><a href="javascript:;">4</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">5</a><a href="javascript:;">6</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">7</a><a href="javascript:;">8</a>
                                        </li>
                                        <li class="emptyStar"><a href="javascript:;">9</a><a href="javascript:;">10</a>
                                        </li>
                                        <li class="eva_li3" style="line-height: 24px;margin-left: 10px" id="sudu"
                                        ></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <dl style="margin-bottom: 25px">
                        <dt>对本次交易的感受：</dt>
                        <dd>
                            <textarea name="" id="evaluate_text" cols="180" rows="4"></textarea>
                        </dd>
                        <dd style="padding-left: 1070px">
                            <input type="button" id="sub" value="提交评论">
                        </dd>
                    </dl>
                    {% else %}
                    {% if customer == "buy" %}
                        {% for item in buy_desc_list %}
                            <dl style="margin: 25px 30px">
                                <dt>{{ item.buyer_evaluation_date }}</dt>
                                {#                                <dd>评价：{{ item.buy_state }}</dd>#}
                                <dd style="font-size: 15px;margin-top: 10px">
                                    {{ item.buyer_desc }}
                                </dd>
                            </dl>
                        {% endfor %}
                    {% else %}
                        {% for item in sell_desc_list %}
                            <dl style="margin: 25px 30px">
                                <dt>{{ item.seller_evaluation_date }}</dt>
                                {#                                <dd>评价：{{ item.sell_state }}</dd>#}
                                <dd style="font-size: 15px;margin-top: 10px">
                                    {{ item.seller_desc }}
                                </dd>
                            </dl>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
    <p>电话：0512-****888 苏ICP备*******8号</p>
</div>
<script type="text/javascript" src="../static/JS/main.js"></script>
<script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#up img').attr('src', $('#down img').eq(0).attr('src'));//打开即把第一张图地址给#up img
        $('#down img').eq(0).addClass("change_image");//打开即把第一个缩略图选中
        $('#down img').hover(function () {
            $('#down img').removeClass("change_image");//先清除所有选中
            $(this).addClass("change_image");//当前图片选中
            $('#up img').attr('src', $(this).attr('src'));//当前图片地址给#up img
        });
    });
</script>
<script>
    $(function () {
        var $tab_btn = $('.detail_tab li');
        var $tab_con = $('.tab_content');
        $tab_btn.click(function () {
            $(this).addClass('active').siblings().removeClass('active');
            $tab_con.eq($(this).index()).addClass('current').siblings().removeClass('current');
        })
    })
</script>
<script type="text/javascript">
    $(".mark1 ul li a").on("mouseover", function () {
        $(".eva_li1").text($(this).text());
        //判断是全星点还是半星点，修改当前标签的父标签li的class为对应的星星图像
        if (parseInt($(this).html()) % 2 == 1) {
            $(this).parent().attr("class", "halfStar");
        } else {
            $(this).parent().attr("class", "fullStar");
        }
        //对前方的星星进行处理，遍历前方的li使背景图均变为全星
        var prev = $(this).parent();
        for (var i = 0; i <= (parseInt($(this).html()) / 2) - 1; i++) {
            prev.prev().attr("class", "fullStar");
            prev = prev.prev();
        }
        //对后方星星进行处理，遍历后面的li使背景图均变为空星
        var after = $(this).parent();
        for (var i = 0; i <= (5 - parseInt($(this).html()) / 2) - 1; i++) {
            after.next().attr("class", "emptyStar");
            after = after.next();
        }
    })
    $(".mark2 ul li a").on("mouseover", function () {
        $(".eva_li2").text($(this).text());
        //判断是全星点还是半星点，修改当前标签的父标签li的class为对应的星星图像
        if (parseInt($(this).html()) % 2 == 1) {
            $(this).parent().attr("class", "halfStar");
        } else {
            $(this).parent().attr("class", "fullStar");
        }
        //对前方的星星进行处理，遍历前方的li使背景图均变为全星
        var prev = $(this).parent();
        for (var i = 0; i <= (parseInt($(this).html()) / 2) - 1; i++) {
            prev.prev().attr("class", "fullStar");
            prev = prev.prev();
        }
        //对后方星星进行处理，遍历后面的li使背景图均变为空星
        var after = $(this).parent();
        for (var i = 0; i <= (5 - parseInt($(this).html()) / 2) - 1; i++) {
            after.next().attr("class", "emptyStar");
            after = after.next();
        }
    })
    $(".mark3 ul li a").on("mouseover", function () {
        $(".eva_li3").text($(this).text());
        //判断是全星点还是半星点，修改当前标签的父标签li的class为对应的星星图像
        if (parseInt($(this).html()) % 2 == 1) {
            $(this).parent().attr("class", "halfStar");
        } else {
            $(this).parent().attr("class", "fullStar");
        }
        //对前方的星星进行处理，遍历前方的li使背景图均变为全星
        var prev = $(this).parent();
        for (var i = 0; i <= (parseInt($(this).html()) / 2) - 1; i++) {
            prev.prev().attr("class", "fullStar");
            prev = prev.prev();
        }
        //对后方星星进行处理，遍历后面的li使背景图均变为空星
        var after = $(this).parent();
        for (var i = 0; i <= (5 - parseInt($(this).html()) / 2) - 1; i++) {
            after.next().attr("class", "emptyStar");
            after = after.next();
        }
    })
</script>
{#异步#}
<script>
    $(function () {
        $("#sub").click(function () {
            evaluate_text = $('#evaluate_text').val();
            customer = "{{ customer }}";
            order_id = "{{ order_id }}";
            sudu = $(".eva_li3").text();
            qingkuang = $(".eva_li2").text();
            taidu = $(".eva_li1").text();
            pingjia = $("input:radio:checked").val()
            $.post('/evaluate_ajax/', {
                'evaluate_text': evaluate_text,
                "order_id": order_id,
                "customer": customer,
                'sudu': sudu,
                'qingkuang': qingkuang,
                'taidu': taidu,
                'pingjia': pingjia,
            }, function (data) {
                if (data.msg === 'success') {
                    location = location
                }
            }, 'json')

        })

    });

</script>
</body>
</html>