<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-首页</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/JS/guess.js"></script>
</head>
<body>
<div class="header_con">
    <div class="header">
      <div class="welcome fl"><span style="color: red"><b>{{ username.user_name }}</b></span>欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_btn fl">
                <a href="/login/">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order">我的订单</a><br>
            </div>
        </div>
    </div>
</div>
<div id="order_show">
    <ul>
        <li><a href="/my_sale/">我出售的</a></li>
        <li><a href="/my_buy/">我购买的</a></li>
    </ul>
</div>

<div class="search_bar clearfix">
    <a href="index.html" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100" id="haima"></a>
    <div class="search_wrap fl">
        <div class="search_con">
            <form action="/goods_list/" method="get">
                <input type="text" class="input_text fl" name="" placeholder="搜索商品">
                <input type="hidden" name="price_low" value="{{ price_low }}">
                <input type="hidden" name="price_high" value="{{ price_high }}">
                <input type="submit" class="input_btn fr" name="" value="搜  索">
            </form>
        </div>
    </div>

    <div class="guest_cart fr">
        <a href="#" class="cart_name fl">我的收藏</a>
        <div class="goods_count fl" id="show_count">15</div>

        <ul class="cart_goods_show">
            <li>
                <img src="Images/goods/goods001.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>4</div>
            </li>
            <li>
                <img src="Images/goods/goods002.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>5</div>
            </li>
            <li>
                <img src="Images/goods/goods003.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>6</div>
            </li>
            <li>
                <img src="Images/goods/goods003.jpg" alt="商品图片">
                <h4>商品名称手机</h4>
                <div>6</div>
            </li>
        </ul>
    </div>

</div>

<div class="navbar_con">
    <div class="navbar">
        <div class="sub_menu_con fl">
            <h1 class="fl">商品分类</h1>
            <ul class="sub_menu">
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/phone.png" alt="" height="30" width="15" class="pic1">
                        <a href="#">手机</a><a href="#">华为</a><a href="#">苹果</a><a href="#">小米</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">手机通讯 &gt</div>
                            <div class="group_detail fl">
                                <a href="#">手机</a>
                                <a href="#">对讲机</a>
                                <a href="#">以旧换新</a>
                                <a href="#">手机维修</a>
                            </div>
                        </div>
                        <div class="list_group">
                            <div class="group_name fl">运营商 &gt</div>
                            <div class="group_detail fl">
                                <a href="#">合约机</a>
                                <a href="#">选号码</a>
                                <a href="#">固话宽带</a>
                                <a href="#">办套餐</a>
                                <a href="#">充话费/流量</a>
                                <a href="#">中国电信</a>
                                <a href="#">中国移动</a>
                                <a href="#">中国联通</a>
                                <a href="#">京东通信</a>
                                <a href="#">170选号</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newline"><img src="../static/Images/lineH_1.gif" height="1" width="1"/></li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/computer.png" alt="" height="30" width="15" class="pic1">
                        <a href="#">电脑</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">电脑 &gt;</div>
                            <div class="group_detail fl">
                                <a href="#">曲面电视</a>
                                <a href="#">超薄电视</a>
                                <a href="#">HDR电视</a>
                                <a href="#">OLED电视</a>
                                <a href="#">4K超清电视</a>
                                <a href="#">人工智能电视</a>
                                <a href="#">55英寸</a>
                                <a href="#">65英寸</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newline"><img src="../static/Images/lineH_1.gif" height="1" width="1"/></li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/camera.png" alt="" height="30" width="15" class="pic1">
                        <a href="#">相机</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">家具 &gt;</div>
                            <div class="group_detail fl">
                                <a href="#">曲面电视</a>
                                <a href="#">超薄电视</a>
                                <a href="#">HDR电视</a>
                                <a href="#">OLED电视</a>
                                <a href="#">4K超清电视</a>
                                <a href="#">人工智能电视</a>
                                <a href="#">55英寸</a>
                                <a href="#">65英寸</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newline"><img src="../static/Images/lineH_1.gif" height="1" width="1"/></li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/game.png" alt="" height="30" width="15" class="pic1">
                        <a href="#">外设</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">男装 &gt;</div>
                            <div class="group_detail fl">
                                <a href="#">男装</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newline"><img src="../static/Images/lineH_1.gif" height="1" width="1"/></li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/pad.png" alt="" height="30" width="15" class="pic1">
                        <a href="#">平板电脑</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">男装 &gt;</div>
                            <div class="group_detail fl">
                                <a href="#">男装</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/publish/">发布闲置</a></li>
            <li><a href="">拍卖</a></li>
            <li><a href="">二手估价</a></li>
            <li><a href="">我的闲置</a></li>
        </ul>
    </div>
</div>

<div id="breadcrumb">
    <span style="font-size: 14px;color: #403511">{{ prompt }}</span>
</div>

<div class="main_list clearfix">
    <div class="sort_bar">
        <span class="sort_btn0 sort_active0"><a
                href="?q={{ question }}&page={{ pg }}&price_low={{ price_low }}&price_high={{ price_high }}">综合</a></span>
        <span class="sort_btn sort_active1" onclick="active({{ sort_method }})"><a
                href="?q={{ question }}&page={{ pg }}&sort_method=1&price_low={{ price_low }}&price_high={{ price_high }}">价格升序</a></span>
        <span class="sort_btn sort_active2" onclick="active({{ sort_method }})"><a
                href="?q={{ question }}&page={{ pg }}&sort_method=2&price_low={{ price_low }}&price_high={{ price_high }}">价格降序</a></span>
        <span class="sort_btn sort_active4" onclick="active({{ sort_method }})"><a
                href="?q={{ question }}&page={{ pg }}&sort_method=3&price_low={{ price_low }}&price_high={{ price_high }}">信用</a></span>
        <form action="/goods_list/" method="get">
            <div class="sortdiv">
                <input type="hidden" name="q" value="{{ question }}">
                <input type="hidden" name="page" value="{{ pg }}">
                <input type="hidden" name="sort_method" value="{{ sort_method }}">
                <input type="text" placeholder="¥" class="sort" name="price_low">
                <span>-</span>
                <input type="text" placeholder="¥" class="sort" name="price_high">
                <input type="submit" value="确定" id="sortok">
            </div>
        </form>
    </div>
    <ul class="goods_type_list clearfix" id="goods_type_ul">
        {% for goods in contacts %}
            <li>
                <a href="detail.html"><img src="{{ goods.goods_imgurl }}"></a>
                <h4><a href="detail.html">{{ goods.goods_title }}</a></h4>
                <div class="operate">
                    <span class="prize">￥{{ goods.goods_price }}</span>
                    <span class="unit">台</span>
                    <a href="#" class="add_goods" title="加入购物车"></a>
                </div>
            </li>
        {% endfor %}
    </ul>
{#        这是分页#}
    <div class="pagenation">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?q={{ question }}&page={{ contacts.previous_page_number }}&sort_method={{ sort_method }}&price_low={{ price_low }}&price_high={{ price_high }}">上一页</a>
        {% endif %}
        {% for pg in contacts.paginator.page_range %}
            {% if pg == contacts.number %}
                <span class="active">
                    <a href="?q={{ question }}&page={{ pg }}&sort_method={{ sort_method }}&price_low={{ price_low }}&price_high={{ price_high }}">{{ pg }}</a>
                </span>
            {% else %}
                <span>
                    <a href="?q={{ question }}&page={{ pg }}&sort_method={{ sort_method }}&price_low={{ price_low }}&price_high={{ price_high }}">{{ pg }}</a>
                </span>
            {% endif %}
        {% endfor %}
        {% if contacts.has_next %}
            <a href="?q={{ question }}&page={{ contacts.next_page_number }}&sort_method={{ sort_method }}&price_low={{ price_low }}&price_high={{ price_high }}">下一页</a>
        {% endif %}
    </span>
    </div>

    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
        <p>电话：0512-****888 苏ICP备*******8号</p>
    </div>
    <script type="text/javascript" src="../static/JS/main.js"></script>
    <script>
        $(document).click(function () {
            $("#sortok").hide()
            $(".sortdiv").removeClass("sortdiv1")
        });
        $(".sort").click(function (event) {
            event.stopPropagation();
            $("#sortok").show()
            $(".sortdiv").addClass("sortdiv1")
        });
    </script>
    <script>
        /* $(".sort_btn").click(function () {
             $(".sort_btn").removeClass("sort_active");
             $(this).addClass("sort_active")
         }) */
    </script>
    <script>
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        var sort_method = GetQueryString("sort_method");
        if (sort_method != null && sort_method.toString().length >= 1) {
            $(".sort_active" + sort_method).addClass('sort_active');
            $(".sort_btn0").css({"color": "#000", "background-color": "#fbf3f3"});
        }
    </script>
    <script>
        function keyLight(id, key, Color) {
            var oDiv = document.getElementById(id),
                oChilds = oDiv.childNodes,
                Color = Color || "red",
                sKey = "<span style='color: " + Color + ";'>" + key + "</span>",
                rStr = new RegExp(key, "g");
            for (var i = 0; i < oChilds.length - 1; i++) {
                if (oChilds[i].nodeType == 3 && /\s/.test(oChilds[i].nodeValue)) {  //删除空白的节点
                    oChilds[i].parentNode.removeChild(oChilds[i]);
                }
                oChilds[i].innerHTML = oChilds[i].innerHTML.replace(rStr, sKey);  //替换key
            }
        }
        {% for keys in question_word %}
            keyLight('goods_type_ul', "{{ keys }}");
            keyLight('breadcrumb', "{{ keys }}");
        {% endfor %}
         keyLight('breadcrumb', "{{ user_address }}");
    </script>
</div>
</body>
</html>
