<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-首页</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/JS/guess.js"></script>
</head>
<body>
{% include 'home_head.html' %}
<div class="search_bar clearfix">
    <a href="index.html" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100" id="haima"></a>
    <div class="search_wrap fl">
        <div class="search_con">
            <form action="/goods_list/" method="get">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="hidden" name="price_low" value="{{ price_low }}">
                <input type="hidden" name="price_high" value="{{ price_high }}">
                <input type="submit" class="input_btn fr" value="搜  索">
            </form>
        </div>
    </div>

    <div class="guest_cart fr">
        <a href="/my_collection/" class="cart_name fl">我的收藏</a>
        <div class="goods_count fl" id="show_count">15</div>
        <ul class="cart_goods_show">
            {% if not collection_list %}
                <div>
                    <div class="fl">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540615640800&di=10f74a08906679e36162dacb90ed2431&imgtype=0&src=http%3A%2F%2Fcdns2.freepik.com%2Ffree-photo%2Fsad-sleepy-emoticon-face-square_318-58496.jpg"
                             alt="" height="100"></div>
                    <div class="fl" style="margin-top: 40px;margin-left: 20px"><span
                            style="font-weight: bolder;font-size: 20px">您没有收藏任何商品</span></div>
                </div>
            {% else %}
                {% for value in collection_list %}
                    <li>
                        <a href="/goods_detail/?goods={{ value.goods_id }}"><img src="{{ value.goods_imgurl }}"
                                                                                 alt="商品图片"></a>
                        <a href="/goods_detail/?goods={{ value.goods_id }}"><h4>{{ value.goods_title }}</h4></a>
                        <div><span style="color: red"></span>{{ value.goods_price }}</div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

<div class="navbar_con" style="width: 1240px;">
    <div class="navbar">
        <div class="sub_menu_con fl">
            <h1 class="fl" style="position: relative;left: -20px">商品分类</h1>
            <ul class="sub_menu" style="left: -20px">
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/phone.png" alt="" height="30" width="15" class="pic1"><a
                            href="/goods_list/?c=1&price_low=&price_high=" class="main_type">手机</a><a
                            href="/goods_list/?q=手机壳&price_low=&price_high=" class="child_type">手机壳</a><a
                            href="/goods_list/?q=充电器&price_low=&price_high=" class="child_type">充电器</a><a
                            href="/goods_list/?q=耳机&price_low=&price_high=" class="child_type">耳机</a><a
                            href="/goods_list/?q=数据线&price_low=&price_high=" class="child_type">配件</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">品牌 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=华为&price_low=&price_high=">华为</a>
                                <a href="/goods_list/?q=小米&price_low=&price_high=">小米</a>
                                <a href="/goods_list/?q=苹果&price_low=&price_high=">苹果</a>
                                <a href="/goods_list/?q=vivo&price_low=&price_high=">vivo</a>
                                <a href="/goods_list/?q=oppo&price_low=&price_high=">oppo</a>
                                <a href="/goods_list/?q=魅族&price_low=&price_high=">魅族</a>
                                <a href="/goods_list/?q=努比亚&price_low=&price_high=">努比亚</a>
                                <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                                <a href="/goods_list/?q=一加&price_low=&price_high=">一加</a>
                                <a href="/goods_list/?q=诺基亚&price_low=&price_high=">诺基亚</a>
                                <a href="/goods_list/?q=HTC&price_low=&price_high=">HTC</a>
                                <a href="/goods_list/?q=摩托罗拉&price_low=&price_high=">摩托罗拉</a>
                                <a href="/goods_list/?q=中兴&price_low=&price_high=">中兴</a>
                                <a href="/goods_list/?q=联想&price_low=&price_high=">联想</a>
                                <a href="/goods_list/?q=LG&price_low=&price_high=">LG</a>
                            </div>
                        </div>
                        <div class="list_group">
                            <div class="group_name fl">配件 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=手机壳&price_low=&price_high=">手机壳</a>
                                <a href="/goods_list/?q=充电器&price_low=&price_high=">充电器</a>
                                <a href="/goods_list/?q=电池&price_low=&price_high=">电池</a>
                                <a href="/goods_list/?q=耳机&price_low=&price_high=">耳机</a>
                                <a href="/goods_list/?q=数据线&price_low=&price_high=">数据线</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/computer.png" alt="" height="30" width="15" class="pic1"><a
                            href="/goods_list/?c=2&price_low=&price_high=" class="main_type">电脑</a><a
                            href="/goods_list/?q=笔记本&price_low=&price_high=" class="child_type">笔记本</a><a
                            href="/goods_list/?q=台式机&price_low=&price_high=" class="child_type">台式机</a><a
                            href="/goods_list/?q=平板电脑&price_low=&price_high=" class="child_type">平板电脑</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">电脑 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=笔记本&price_low=&price_high=">笔记本</a>
                                <a href="/goods_list/?q=平板电脑&price_low=&price_high=">平板电脑</a>
                                <a href="/goods_list/?q=台式机整机&price_low=&price_high=">台式机整机</a>
                            </div>
                            <div class="group_name fl">外设 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=显示器&price_low=&price_high=">显示器</a>
                                <a href="/goods_list/?q=鼠标&price_low=&price_high=">鼠标</a>
                                <a href="/goods_list/?q=CPU&price_low=&price_high=">CPU</a>
                                <a href="/goods_list/?q=主板&price_low=&price_high=">主板</a>
                                <a href="/goods_list/?q=显卡&price_low=&price_high=">显卡</a>
                                <a href="/goods_list/?q=内存&price_low=&price_high=">内存</a>
                                <a href="/goods_list/?q=硬盘&price_low=&price_high=">硬盘</a>
                                <a href="/goods_list/?q=手机&price_low=&price_high=电源">电源</a>
                                <a href="/goods_list/?q=声卡&price_low=&price_high=">声卡</a>
                                <a href="/goods_list/?q=网卡&price_low=&price_high=">网卡</a>
                                <a href="/goods_list/?q=散热器&price_low=&price_high=">散热器</a>
                                <a href="/goods_list/?q=U盘&price_low=&price_high=">U盘</a>
                                <a href="/goods_list/?q=闪存卡&price_low=&price_high=">闪存卡</a>
                                <a href="/goods_list/?q=移动硬盘&price_low=&price_high=">移动硬盘</a>
                            </div>
                        </div>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/camera.png" alt="" height="30" width="15" class="pic1">
                        <a href="/goods_list/?c=3&price_low=&price_high=" class="main_type">摄影</a><a
                            href="/goods_list/?q=相机&price_low=&price_high=" class="child_type">相机</a><a
                            href="/goods_list/?q=单反&price_low=&price_high=" class="child_type">单反</a><a
                            href="/goods_list/?q=摄像机&price_low=&price_high=" class="child_type">摄像机</a><a
                            href="/goods_list/?q=微单&price_low=&price_high=" class="child_type">微单</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">品牌 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=佳能&price_low=&price_high=">佳能</a>
                                <a href="/goods_list/?q=尼康&price_low=&price_high=">尼康</a>
                                <a href="/goods_list/?q=索尼&price_low=&price_high=">索尼</a>
                                <a href="/goods_list/?q=宾得&price_low=&price_high=">宾得</a>
                                <a href="/goods_list/?q=松下&price_low=&price_high=">松下</a>
                                <a href="/goods_list/?q=富士&price_low=&price_high=">富士</a>
                                <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                                <a href="/goods_list/?q=奥林巴斯&price_low=&price_high=">奥林巴斯</a>
                                <a href="/goods_list/?q=适马&price_low=&price_high=">适马</a>
                                <a href="/goods_list/?q=徕卡&price_low=&price_high=">徕卡</a>
                                <a href="/goods_list/?q=明基&price_low=&price_high=">明基</a>
                                <a href="/goods_list/?q=爱国者&price_low=&price_high=">爱国者</a>
                            </div>
                        </div>
                        <div class="list_group">
                            <div class="group_name fl">相机 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=相机&price_low=&price_high=">相机</a>
                                <a href="/goods_list/?q=镜头&price_low=&price_high=">镜头</a>
                                <a href="/goods_list/?q=单反&price_low=&price_high=">单反</a>
                                <a href="/goods_list/?q=摄像&price_low=&price_high=">摄像</a>
                                <a href="/goods_list/?q=胶片&price_low=&price_high=">胶片</a>
                                <a href="/goods_list/?q=微单&price_low=&price_high=">微单</a>
                                <a href="/goods_list/?q=闪光灯&price_low=&price_high=">闪光灯</a>
                                <a href="/goods_list/?q=卡西欧&price_low=&price_high=">卡西欧</a>
                                <a href="/goods_list/?q=拍立得&price_low=&price_high=">拍立得</a>
                                <a href="/goods_list/?q=三脚架&price_low=&price_high=">三脚架</a>
                                <a href="/goods_list/?q=相机包&price_low=&price_high=">相机包</a>
                                <a href="/goods_list/?q=美颜神器&price_low=&price_high=">美颜神器</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newli">
                    <div class="level1">
                        <img src="../static/Images/game.png" alt="" height="30" width="15" class="pic1"><a
                            href="/goods_list/?c=4&price_low=&price_high=" class="main_type">电玩随声听</a><a
                            href="/goods_list/?q=MP3&price_low=&price_high=" class="child_type">MP3</a><a
                            href="/goods_list/?q=PSP&price_low=&price_high=" class="child_type">PSP</a><a
                            href="/goods_list/?q=iPod&price_low=&price_high=" class="child_type">iPod</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">随身听 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=MP3&price_low=&price_high=">MP3</a>
                                <a href="/goods_list/?q=MP4&price_low=&price_high=">MP4</a>
                                <a href="/goods_list/?q=MP5&price_low=&price_high=">MP5</a>
                                <a href="/goods_list/?q=录音笔&price_low=&price_high=">录音笔</a>
                                <a href="/goods_list/?q=iPod&price_low=&price_high=">iPod</a>
                                <a href="/goods_list/?q=索尼视听&price_low=&price_high=">索尼视听</a>
                                <a href="/goods_list/?q=爱国者&price_low=&price_high=">爱国者</a>
                                <a href="/goods_list/?q=纽曼&price_low=&price_high=">纽曼</a>
                                <a href="/goods_list/?q=飞利浦&price_low=&price_high=">飞利浦</a>
                                <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                                <a href="/goods_list/?q=清华紫光&price_low=&price_high=">清华紫光</a>
                            </div>
                        </div>
                        <div class="list_group">
                            <div class="group_name fl">游戏机 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=Wii&price_low=&price_high=">Wii</a>
                                <a href="/goods_list/?q=PSP&price_low=&price_high=">PSP</a>
                                <a href="/goods_list/?q=PS3&price_low=&price_high=">PS3</a>
                                <a href="/goods_list/?q=xbox&price_low=&price_high=">xbox</a>
                                <a href="/goods_list/?q=游戏软件&price_low=&price_high=">游戏软件</a>
                                <a href="/goods_list/?q=酷比魔方&price_low=&price_high=">酷比魔方</a>
                                <a href="/goods_list/?q=索尼电玩&price_low=&price_high=">索尼电玩</a>
                                <a href="/goods_list/?q=任天堂&price_low=&price_high=">任天堂</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="newli" style="border-bottom: 0px">
                    <div class="level1">
                        <img src="../static/Images/pad.png" alt="" height="30" width="15" class="pic1"><a
                            href="/goods_list/?c=5&price_low=&price_high=" class="main_type">其他</a><a
                            href="/goods_list/?q=充电宝&price_low=&price_high=" class="child_type">充电宝</a><a
                            href="/goods_list/?q=支架&price_low=&price_high=" class="child_type">支架</a><a href="车载充电器"
                                                                                                        class="child_type">车载充电器</a>
                    </div>
                    <div class="level2">
                        <div class="list_group">
                            <div class="group_name fl">其他 &gt;</div>
                            <div class="group_detail fl">
                                <a href="/goods_list/?q=充电宝&price_low=&price_high=">充电宝</a>
                                <a href="/goods_list/?q=底座&price_low=&price_high=">底座</a>
                                <a href="/goods_list/?q=支架&price_low=&price_high=">支架</a>
                                <a href="/goods_list/?q=车载充电器&price_low=&price_high=">车载充电器</a>
                                <a href="/goods_list/?q=电脑包&price_low=&price_high=">电脑包</a>
                                <a href="/goods_list/?q=取卡针&price_low=&price_high=">取卡针</a>
                                <a href="/goods_list/?q=音响&price_low=&price_high=">音响</a>
                                <a href="/goods_list/?q=基站&price_low=&price_high=">基站</a>
                                <a href="/goods_list/?q=路由器&price_low=&price_high=">路由器</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/publish/">发布闲置</a></li>
            <li><a href="/auction_index/">拍卖</a></li>
            <li><a href="/assess/">二手估价</a></li>
            <li><a href="/user_center/">我的海马</a></li>
        </ul>
    </div>
</div>

<div id="breadcrumb">
    <p style="font-size: 14px;">{{ prompt }}</p>
</div>

<div class="main_list clearfix">
    <div class="sort_bar">
        <span class="sort_btn0 sort_active0"><a
                href="?q={{ question }}&c={{ category }}&page={{ pg }}&price_low={{ price_low }}&price_high={{ price_high }}">综合</a></span>
        <span class="sort_btn sort_active1" onclick="active({{ sort_method }})"><a
                href="?q={{ question }}&c={{ category }}&page={{ pg }}&sort_method=1&price_low={{ price_low }}&price_high={{ price_high }}">价格升序</a></span>
        <span class="sort_btn sort_active2" onclick="active({{ sort_method }})"><a
                href="?q={{ question }}&c={{ category }}&page={{ pg }}&sort_method=2&price_low={{ price_low }}&price_high={{ price_high }}">价格降序</a></span>
        <span class="sort_btn sort_active4" onclick="active({{ sort_method }})"><a
                href="?q={{ question }}&c={{ category }}&page={{ pg }}&sort_method=3&price_low={{ price_low }}&price_high={{ price_high }}">信用</a></span>
        <form action="/goods_list/" method="get">
            <div class="sortdiv">
                <input type="hidden" name="q" value="{{ question }}">
                <input type="hidden" name="c" value="{{ category }}">
                <input type="hidden" name="page" value="{{ pg }}">
                <input type="hidden" name="sort_method" value="{{ sort_method }}">
                <input type="text" placeholder="¥" class="sort" name="price_low">
                <span>-</span>
                <input type="text" placeholder="¥" class="sort" name="price_high">
                <input type="submit" value="确定" id="sortok">
            </div>
        </form>
    </div>
    {% if contacts %}
        <ul class="goods_type_list clearfix" id="goods_type_ul">
            {% for goods in contacts %}
                <li>
                    <a href="/goods_detail/?goods={{ goods.goods_id }}"><img src="{{ goods.goods_imgurl }}?imageView2/0/w/160/h/160"></a>
                    <h4><a href="/goods_detail/?goods={{ goods.goods_id }}">{{ goods.goods_title }}</a></h4>
                    <div class="operate">
                        <span class="prize">￥{{ goods.goods_price }}</span>
                        <span class="unit">/台</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div style="margin-left: 140px;margin-top: 40px">
            <div class="no_goods"></div>
            <div class="no_goods_msg">亲！抱歉没有找到"<span style="color: #ff4e3f">{{ question }}</span>"相关商品</div>
        </div>
    {% endif %}
    {#        这是分页#}
    <div class="pagenation">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?q={{ question }}&c={{ category }}&page={{ contacts.previous_page_number }}&sort_method={{ sort_method }}&price_low={{ price_low }}&price_high={{ price_high }}">上一页</a>
        {% endif %}
        {% for pg in contacts.paginator.page_range %}
            {% if pg == contacts.number %}
                <span class="active">
                    <a href="?q={{ question }}&c={{ category }}&page={{ pg }}&sort_method={{ sort_method }}&price_low={{ price_low }}&price_high={{ price_high }}">{{ pg }}</a>
                </span>
            {% else %}
                <span>
                    <a href="?q={{ question }}&c={{ category }}&page={{ pg }}&sort_method={{ sort_method }}&price_low={{ price_low }}&price_high={{ price_high }}">{{ pg }}</a>
                </span>
            {% endif %}
        {% endfor %}
        {% if contacts.has_next %}
            <a href="?q={{ question }}&c={{ category }}&page={{ contacts.next_page_number }}&sort_method={{ sort_method }}&price_low={{ price_low }}&price_high={{ price_high }}">下一页</a>
        {% endif %}
    </span>
    </div>

    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
        <p>电话：0512-****888 苏ICP备*******8号</p>
    </div>
    <script type="text/javascript" src="../static/JS/main.js"></script>
    <script>
        $(document).click(function () {
            $("#sortok").hide()
            $(".sortdiv").removeClass("sortdiv1")
        });
        $(".sort").click(function (event) {
            event.stopPropagation();
            $("#sortok").show()
            $(".sortdiv").addClass("sortdiv1")
        });
    </script>
    <script>
        /* $(".sort_btn").click(function () {
             $(".sort_btn").removeClass("sort_active");
             $(this).addClass("sort_active")
         }) */
    </script>
    <script>
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        var sort_method = GetQueryString("sort_method");
        if (sort_method != null && sort_method.toString().length >= 1) {
            $(".sort_active" + sort_method).addClass('sort_active');
            $(".sort_btn0").css({"color": "#000", "background-color": "#fbf3f3"});
        }
    </script>
    <script>
        function keyLight(id, key, Color) {
            var oDiv = document.getElementById(id),
                oChilds = oDiv.childNodes,
                Color = Color || "red",
                sKey = "<span style='color: " + Color + ";'>" + key + "</span>",
                rStr = new RegExp(key, "g");
            for (var i = 0; i < oChilds.length - 1; i++) {
                if (oChilds[i].nodeType == 3 && /\s/.test(oChilds[i].nodeValue)) {  //删除空白的节点
                    oChilds[i].parentNode.removeChild(oChilds[i]);
                }
                oChilds[i].innerHTML = oChilds[i].innerHTML.replace(rStr, sKey);  //替换key
            }
        }
        {% for keys in question_word %}
            keyLight('goods_type_ul', "{{ keys }}");
            // keyLight('breadcrumb', "{{ keys }}");
        {% endfor %}
        keyLight('breadcrumb', "{{ user_address }}");
    </script>
</div>
</body>
</html>
