<div class="header_con">
    <div class="header">
        <div class="welcome fl"><span style="color: red;"><b>{{ login_status }}</b></span> 欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_btn fl">
                <a href="/login/?href=/haima/" target="_blank">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user_center/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order">我的订单</a>
                <span>|</span>

                <a href="" id="my_order">消息 <img src="../static/Images/message.png" alt=""
                                                 style="width:10px;height: 10px"></a>
            </div>
        </div>
    </div>
</div>
