<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-首页</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/JS/guess.js"></script>
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl"><span style="color: red;"><b>{{ login_status }}</b></span> 欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_btn fl">
                <a href="/login/?href=/haima/" target="_blank">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user_center/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order">我的订单</a>
                <span>|</span>

                <a href="" id="my_order">留言 <img src="../static/Images/message.png" alt="" width="10" height="10"></a>
            </div>
        </div>
    </div>
</div>
<div id="order_show">
    <ul>
        <li><a href="/my_sale/">我出售的</a></li>
        <li><a href="/my_buy/">我购买的</a></li>
    </ul>
</div>
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
    <div class="search_wrap fl">
        <div class="search_con">
            <form action="/goods_list/" method="get" target="_blank">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="hidden" name="price_low" value="{{ price_low }}">
                <input type="hidden" name="price_high" value="{{ price_high }}">
                <input type="submit" class="input_btn fr" value="搜  索">
            </form>
        </div>
    </div>

    <div class="guest_cart fr">
        <a href="#" class="cart_name fl">我的收藏</a>
        <div class="goods_count fl" id="show_count">15</div>
        <ul class="cart_goods_show">
            {% if not collection_list %}
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540615640800&di=10f74a08906679e36162dacb90ed2431&imgtype=0&src=http%3A%2F%2Fcdns2.freepik.com%2Ffree-photo%2Fsad-sleepy-emoticon-face-square_318-58496.jpg"
                     alt="" height="100">
                你没有收藏任何商品
            {% else %}
                {% for value in collection_list %}
                    <li>
                        <img src="{{ value.goods_imgurl }}" alt="商品图片">
                        <h4>{{ value.goods_title }}</h4>
                        <div><span style="color: red"></span>{{ value.goods_price }}</div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">商品分类</h1>
        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/publish/">发布闲置</a></li>
            <li><a href="/auction_index/">拍卖</a></li>
            <li><a href="/assess/">二手估价</a></li>
            <li><a href="/user_center/">我的海马</a></li>
        </ul>
    </div>
</div>

<div class="pos_center_con clearfix">
    <ul class="slide">
        <li><a href="#"><img src="../static/Images/slide01.jpg" alt="幻灯片01" width="640" height="300"></a></li>
        <li><a href="#"><img src="../static/Images/slide02.png" alt="幻灯片02" width="640" height="300"></a></li>
        <li><a href="#"><img src="../static/Images/slide01.jpg" alt="幻灯片03" width="640" height="300"></a></li>
        <li><a href="#"><img src="../static/Images/slide02.png" alt="幻灯片04" width="640" height="300"></a></li>
    </ul>
    <div class="prev"></div>
    <div class="next"></div>
    <ul class="points">
        <!-- <li class="active"></li>
        <li></li>
        <li></li>
        <li></li> -->
    </ul>
    <ul class="sub_menu">
        <li class="newli">
            <div class="level1">
                <img src="../static/Images/phone.png" alt="" height="30" width="15" class="pic1"><a
                    href="/goods_list/?q=手机&price_low=&price_high=" class="main_type">手机</a><a
                    href="/goods_list/?q=手机壳&price_low=&price_high=" class="child_type">手机壳</a><a
                    href="/goods_list/?q=充电器&price_low=&price_high=" class="child_type">充电器</a><a
                    href="/goods_list/?q=耳机&price_low=&price_high=" class="child_type">耳机</a><a
                    href="/goods_list/?q=数据线&price_low=&price_high=" class="child_type">配件</a>
            </div>
            <div class="level2">
                <div class="list_group">
                    <div class="group_name fl">品牌 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=华为&price_low=&price_high=">华为</a>
                        <a href="/goods_list/?q=小米&price_low=&price_high=">小米</a>
                        <a href="/goods_list/?q=苹果&price_low=&price_high=">苹果</a>
                        <a href="/goods_list/?q=vivo&price_low=&price_high=">vivo</a>
                        <a href="/goods_list/?q=oppo&price_low=&price_high=">oppo</a>
                        <a href="/goods_list/?q=魅族&price_low=&price_high=">魅族</a>
                        <a href="/goods_list/?q=努比亚&price_low=&price_high=">努比亚</a>
                        <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                        <a href="/goods_list/?q=一加&price_low=&price_high=">一加</a>
                        <a href="/goods_list/?q=诺基亚&price_low=&price_high=">诺基亚</a>
                        <a href="/goods_list/?q=HTC&price_low=&price_high=">HTC</a>
                        <a href="/goods_list/?q=摩托罗拉&price_low=&price_high=">摩托罗拉</a>
                        <a href="/goods_list/?q=中兴&price_low=&price_high=">中兴</a>
                        <a href="/goods_list/?q=联想&price_low=&price_high=">联想</a>
                        <a href="/goods_list/?q=LG&price_low=&price_high=">LG</a>
                    </div>
                </div>
                <div class="list_group">
                    <div class="group_name fl">配件 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=手机壳&price_low=&price_high=">手机壳</a>
                        <a href="/goods_list/?q=充电器&price_low=&price_high=">充电器</a>
                        <a href="/goods_list/?q=电池&price_low=&price_high=">电池</a>
                        <a href="/goods_list/?q=耳机&price_low=&price_high=">耳机</a>
                        <a href="/goods_list/?q=数据线&price_low=&price_high=">数据线</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="newli">
            <div class="level1">
                <img src="../static/Images/computer.png" alt="" height="30" width="15" class="pic1"><a
                    href="/goods_list/?q=电脑&price_low=&price_high=" class="main_type">电脑</a><a
                    href="/goods_list/?q=笔记本&price_low=&price_high=" class="child_type">笔记本</a><a
                    href="/goods_list/?q=台式机&price_low=&price_high=" class="child_type">台式机</a><a
                    href="/goods_list/?q=平板电脑&price_low=&price_high=" class="child_type">平板电脑</a>
            </div>
            <div class="level2">
                <div class="list_group">
                    <div class="group_name fl">电脑 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=笔记本&price_low=&price_high=">笔记本</a>
                        <a href="/goods_list/?q=平板电脑&price_low=&price_high=">平板电脑</a>
                        <a href="/goods_list/?q=台式机整机&price_low=&price_high=">台式机整机</a>
                    </div>
                    <div class="group_name fl">外设 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=显示器&price_low=&price_high=">显示器</a>
                        <a href="/goods_list/?q=鼠标&price_low=&price_high=">鼠标</a>
                        <a href="/goods_list/?q=CPU&price_low=&price_high=">CPU</a>
                        <a href="/goods_list/?q=主板&price_low=&price_high=">主板</a>
                        <a href="/goods_list/?q=显卡&price_low=&price_high=">显卡</a>
                        <a href="/goods_list/?q=内存&price_low=&price_high=">内存</a>
                        <a href="/goods_list/?q=硬盘&price_low=&price_high=">硬盘</a>
                        <a href="/goods_list/?q=手机&price_low=&price_high=电源">电源</a>
                        <a href="/goods_list/?q=声卡&price_low=&price_high=">声卡</a>
                        <a href="/goods_list/?q=网卡&price_low=&price_high=">网卡</a>
                        <a href="/goods_list/?q=散热器&price_low=&price_high=">散热器</a>
                        <a href="/goods_list/?q=U盘&price_low=&price_high=">U盘</a>
                        <a href="/goods_list/?q=闪存卡&price_low=&price_high=">闪存卡</a>
                        <a href="/goods_list/?q=移动硬盘&price_low=&price_high=">移动硬盘</a>
                    </div>
                </div>
        <li class="newli">
            <div class="level1">
                <img src="../static/Images/camera.png" alt="" height="30" width="15" class="pic1">
                <a href="/goods_list/?q=摄影&price_low=&price_high=" class="main_type">摄影</a><a
                    href="/goods_list/?q=相机&price_low=&price_high=" class="child_type">相机</a><a
                    href="/goods_list/?q=单反&price_low=&price_high=" class="child_type">单反</a><a
                    href="/goods_list/?q=摄像机&price_low=&price_high=" class="child_type">摄像机</a><a
                    href="/goods_list/?q=微单&price_low=&price_high=" class="child_type">微单</a>
            </div>
            <div class="level2">
                <div class="list_group">
                    <div class="group_name fl">品牌 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=佳能&price_low=&price_high=">佳能</a>
                        <a href="/goods_list/?q=尼康&price_low=&price_high=">尼康</a>
                        <a href="/goods_list/?q=索尼&price_low=&price_high=">索尼</a>
                        <a href="/goods_list/?q=宾得&price_low=&price_high=">宾得</a>
                        <a href="/goods_list/?q=松下&price_low=&price_high=">松下</a>
                        <a href="/goods_list/?q=富士&price_low=&price_high=">富士</a>
                        <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                        <a href="/goods_list/?q=奥林巴斯&price_low=&price_high=">奥林巴斯</a>
                        <a href="/goods_list/?q=适马&price_low=&price_high=">适马</a>
                        <a href="/goods_list/?q=徕卡&price_low=&price_high=">徕卡</a>
                        <a href="/goods_list/?q=明基&price_low=&price_high=">明基</a>
                        <a href="/goods_list/?q=爱国者&price_low=&price_high=">爱国者</a>
                    </div>
                </div>
                <div class="list_group">
                    <div class="group_name fl">相机 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=相机&price_low=&price_high=">相机</a>
                        <a href="/goods_list/?q=镜头&price_low=&price_high=">镜头</a>
                        <a href="/goods_list/?q=单反&price_low=&price_high=">单反</a>
                        <a href="/goods_list/?q=摄像&price_low=&price_high=">摄像</a>
                        <a href="/goods_list/?q=胶片&price_low=&price_high=">胶片</a>
                        <a href="/goods_list/?q=微单&price_low=&price_high=">微单</a>
                        <a href="/goods_list/?q=闪光灯&price_low=&price_high=">闪光灯</a>
                        <a href="/goods_list/?q=卡西欧&price_low=&price_high=">卡西欧</a>
                        <a href="/goods_list/?q=拍立得&price_low=&price_high=">拍立得</a>
                        <a href="/goods_list/?q=三脚架&price_low=&price_high=">三脚架</a>
                        <a href="/goods_list/?q=相机包&price_low=&price_high=">相机包</a>
                        <a href="/goods_list/?q=美颜神器&price_low=&price_high=">美颜神器</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="newli">
            <div class="level1">
                <img src="../static/Images/game.png" alt="" height="30" width="15" class="pic1"><a
                    href="/goods_list/?q=电玩随身听&price_low=&price_high=" class="main_type">电玩随声听</a><a
                    href="/goods_list/?q=MP3&price_low=&price_high=" class="child_type">MP3</a><a
                    href="/goods_list/?q=PSP&price_low=&price_high=" class="child_type">PSP</a><a
                    href="/goods_list/?q=iPod&price_low=&price_high=" class="child_type">iPod</a>
            </div>
            <div class="level2">
                <div class="list_group">
                    <div class="group_name fl">随身听 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=MP3&price_low=&price_high=">MP3</a>
                        <a href="/goods_list/?q=MP4&price_low=&price_high=">MP4</a>
                        <a href="/goods_list/?q=MP5&price_low=&price_high=">MP5</a>
                        <a href="/goods_list/?q=录音笔&price_low=&price_high=">录音笔</a>
                        <a href="/goods_list/?q=iPod&price_low=&price_high=">iPod</a>
                        <a href="/goods_list/?q=索尼视听&price_low=&price_high=">索尼视听</a>
                        <a href="/goods_list/?q=爱国者&price_low=&price_high=">爱国者</a>
                        <a href="/goods_list/?q=纽曼&price_low=&price_high=">纽曼</a>
                        <a href="/goods_list/?q=飞利浦&price_low=&price_high=">飞利浦</a>
                        <a href="/goods_list/?q=三星&price_low=&price_high=">三星</a>
                        <a href="/goods_list/?q=清华紫光&price_low=&price_high=">清华紫光</a>
                    </div>
                </div>
                <div class="list_group">
                    <div class="group_name fl">游戏机 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=Wii&price_low=&price_high=">Wii</a>
                        <a href="/goods_list/?q=PSP&price_low=&price_high=">PSP</a>
                        <a href="/goods_list/?q=PS3&price_low=&price_high=">PS3</a>
                        <a href="/goods_list/?q=xbox&price_low=&price_high=">xbox</a>
                        <a href="/goods_list/?q=游戏软件&price_low=&price_high=">游戏软件</a>
                        <a href="/goods_list/?q=酷比魔方&price_low=&price_high=">酷比魔方</a>
                        <a href="/goods_list/?q=索尼电玩&price_low=&price_high=">索尼电玩</a>
                        <a href="/goods_list/?q=任天堂&price_low=&price_high=">任天堂</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="newli" style="border-bottom: 0px">
            <div class="level1">
                <img src="../static/Images/pad.png" alt="" height="30" width="15" class="pic1"><a href="#"
                                                                                                  class="main_type">其他</a><a
                    href="/goods_list/?q=充电宝&price_low=&price_high=" class="child_type">充电宝</a><a
                    href="/goods_list/?q=支架&price_low=&price_high=" class="child_type">支架</a><a href="车载充电器"
                                                                                                class="child_type">车载充电器</a>
            </div>
            <div class="level2">
                <div class="list_group">
                    <div class="group_name fl">其他 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=充电宝&price_low=&price_high=">充电宝</a>
                        <a href="/goods_list/?q=底座&price_low=&price_high=">底座</a>
                        <a href="/goods_list/?q=支架&price_low=&price_high=">支架</a>
                        <a href="/goods_list/?q=车载充电器&price_low=&price_high=">车载充电器</a>
                        <a href="/goods_list/?q=电脑包&price_low=&price_high=">电脑包</a>
                        <a href="/goods_list/?q=取卡针&price_low=&price_high=">取卡针</a>
                        <a href="/goods_list/?q=音响&price_low=&price_high=">音响</a>
                        <a href="/goods_list/?q=基站&price_low=&price_high=">基站</a>
                        <a href="/goods_list/?q=路由器&price_low=&price_high=">路由器</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="new">
        <div id="mod">
            <div class="mod_left">
                <a href="/publish/">
                    <p class="main-title">发布闲置</p><br>
                    <p class="subtitle">闲置换钱 快速出手</p>
                </a>
            </div>
            <div class="mod_right">
                <a href="/assess/">
                    <p class="main-title">一键估价</p><br>
                    <p class="subtitle">数据分析 智能估价</p>
                </a>
            </div>
        </div>
        <div>
            <a href="/auction_index/" class="advs"><img src="../static/Images/paimai.png" width="292" height="150"
                                                        style="margin-left: 7px"></a>
        </div>
    </div>
    <div id="mid" class="clearfix">
        <div id="user_message" class="midiv">
            <div>
                <div id="image">
                    <a href="/user_center/"><img src="{{ user_imgurl.user_imgurl }}" height="80px" width="80px"></a>
                </div>
            </div>
            <div id="wel">
                <br>
                <span style="font-size: 20px"><b><span style="color: #3eb8e9"><a
                        href="/user_center/">{{ login_status }}</a></span></b></span><br><br>

                <span style="font-size: 22px"><b>您可能感兴趣</b></span>
            </div>
            <br>
            <div class="box">
                <div>
                    <a href="/goods_list/?q=华为&price_low=&price_high="><span class="up" style="color: black;">华为</span></a>
                    <a href="/goods_list/?q=单反&price_low=&price_high="><span class="up" style="color: black;">单反</span></a><br>
                    <a href="/goods_list/?q=PSP&price_low=&price_high="><span class="down"
                                                                              style="color: black;">PSP</span></a>
                    <a href="/goods_list/?q=平板&price_low=&price_high="><span class="down"
                                                                             style="color: black;">平板</span></a>
                    <a href="/goods_list/?q=充电宝&price_low=&price_high="><span class="down"
                                                                              style="color: black;">充电宝</span></a>
                </div>
            </div>
        </div>
        <div class="midiv" style="width: 976px;">
            <div id="guess" style="height: 14px">
                <ul class="item-type" style="margin-left: 25px">
                    <li class="nav" id="guess1"><a href="/goods_list/?q=全新闲置&price_low=&price_high=" target="_blank"
                                                   onmouseover="change_div('dc1')">全新闲置</a></li>
                    <li class="nav selected" id="guess2"><a href="" target="_blank" onmouseover="change_div('dc2')"
                    >猜你喜欢</a></li>
                    <li class="nav" id="guess3"><a href="/goods_list/?q=同城交易&price_low=&price_high=" target="_blank"
                                                   onmouseover="change_div('dc3')">同城交易</a></li>
                </ul>
            </div>
            <br>
            <div id="ctn">
                <div id="dc1" class="hold">
                    <ul>
                        {% for goods in newest_list %}
                            <li>
                                <a href="/goods_detail/?goods={{ goods.goods_id }}"><img src="{{ goods.goods_imgurl }}"
                                                                                         class="goods_pic"></a>
                                <h4><a href="/goods_detail/?goods={{ goods.goods_id }}"
                                       title="{{ goods.goods_title }}">{{ goods.goods_title }}</a>
                                </h4>
                                <div class="prize">¥ {{ goods.goods_price }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="dc2" class="hold clearfix">
                    {#                                        <ul>#}
                    {#                                            {% for goods in goods_recommend_list %}#}
                    {#                                                <li>#}
                    {#                                                    <a href="/goods_detail/?goods={{ goods.goods_id }}"><img src="{{ goods.goods_imgurl }}"#}
                    {#                                                                                                             class="goods_pic"></a>#}
                    {#                                                    <h4><a href="/goods_detail/?goods={{ goods.goods_id }}"#}
                    {#                                                           title="{{ goods.goods_title }}">{{ goods.goods_title }}</a>#}
                    {#                                                    </h4>#}
                    {#                                                    <div class="prize">¥ {{ goods.goods_price }}</div>#}
                    {#                                                </li>#}
                    {#                                            {% endfor %}#}
                    {#                                        </ul>#}
                </div>
                <div id="dc3" class="hold">
                    <ul>
                        {% for goods in same_city_list %}
                            <li>
                                <a href="/goods_detail/?goods={{ goods.goods_id }}"><img src="{{ goods.goods_imgurl }}"
                                                                                         class="goods_pic"></a>
                                <h4><a href="/goods_detail/?goods={{ goods.goods_id }}"
                                       title="{{ goods.goods_title }}">{{ goods.goods_title }}</a>
                                </h4>
                                <div class="prize">¥ {{ goods.goods_price }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">1F 手机通讯</h3>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl">
                <img src="../static/Images/banner01.jpg">
                <div class="channel">
                    <a href="/goods_list/?q=手机&price_low=&price_high=">手机</a>
                    <a href="/goods_list/?q=配件&price_low=&price_high=">配件</a>
                    <a href="/goods_list/?q=充值&price_low=&price_high=">充值</a>
                    <a href="/goods_list/?q=优惠券&price_low=&price_high=">优惠券</a>
                </div>
                <div class="key_words">
                    <a href="/goods_list/?q=荣耀&price_low=&price_high=">荣耀手机</a>
                    <a href="/goods_list/?q=国美&price_low=&price_high=">国美手机</a>
                    <a href="/goods_list/?q=华为&price_low=&price_high=">华为手机</a>
                    <a href="#">热销推荐</a>
                    <a href="#">以旧换新</a>
                    <a href="#">潮3C</a>
                    <a href="#">全面屏</a>
                    <a href="#">守护宝</a>
                    <a href="#">存储卡</a>
                    <a href="#">保护套</a>
                </div>

            </div>
            <ul class="goods_list fl">
                {% for goods in phone_list %}
                    <li>
                        <a href="/goods_detail/?goods={{ goods.goods_id }}" class="goods_pic"><img src="{{ goods.goods_imgurl }}"></a>
                        <h4><a href="/goods_detail/?goods={{ goods.goods_id }}">{{ goods.goods_title }}</a></h4>
                        <div class="prize">¥ {{ goods.goods_price }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="list_model model02">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">2F 电脑数码</h3>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl">
                <img src="../static/Images/banner02.jpg">
                <div class="channel">
                    <a href="#">电脑</a>
                    <a href="#">数码</a>
                    <a href="#">配件</a>
                    <a href="#">潮电子</a>
                </div>
                <div class="key_words">
                    <a href="/goods_list/?q=Apple&price_low=&price_high=">Apple</a>
                    <a href="/goods_list/?q=神舟战神&price_low=&price_high=">神舟战神</a>
                    <a href="/goods_list/?q=单反&price_low=&price_high=">单反相机</a>
                    <a href="/goods_list/?q=智能家居&price_low=&price_high=">智能家居</a>
                    <a href="#">智能路由</a>
                    <a href="#">显卡</a>
                    <a href="#">顽石</a>
                    <a href="#">内存</a>
                    <a href="#">耳机</a>
                    <a href="#">主机</a>
                </div>
            </div>
            <ul class="goods_list fl">
                {% for goods in computer_list %}
                    <li>
                        <a href="/goods_detail/?goods={{ goods.goods_id }}" class="goods_pic"><img src="{{ goods.goods_imgurl }}"></a>
                        <h4><a href="/goods_detail/?goods={{ goods.goods_id }}">{{ goods.goods_title }}</a></h4>
                        <div class="prize">¥ {{ goods.goods_price }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="list_model model03">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">3F 摄影摄像</h3>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl">
                <img src="../static/Images/banner04.jpg">
                <div class="channel">
                    <a href="#">单反相机</a>
                    <a href="#">数码相机</a>
                    <a href="#">摄像机</a>
                </div>
                <div class="key_words">
                    <a href="#">拍立得</a>
                    <a href="#">镜头</a>
                    <a href="#">相机包</a>
                    <a href="#">索尼</a>
                    <a href="#">尼康</a>
                    <a href="#">松下</a>
                    <a href="#">三星</a>
                    <a href="#">三脚架</a>
                    <a href="#">微单</a>
                    <a href="#">投影</a>
                </div>
            </div>
            <ul class="goods_list fl">
                {% for goods in phone_list %}
                    <li>
                        <a href="/goods_detail/?goods={{ goods.goods_id }}" class="goods_pic"><img
                                src="{{ goods.goods_imgurl }}"></a>
                        <h4><a href="/goods_detail/?goods={{ goods.goods_id }}">{{ goods.goods_title }}</a></h4>
                        <div class="prize">¥ {{ goods.goods_price }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div>
        <a href="#" id="back-to-top">回到顶端</a>
    </div>
    <div class="footer" style="margin-top: 1080px;">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
        <p>电话：0512-****888 苏ICP备*******8号</p>
    </div>
</div>
<script type="text/javascript" src="../static/JS/main.js"></script>
<script>
    $(document).ready(function () {
        // 滚动窗口来判断按钮显示或隐藏
        $(window).scroll(function () {
            if ($(this).scrollTop() > 200) {
                $('#back-to-top').fadeIn(800);
            } else {
                $('#back-to-top').fadeOut(800);
            }
        });
        // jQuery实现动画滚动
        $('#back-to-top').click(function (event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, 500);
        });
    });
</script>
<script>
    $(document).ready(function () {
        user_id = '{{ user_id }}';
        console.log(user_id)
        $.post('/goods_recommend/', {
            'user_id': user_id
        }, function (data) {

            $("#dc2").append(data.rr)
        }, "json")
    })
</script>
</body>
</html>
