<div class="header_con">
    <div class="header">
        <div class="welcome fl"><span style="color: red;"><b>{{ login_status }}</b></span> 欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_btn fl">
                <a href="/login/?href=/haima/" target="_blank">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user_center/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order">我的订单</a>
                <span>|</span>
                <a href="/leave_message/" id="my_order">消息 <img src="{{ message_check }}" alt=""
                                                 style="width:14px;height: 14px"></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
<div id="order_show">
    <ul>
        <li><a href="/my_sale/">我出售的</a></li>
        <li><a href="/my_buy/">我购买的</a></li>
    </ul>
</div>

{#<script>#}
{#    $("#my_order").ready(function () {#}
{#        var check_message = "{{ check_message }}"#}
{#        if (check_message) {#}
{#            $("#my_order").text("有新的消息")#}
{#        }#}
{##}
{#    })#}
{#</script>#}
<div class="new_msg">
    {% if message_list_push %}
        {% for item in message_list_push %}
            {% if item == "goods_message" %}
                <span><a href="/leave_message_three/">您发布的商品有人留言了！</a></span>
            {% elif item == "system" %}
                <span><a href="/leave_message_system/">收到一条系统消息！</a></span>
            {% elif item == "evaluation" %}
                <span><a href="/my_evaluate_get/">收到一条评价！</a></span>
            {% else %}
                <span><a href="/system_message/">收到一条发货提醒</a></span>
            {% endif %}

        {% endfor %}
    {% else %}
        <span>暂无消息-_-</span>
    {% endif %}
</div>
<div class="triangle_border_up">
    <span></span>
</div>
<div class="hid_div">

</div>

<script>
    $("#my_msg").hover(function () {
        $(".new_msg").show();
        $(".triangle_border_up").show();
    }, function () {
        $(".new_msg").hide();
        $(".triangle_border_up").hide();
    });
    $(".new_msg").hover(function () {
        $(".new_msg").show();
        $(".triangle_border_up").show();
    }, function () {
        $(".new_msg").hide();
        $(".triangle_border_up").hide();
    });
    $(".triangle_border_up").hover(function () {
        $(".new_msg").show();
        $(".triangle_border_up").show();
    }, function () {
        $(".new_msg").hide();
        $(".triangle_border_up").hide();
    });
    $(".hid_div").hover(function () {
        $(".new_msg").show();
        $(".triangle_border_up").show();
    }, function () {
        $(".new_msg").hide();
        $(".triangle_border_up").hide();
    });
</script>
