<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-首页</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/JS/guess.js"></script>
</head>
<body>
{% include 'home_head.html' %}
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
    <div class="search_wrap fl">
        <div class="search_con">
            <form action="/goods_list/" method="get" target="_blank">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="hidden" name="sort_method" value="0">
                <input type="hidden" name="price_low" value="{{ price_low }}">
                <input type="hidden" name="price_high" value="{{ price_high }}">
                <input type="submit" class="input_btn fr" value="搜  索">
                <label for="search_img" class="search_img" title="图片搜索"></label>
                <input type="file" class="input_btn fr" id="search_img" hidden>
            </form>
        </div>
    </div>

    <div class="guest_cart fr">
        <a href="/my_collection/" class="cart_name fl" title="最多显示4条">我的收藏</a>
        <div class="goods_count fl" id="show_count">{{ col_count }}</div>
        <ul class="cart_goods_show">
            {% if not collection_list %}
                <div>
                    <div class="fl">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540615640800&di=10f74a08906679e36162dacb90ed2431&imgtype=0&src=http%3A%2F%2Fcdns2.freepik.com%2Ffree-photo%2Fsad-sleepy-emoticon-face-square_318-58496.jpg"
                             alt="" height="100"></div>
                    <div class="fl" style="margin-top: 40px;margin-left: 20px"><span
                            style="font-weight: bolder;font-size: 20px">您没有收藏任何商品</span></div>
                </div>
            {% else %}
                {% for value in collection_list %}
                    <li>
                        <a href="/goods_detail/?goods={{ value.goods_id }}"><img src="{{ value.goods_imgurl }} "
                                                                                 alt="商品图片"></a>
                        <a href="/goods_detail/?goods={{ value.goods_id }}"><h4 style="overflow: hidden;
white-space: nowrap;text-overflow: ellipsis;width: 160px">{{ value.goods_title }}</h4></a>
                        <div><span style="color: red"></span>{{ value.goods_price }}</div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">商品分类</h1>
        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/publish/">发布闲置</a></li>
            <li><a href="/auction_index/">拍卖</a></li>
            <li><a href="/assess/">二手估价</a></li>
            <li><a href="/user_center/">我的海马</a></li>
        </ul>
    </div>
</div>

<div class="pos_center_con clearfix">
    <ul class="slide">
        <li><a href="#"><img src="../static/Images/slide01.jpg" alt="幻灯片01" width="640" height="300"></a></li>
        <li><a href="#"><img src="../static/Images/slide02.png" alt="幻灯片02" width="640" height="300"></a></li>
        <li><a href="#"><img src="../static/Images/slide01.jpg" alt="幻灯片03" width="640" height="300"></a></li>
        <li><a href="#"><img src="../static/Images/slide02.png" alt="幻灯片04" width="640" height="300"></a></li>
    </ul>
    <div class="prev"></div>
    <div class="next"></div>
    <ul class="points">
        <!-- <li class="active"></li>
        <li></li>
        <li></li>
        <li></li> -->
    </ul>
    <ul class="sub_menu">
        <li class="newli">
            <div class="level1">
                <img src="../static/Images/phone.png" alt="" height="30" width="15" class="pic1"><a
                    href="/goods_list/?c=1&sort_method=0&price_low=&price_high=" class="main_type">手机</a><a
                    href="/goods_list/?q=手机壳&sort_method=0&price_low=&price_high=" class="child_type">手机壳</a><a
                    href="/goods_list/?q=充电器&sort_method=0&price_low=&price_high=" class="child_type">充电器</a><a
                    href="/goods_list/?q=耳机&sort_method=0&price_low=&price_high=" class="child_type">耳机</a><a
                    href="/goods_list/?q=数据线&sort_method=0&price_low=&price_high=" class="child_type">配件</a>
            </div>
            <div class="level2">
                <div class="list_group">
                    <div class="group_name fl">品牌 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=华为&sort_method=0&price_low=&price_high=">华为</a>
                        <a href="/goods_list/?q=小米&sort_method=0&price_low=&price_high=">小米</a>
                        <a href="/goods_list/?q=苹果&sort_method=0&price_low=&price_high=">苹果</a>
                        <a href="/goods_list/?q=vivo&sort_method=0&price_low=&price_high=">vivo</a>
                        <a href="/goods_list/?q=oppo&sort_method=0&price_low=&price_high=">oppo</a>
                        <a href="/goods_list/?q=魅族&sort_method=0&sort_method=0&price_low=&price_high=">魅族</a>
                        <a href="/goods_list/?q=努比亚&sort_method=0&price_low=&price_high=">努比亚</a>
                        <a href="/goods_list/?q=三星&sort_method=0&price_low=&price_high=">三星</a>
                        <a href="/goods_list/?q=一加&sort_method=0&price_low=&price_high=">一加</a>
                        <a href="/goods_list/?q=诺基亚&sort_method=0&price_low=&price_high=">诺基亚</a>
                        <a href="/goods_list/?q=HTC&sort_method=0&price_low=&price_high=">HTC</a>
                        <a href="/goods_list/?q=摩托罗拉&sort_method=0&price_low=&price_high=">摩托罗拉</a>
                        <a href="/goods_list/?q=中兴&sort_method=0&price_low=&price_high=">中兴</a>
                        <a href="/goods_list/?q=联想&sort_method=0&price_low=&price_high=">联想</a>
                        <a href="/goods_list/?q=LG&sort_method=0&price_low=&price_high=">LG</a>
                    </div>
                </div>
                <div class="list_group">
                    <div class="group_name fl">配件 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=手机壳&sort_method=0&price_low=&price_high=">手机壳</a>
                        <a href="/goods_list/?q=充电器&sort_method=0&price_low=&price_high=">充电器</a>
                        <a href="/goods_list/?q=电池&sort_method=0&price_low=&price_high=">电池</a>
                        <a href="/goods_list/?q=耳机&sort_method=0&price_low=&price_high=">耳机</a>
                        <a href="/goods_list/?q=数据线&sort_method=0&price_low=&price_high=">数据线</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="newli">
            <div class="level1">
                <img src="../static/Images/computer.png" alt="" height="30" width="15" class="pic1"><a
                    href="/goods_list/?c=2&sort_method=0&price_low=&price_high=" class="main_type">电脑</a><a
                    href="/goods_list/?q=笔记本&sort_method=0&price_low=&price_high=" class="child_type">笔记本</a><a
                    href="/goods_list/?q=台式机&sort_method=0&price_low=&price_high=" class="child_type">台式机</a><a
                    href="/goods_list/?q=平板电脑&sort_method=0&price_low=&price_high=" class="child_type">平板电脑</a>
            </div>
            <div class="level2">
                <div class="list_group">
                    <div class="group_name fl">电脑 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=笔记本&sort_method=0&price_low=&price_high=">笔记本</a>
                        <a href="/goods_list/?q=平板电脑&sort_method=0&price_low=&price_high=">平板电脑</a>
                        <a href="/goods_list/?q=台式机整机&sort_method=0&price_low=&price_high=">台式机整机</a>
                    </div>
                    <div class="group_name fl">外设 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=显示器&sort_method=0&price_low=&price_high=">显示器</a>
                        <a href="/goods_list/?q=鼠标&sort_method=0&price_low=&price_high=">鼠标</a>
                        <a href="/goods_list/?q=CPU&sort_method=0&price_low=&price_high=">CPU</a>
                        <a href="/goods_list/?q=主板&sort_method=0&price_low=&price_high=">主板</a>
                        <a href="/goods_list/?q=显卡&sort_method=0&price_low=&price_high=">显卡</a>
                        <a href="/goods_list/?q=内存&sort_method=0&price_low=&price_high=">内存</a>
                        <a href="/goods_list/?q=硬盘&sort_method=0&price_low=&price_high=">硬盘</a>
                        <a href="/goods_list/?q=手机&sort_method=0&price_low=&price_high=">电源</a>
                        <a href="/goods_list/?q=声卡&sort_method=0&price_low=&price_high=">声卡</a>
                        <a href="/goods_list/?q=网卡&sort_method=0&price_low=&price_high=">网卡</a>
                        <a href="/goods_list/?q=散热器&sort_method=0&price_low=&price_high=">散热器</a>
                        <a href="/goods_list/?q=U盘&sort_method=0&price_low=&price_high=">U盘</a>
                        <a href="/goods_list/?q=闪存卡&sort_method=0&price_low=&price_high=">闪存卡</a>
                        <a href="/goods_list/?q=移动硬盘&sort_method=0&price_low=&price_high=">移动硬盘</a>
                    </div>
                </div>
        <li class="newli">
            <div class="level1">
                <img src="../static/Images/camera.png" alt="" height="30" width="15" class="pic1">
                <a href="/goods_list/?c=3&sort_method=0&price_low=&price_high=" class="main_type">摄影</a><a
                    href="/goods_list/?q=相机&sort_method=0&price_low=&price_high=" class="child_type">相机</a><a
                    href="/goods_list/?q=单反&sort_method=0&price_low=&price_high=" class="child_type">单反</a><a
                    href="/goods_list/?q=摄像机&sort_method=0&price_low=&price_high=" class="child_type">摄像机</a><a
                    href="/goods_list/?q=微单&sort_method=0&price_low=&price_high=" class="child_type">微单</a>
            </div>
            <div class="level2">
                <div class="list_group">
                    <div class="group_name fl">品牌 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=佳能&sort_method=0&price_low=&price_high=">佳能</a>
                        <a href="/goods_list/?q=尼康&sort_method=0&price_low=&price_high=">尼康</a>
                        <a href="/goods_list/?q=索尼&sort_method=0&price_low=&price_high=">索尼</a>
                        <a href="/goods_list/?q=宾得&sort_method=0&price_low=&price_high=">宾得</a>
                        <a href="/goods_list/?q=松下&sort_method=0&price_low=&price_high=">松下</a>
                        <a href="/goods_list/?q=富士&sort_method=0&price_low=&price_high=">富士</a>
                        <a href="/goods_list/?q=三星&sort_method=0&price_low=&price_high=">三星</a>
                        <a href="/goods_list/?q=奥林巴斯&sort_method=0&price_low=&price_high=">奥林巴斯</a>
                        <a href="/goods_list/?q=适马&sort_method=0&sort_method=0&price_low=&price_high=">适马</a>
                        <a href="/goods_list/?q=徕卡&sort_method=0&price_low=&price_high=">徕卡</a>
                        <a href="/goods_list/?q=明基&sort_method=0&price_low=&price_high=">明基</a>
                        <a href="/goods_list/?q=爱国者&sort_method=0&price_low=&price_high=">爱国者</a>
                    </div>
                </div>
                <div class="list_group">
                    <div class="group_name fl">相机 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=相机&sort_method=0&price_low=&price_high=">相机</a>
                        <a href="/goods_list/?q=镜头&sort_method=0&price_low=&price_high=">镜头</a>
                        <a href="/goods_list/?q=单反&sort_method=0&price_low=&price_high=">单反</a>
                        <a href="/goods_list/?q=摄像&sort_method=0&price_low=&price_high=">摄像</a>
                        <a href="/goods_list/?q=胶片&sort_method=0&price_low=&price_high=">胶片</a>
                        <a href="/goods_list/?q=微单&sort_method=0&price_low=&price_high=">微单</a>
                        <a href="/goods_list/?q=闪光灯&sort_method=0&price_low=&price_high=">闪光灯</a>
                        <a href="/goods_list/?q=卡西欧&sort_method=0&price_low=&price_high=">卡西欧</a>
                        <a href="/goods_list/?q=拍立得&sort_method=0&price_low=&price_high=">拍立得</a>
                        <a href="/goods_list/?q=三脚架&sort_method=0&price_low=&price_high=">三脚架</a>
                        <a href="/goods_list/?q=相机包&sort_method=0&price_low=&price_high=">相机包</a>
                        <a href="/goods_list/?q=美颜神器&sort_method=0&price_low=&price_high=">美颜神器</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="newli">
            <div class="level1">
                <img src="../static/Images/game.png" alt="" height="30" width="15" class="pic1"><a
                    href="/goods_list/?c=4&sort_method=0&price_low=&price_high=" class="main_type">电玩随声听</a><a
                    href="/goods_list/?q=MP3&sort_method=0&price_low=&price_high=" class="child_type">MP3</a><a
                    href="/goods_list/?q=PSP&sort_method=0&price_low=&price_high=" class="child_type">PSP</a><a
                    href="/goods_list/?q=iPod&sort_method=0&price_low=&price_high=" class="child_type">iPod</a>
            </div>
            <div class="level2">
                <div class="list_group">
                    <div class="group_name fl">随身听 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=MP3&sort_method=0&price_low=&price_high=">MP3</a>
                        <a href="/goods_list/?q=MP4&sort_method=0&price_low=&price_high=">MP4</a>
                        <a href="/goods_list/?q=MP5&sort_method=0&price_low=&price_high=">MP5</a>
                        <a href="/goods_list/?q=录音笔&sort_method=0&price_low=&price_high=">录音笔</a>
                        <a href="/goods_list/?q=iPod&sort_method=0&price_low=&price_high=">iPod</a>
                        <a href="/goods_list/?q=索尼视听&sort_method=0&price_low=&price_high=">索尼视听</a>
                        <a href="/goods_list/?q=爱国者&sort_method=0&price_low=&price_high=">爱国者</a>
                        <a href="/goods_list/?q=纽曼&sort_method=0&price_low=&price_high=">纽曼</a>
                        <a href="/goods_list/?q=飞利浦&sort_method=0&price_low=&price_high=">飞利浦</a>
                        <a href="/goods_list/?q=三星&sort_method=0&price_low=&price_high=">三星</a>
                        <a href="/goods_list/?q=清华紫光&sort_method=0&price_low=&price_high=">清华紫光</a>
                    </div>
                </div>
                <div class="list_group">
                    <div class="group_name fl">游戏机 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=Wii&sort_method=0&price_low=&price_high=">Wii</a>
                        <a href="/goods_list/?q=PSP&sort_method=0&price_low=&price_high=">PSP</a>
                        <a href="/goods_list/?q=PS3&sort_method=0&price_low=&price_high=">PS3</a>
                        <a href="/goods_list/?q=xbox&sort_method=0&price_low=&price_high=">xbox</a>
                        <a href="/goods_list/?q=游戏软件&sort_method=0&price_low=&price_high=">游戏软件</a>
                        <a href="/goods_list/?q=酷比魔方&sort_method=0&price_low=&price_high=">酷比魔方</a>
                        <a href="/goods_list/?q=索尼电玩&sort_method=0&price_low=&price_high=">索尼电玩</a>
                        <a href="/goods_list/?q=任天堂&sort_method=0&price_low=&price_high=">任天堂</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="newli" style="border-bottom: 0px">
            <div class="level1">
                <img src="../static/Images/pad.png" alt="" height="30" width="15" class="pic1"><a
                    href="/goods_list/?c=5&sort_method=0&price_low=&price_high=" class="main_type">其他</a><a
                    href="/goods_list/?q=充电宝&sort_method=0&price_low=&price_high=" class="child_type">充电宝</a><a
                    href="/goods_list/?q=支架&sort_method=0&price_low=&price_high=" class="child_type">支架</a><a
                    href="/goods_list/?q=车载充电器&sort_method=0&price_low=&price_high=" class="child_type">车载充电器</a>
            </div>
            <div class="level2">
                <div class="list_group">
                    <div class="group_name fl">其他 &gt;</div>
                    <div class="group_detail fl">
                        <a href="/goods_list/?q=充电宝&sort_method=0&price_low=&price_high=">充电宝</a>
                        <a href="/goods_list/?q=底座&sort_method=0&price_low=&price_high=">底座</a>
                        <a href="/goods_list/?q=支架&sort_method=0&price_low=&price_high=">支架</a>
                        <a href="/goods_list/?q=车载充电器&sort_method=0&price_low=&price_high=">车载充电器</a>
                        <a href="/goods_list/?q=电脑包&sort_method=0&price_low=&price_high=">电脑包</a>
                        <a href="/goods_list/?q=取卡针&sort_method=0&price_low=&price_high=">取卡针</a>
                        <a href="/goods_list/?q=音响&sort_method=0&price_low=&price_high=">音响</a>
                        <a href="/goods_list/?q=基站&sort_method=0&price_low=&price_high=">基站</a>
                        <a href="/goods_list/?q=路由器&sort_method=0&price_low=&price_high=">路由器</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="new">
        <div id="mod">
            <div class="mod_left">
                <a href="/publish/">
                    <p class="main-title">发布闲置</p><br>
                    <p class="subtitle">闲置换钱 快速出手</p>
                </a>
            </div>
            <div class="mod_right">
                <a href="/assess/">
                    <p class="main-title">一键估价</p><br>
                    <p class="subtitle">数据分析 智能估价</p>
                </a>
            </div>
        </div>
        <div>
            <a href="/auction_index/" class="advs"><img src="../static/Images/paimai.png" width="292" height="150"
                                                        style="margin-left: 7px"></a>
        </div>
    </div>
    <div id="mid" class="clearfix">
        <div id="user_message" class="midiv">
            <div>
                <div id="image">
                    <a href="/user_center/"><img src="{{ user_imgurl.user_imgurl }}" height="80px" width="80px"></a>
                </div>
            </div>
            <div id="wel">
                <br>
                <span style="font-size: 20px"><b><span style="color: #3eb8e9"><a
                        href="/user_center/">{{ login_status }}</a></span></b></span><br><br>

                <span style="font-size: 22px"><b>您可能感兴趣</b></span>
            </div>
            <br>
            <div class="box">
                <div>
                    <a href="/goods_list/?q=华为&sort_method=0&price_low=&price_high="><span class="up" style="color: black;">华为</span></a>
                    <a href="/goods_list/?q=单反&sort_method=0&price_low=&price_high="><span class="up" style="color: black;">单反</span></a><br>
                    <a href="/goods_list/?q=PSP&sort_method=0&price_low=&price_high="><span class="down"
                                                                              style="color: black;">PSP</span></a>
                    <a href="/goods_list/?q=平板&sort_method=0&price_low=&price_high="><span class="down"
                                                                             style="color: black;">平板</span></a>
                    <a href="/goods_list/?q=充电宝&sort_method=0&price_low=&price_high="><span class="down"
                                                                              style="color: black;">充电宝</span></a>
                </div>
            </div>
        </div>
        <div class="midiv" style="width: 976px;">
            <div id="guess" style="height: 14px">
                <ul class="item-type" style="margin-left: 25px">
                    <li class="nav" id="guess1"><a href="/goods_list/?q=全新闲置&price_low=&price_high=" target="_blank"
                                                   onmouseover="change_div('dc1')">全新闲置</a></li>
                    <li class="nav selected" id="guess2"><span style="color: black" onmouseover="change_div('dc2')">猜你喜欢</span></li>
                    <li class="nav" id="guess3"><a href="/goods_list/?q=同城交易&price_low=&price_high=" target="_blank"
                                                   onmouseover="change_div('dc3')">同城交易</a></li>
                </ul>
            </div>
            <br>
            <div id="ctn">
                <div id="dc1" class="hold">
                    <ul>
                        {% for goods in newest_list %}
                            <li>
                                <a href="/goods_detail/?goods={{ goods.goods_id }}"><img src="{{ goods.goods_imgurl }}?imageView2/0/w/110/h/110"
                                                                                         class="goods_pic"></a>
                                <h4><a href="/goods_detail/?goods={{ goods.goods_id }}"
                                       title="{{ goods.goods_title }}">{{ goods.goods_title }}</a>
                                </h4>
                                <div class="prize">¥ {{ goods.goods_price }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="dc2" class="hold clearfix">
                    <div style="padding-top: 80px;padding-left: 250px">
                        <span style="font-size: 25px;font-weight: bold">后台正在为您拼命推荐！！</span>
                    </div>
                </div>
                <div id="dc3" class="hold">
                    {% if same_city_list %}
                        <ul>
                            {% for goods in same_city_list %}
                                <li>
                                    <a href="/goods_detail/?goods={{ goods.goods_id }}"><img
                                            src="{{ goods.goods_imgurl }}?imageView2/0/w/110/h/110"
                                            class="goods_pic"></a>
                                    <h4><a href="/goods_detail/?goods={{ goods.goods_id }}"
                                           title="{{ goods.goods_title }}">{{ goods.goods_title }}</a>
                                    </h4>
                                    <div class="prize">¥ {{ goods.goods_price }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% if same_city_msg == 1 %}
                            <div class="clearfix" style="margin-top: 40px">
                                <div class="fl" style="margin-left: 120px;">
                                    <img src="../static/Images/no_goods1.jpg"
                                         alt="" height="100"></div>
                                <div class="fl" style="margin-top: 40px;margin-left: 40px"><span
                                        style="font-weight: bolder;font-size: 20px">抱歉 没有找到您所在地区的商品,立即<a
                                        href="/publish/" style="color: red">发布</a>成为第一人吧</span>
                                </div>
                            </div>
                        {% elif same_city_msg == 2 %}
                            <div class="clearfix" style="margin-top: 40px">
                                <div class="fl" style="margin-left: 150px;">
                                    <img src="../static/Images/no_goods1.jpg"
                                         alt="" height="100"></div>
                                <div class="fl" style="margin-top: 40px;margin-left: 40px"><span
                                        style="font-weight: bolder;font-size: 20px">请到<a href="/modify_information/"
                                                                                         style="color: red">用户中心-修改信息</a>设置您所在的地区哟！</span>
                                </div>
                            </div>
                        {% else %}
                            <div class="clearfix" style="margin-top: 40px">
                                <div class="fl" style="margin-left: 160px;">
                                    <img src="../static/Images/no_goods1.jpg"
                                         alt="" height="100"></div>
                                <div class="fl" style="margin-top: 40px;margin-left: 40px"><span
                                        style="font-weight: bolder;font-size: 20px">您尚未登录，无法查看同城商品哟！</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="list_model">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">1F 手机通讯</h3>
            <div class="subtitle fr" style="background: #719ef7;">
                <a href="/goods_list/?c=1&price_low=&price_high=" style="color: #fff;">更多>></a>
            </div>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl">
                <img src="../static/Images/banner01.jpg">
                <div class="channel">
                    <a href="/goods_list/?q=手机&sort_method=0&price_low=&price_high=">手机</a>
                    <a href="/goods_list/?q=配件&sort_method=0&price_low=&price_high=">配件</a>
                    <a href="/goods_list/?q=充值&sort_method=0&price_low=&price_high=">充值</a>
                    <a href="/goods_list/?q=优惠券&sort_method=0&price_low=&price_high=">优惠券</a>
                </div>
                <div class="key_words">
                    <a href="/goods_list/?q=荣耀&sort_method=0&price_low=&price_high=">荣耀手机</a>
                    <a href="/goods_list/?q=国美&sort_method=0&price_low=&price_high=">国美手机</a>
                    <a href="/goods_list/?q=华为&sort_method=0&price_low=&price_high=">华为手机</a>
                    <a href="/goods_list/?q=热销&sort_method=0&price_low=&price_high=">热销推荐</a>
                    <a href="/goods_list/?q=以旧换新&sort_method=0&price_low=&price_high=">以旧换新</a>
                    <a href="/goods_list/?q=3C&sort_method=0&price_low=&price_high=">潮3C</a>
                    <a href="/goods_list/?q=全面屏&sort_method=0&price_low=&price_high=">全面屏</a>
                    <a href="/goods_list/?q=守护宝&sort_method=0&price_low=&price_high=">守护宝</a>
                    <a href="/goods_list/?q=存储卡&sort_method=0&price_low=&price_high=">存储卡</a>
                    <a href=/goods_list/?q=保护套&sort_method=0&price_low=&price_high=>保护套</a>
                </div>

            </div>
            <ul class="goods_list fl">
                {% for goods in phone_list %}
                    <li>
                        <a href="/goods_detail/?goods={{ goods.goods_id }}" class="goods_pic"><img
                                src="{{ goods.goods_imgurl }}?imageView2/0/w/130/h/130"></a>
                        <h4><a href="/goods_detail/?goods={{ goods.goods_id }}">{{ goods.goods_title }}</a></h4>
                        <div class="prize">¥ {{ goods.goods_price }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="list_model model02">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">2F 电脑数码</h3>
            <div class="subtitle fr" style="background: #61c1e6">
                <a href="/goods_list/?c=2&price_low=&price_high=" style="color: #fff;">更多>></a>
            </div>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl">
                <img src="../static/Images/banner02.jpg">
                <div class="channel">
                    <a href="/goods_list/?q=电脑&sort_method=0&price_low=&price_high=">电脑</a>
                    <a href="/goods_list/?q=数码&sort_method=0&price_low=&price_high=">数码</a>
                    <a href="/goods_list/?q=配件&sort_method=0&price_low=&price_high=">配件</a>
                    <a href="/goods_list/?q=电子&sort_method=0&price_low=&price_high=">潮电子</a>
                </div>
                <div class="key_words">
                    <a href="/goods_list/?q=Apple&sort_method=0&price_low=&price_high=">Apple</a>
                    <a href="/goods_list/?q=神舟战神&sort_method=0&price_low=&price_high=">神舟战神</a>
                    <a href="/goods_list/?q=单反&sort_method=0&price_low=&price_high=">单反相机</a>
                    <a href="/goods_list/?q=智能家居&sort_method=0&price_low=&price_high=">智能家居</a>
                    <a href="/goods_list/?q=路由&sort_method=0&price_low=&price_high=">智能路由</a>
                    <a href="/goods_list/?q=显卡&sort_method=0&price_low=&price_high=">显卡</a>
                    <a href="/goods_list/?q=顽石&sort_method=0&price_low=&price_high=">顽石</a>
                    <a href="/goods_list/?q=内存&sort_method=0&price_low=&price_high=">内存</a>
                    <a href="/goods_list/?q=耳机&sort_method=0&price_low=&price_high=">耳机</a>
                    <a href="/goods_list/?q=主机&sort_method=0&price_low=&price_high=">主机</a>
                </div>
            </div>
            <ul class="goods_list fl">
                {% for goods in computer_list %}
                    <li>
                        <a href="/goods_detail/?goods={{ goods.goods_id }}" class="goods_pic"><img
                                src="{{ goods.goods_imgurl }}?imageView2/0/w/130/h/130"></a>
                        <h4><a href="/goods_detail/?goods={{ goods.goods_id }}">{{ goods.goods_title }}</a></h4>
                        <div class="prize">¥ {{ goods.goods_price }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="list_model model03">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">3F 摄影摄像</h3>
            <div class="subtitle fr" style="background: #c584ec">
                <a href="/goods_list/?c=3&price_low=&price_high=" style="color: #fff;">更多>></a>
            </div>
        </div>
        <div class="goods_con clearfix">
            <div class="goods_banner fl">
                <img src="../static/Images/banner04.jpg">
                <div class="channel">
                    <a href="/goods_list/?q=单反&sort_method=0&price_low=&price_high=">单反相机</a>
                    <a href="/goods_list/?q=数码相机&sort_method=0&price_low=&price_high=">数码相机</a>
                    <a href="/goods_list/?q=摄像机&sort_method=0&price_low=&price_high=">摄像机</a>
                </div>
                <div class="key_words">
                    <a href="/goods_list/?q=拍立得&sort_method=0&price_low=&price_high=">拍立得</a>
                    <a href="/goods_list/?q=镜头&sort_method=0&price_low=&price_high=">镜头</a>
                    <a href="/goods_list/?q=相机包&sort_method=0&price_low=&price_high=">相机包</a>
                    <a href="/goods_list/?q=索尼&sort_method=0&price_low=&price_high=">索尼</a>
                    <a href="/goods_list/?q=尼康&sort_method=0&price_low=&price_high=">尼康</a>
                    <a href="/goods_list/?q=松下&sort_method=0&price_low=&price_high=">松下</a>
                    <a href="/goods_list/?q=三星&sort_method=0&price_low=&price_high=">三星</a>
                    <a href="/goods_list/?q=三脚架&sort_method=0&price_low=&price_high=">三脚架</a>
                    <a href="/goods_list/?q=微单&sort_method=0&price_low=&price_high=">微单</a>
                    <a href="/goods_list/?q=投影&sort_method=0&price_low=&price_high=">投影</a>
                </div>
            </div>
            <ul class="goods_list fl">
                {% for goods in camera_list %}
                    <li>
                        <a href="/goods_detail/?goods={{ goods.goods_id }}" class="goods_pic"><img
                                src="{{ goods.goods_imgurl }}?imageView2/0/w/130/h/130"></a>
                        <h4><a href="/goods_detail/?goods={{ goods.goods_id }}">{{ goods.goods_title }}</a></h4>
                        <div class="prize">¥ {{ goods.goods_price }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div>
        <a href="#" id="back-to-top">回到顶端</a>
    </div>
    <div class="footer" style="margin-top: 50px;">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
        <p>电话：0512-****888 苏ICP备*******8号</p>
    </div>
</div>
<style>
    .background {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        filter: alpha(opacity=40);
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
    }

    .progressBar {
        border: solid 2px #86A5AD;
        background: white url(../static/Images/5-121204193R0.gif) no-repeat 10px 10px;
    }

    .progressBar {
        display: block;
        width: 148px;
        height: 28px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -74px;
        margin-top: -14px;
        padding: 10px 10px 10px 50px;
        text-align: left;
        line-height: 27px;
        font-weight: bold;
        z-index: 2001;
    }
</style>
<div id="background" class="background" style="display: none; "></div>
<div id="progressBar" class="progressBar" style="display: none; ">图片上传中，请稍等...</div>
<script>
    $('#search_img').on('change', function (e) {
            var file = e.target.files[0];
            var key;
            var observable;
            var subscription;
            var token;
            var putExtra = {
                mimeType: ["image/png", "image/jpeg", "image/gif"] || null,
            };
            var config = {
                region: qiniu.region.z0
            };
            var observer = {
                next(res) {
                    console.log(res.total.percent);
                },
                error(err) {
                    console.log(err)
                },
                complete(res) {
                    url = 'http://files.g1.xmgc360.com/' + res['key']
                    console.log(url)
                    form = $(" <form method='post' action='/search_image/'></form>")
                    input = $("<input type='text'>").val(url).attr('name', 'url')
                    form.append(input)
                    $(document.body).append(form);
                    //var ajaxbg = $("#background,#progressBar");
                    //ajaxbg.hide();
                    form.submit()
                }
            }
            var index = 0
            $.ajax({
                url: "/gettokendata/",
                data: {'index': index},
                type: "POST",
                async: false,
                success: function (data) {//请求成功后调用的函数
                    token = data;
                    observable = qiniu.upload(file, key, token, putExtra, config)
                    subscription = observable.subscribe(observer) // 上传开始
                    console.log('kaishi')
                    var ajaxbg = $("#background,#progressBar");
                    ajaxbg.show();
                },
                error: function () {//请求失败后调用的函数
                    console.log(err);
                }
            });
        }
    )
</script>
<script type="text/javascript" src="https://unpkg.com/qiniu-js@2.5.1/dist/qiniu.min.js"></script>
<script type="text/javascript" src="../static/JS/main.js"></script>
<script>
    $(document).ready(function () {
        // 滚动窗口来判断按钮显示或隐藏
        $(window).scroll(function () {
            if ($(this).scrollTop() > 230) {
                $('#back-to-top').fadeIn(800);
            } else {
                $('#back-to-top').fadeOut(800);
            }
        });
        // jQuery实现动画滚动
        $('#back-to-top').click(function (event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, 500);
        });
    });
</script>
<script>
    $(document).ready(function () {
        user_id = '{{ user_id }}';
        if (user_id == 'None') {
            user_id = 'visitor'
        }
        $.post('/goods_recommend/', {
            'user_id': user_id
        }, function (data) {
            $('#dc2').text('')
            $("#dc2").append(data.rr)
        }, "json")
    })
</script>
</body>
</html>
