<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-用户中心</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到海马商城!</div>
        <div class="fr">
            <div class="login_btn fl">
                <a href="/login/">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order" onmouseover="showhide()">我的订单</a><br>
            </div>
        </div>
    </div>
</div>
<div id="order_show">
    <ul>
        <li><a href="/sale/">我出售的</a></li>
        <li><a href="/buy/">我购买的</a></li>
    </ul>
</div>
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
    <div class="sub_page_name fl ">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/leave_message/" style="color: #666">买家留言</a></div>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/leave_message_two/" style="color: #ff8800">卖家留言</a>
    </div>
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="/user_center/">· 个人信息</a></li>
            <li><a href="/my_sale/">· 我出售的</a></li>
            <li><a href="/my_buy/">· 我购买的</a></li>
            <li><a href="user_center_order.html">· 我的拍卖</a></li>
            <li><a href="/my_collection/">· 我的收藏</a></li>
            <li><a href="/my_evaluate/">· 我的评价</a></li>
            <li><a href="/leave_message/" class="active">· 宝贝留言</a></li>
            <li><a href="/modify_information/">· 修改信息</a></li>
        </ul>
    </div>
    <div id="c2">
        <ul class="release-goods-list" style="margin-left: 220px">
            <li class="comment-data-item clearfix" style="height: 120px;">
                <div class="cell">
                    <div class="user-infor">
                        <span class="post-avator"><img src="../static/Images/user.gif" alt="" height="40" width="40"
                                                       style="border: 2px solid #e9e9e9;border-radius: 50%;"></span>
                        <span class="post-name">小可爱</span>
                    </div>
                </div>
                <div class="comment-data cell" style="padding-top: 30px">
                    <span class="line2">很好很棒666</span><br>
                    <span>2018-10-30</span>
                </div>
                <div class="cell" style="padding-right: 20px">
                    <img src="../static/images/goods/goods001.jpg" alt="" width="80px" height="80px">
                </div>
                <div class="cell" style="padding-top: 30px">
                    <span class="line2"><a href="">93新二手 Sony索尼 NEX-5N微单套机（16/2.8）909692 613620京</a></span><br>
                    <span class="credit_goods_price">¥ 998</span>
                </div>
            </li>
            <li class="comment-data-item clearfix" style="height: 120px;">
                <div class="cell">
                    <div class="user-infor">
                        <span class="post-avator"><img src="../static/Images/user.gif" alt="" height="40" width="40"
                                                       style="border: 2px solid #e9e9e9;border-radius: 50%;"></span>
                        <span class="post-name">小可爱</span>
                    </div>
                </div>
                <div class="comment-data cell" style="padding-top: 30px">
                    <span class="line2">很好很棒666</span><br>
                    <span>2018-10-30</span>
                </div>
                <div class="cell" style="padding-right: 20px">
                    <img src="../static/images/goods/goods001.jpg" alt="" width="80px" height="80px">
                </div>
                <div class="cell" style="padding-top: 30px">
                    <span class="line2"><a href="">93新二手 Sony索尼 NEX-5N微单套机（16/2.8）909692 613620京</a></span><br>
                    <span class="credit_goods_price">¥ 998</span>
                </div>
            </li>
            <li class="comment-data-item clearfix" style="height: 120px;">
                <div class="cell">
                    <div class="user-infor">
                        <span class="post-avator"><img src="../static/Images/user.gif" alt="" height="40" width="40"
                                                       style="border: 2px solid #e9e9e9;border-radius: 50%;"></span>
                        <span class="post-name">小可爱</span>
                    </div>
                </div>
                <div class="comment-data cell" style="padding-top: 30px">
                    <span class="line2">很好很棒666</span><br>
                    <span>2018-10-30</span>
                </div>
                <div class="cell" style="padding-right: 20px">
                    <img src="../static/images/goods/goods001.jpg" alt="" width="80px" height="80px">
                </div>
                <div class="cell" style="padding-top: 30px">
                    <span class="line2"><a href="">93新二手 Sony索尼 NEX-5N微单套机（16/2.8）909692 613620京</a></span><br>
                    <span class="credit_goods_price">¥ 998</span>
                </div>
            </li>
            <li class="comment-data-item clearfix" style="height: 120px;">
                <div class="cell">
                    <div class="user-infor">
                        <span class="post-avator"><img src="../static/Images/user.gif" alt="" height="40" width="40"
                                                       style="border: 2px solid #e9e9e9;border-radius: 50%;"></span>
                        <span class="post-name">小可爱</span>
                    </div>
                </div>
                <div class="comment-data cell" style="padding-top: 30px">
                    <span class="line2">很好很棒66666666666666666666666666666666</span><br>
                    <span>2018-10-30</span>
                </div>
                <div class="cell" style="padding-right: 20px">
                    <img src="../static/images/goods/goods001.jpg" alt="" width="80px" height="80px">
                </div>
                <div class="cell" style="padding-top: 30px">
                    <span><a href="" class="line2">93新二手 Sony索尼 NEX-5N微单套机（16/2.8）909692 613620京111111111111111111111111</a></span><br>
                    <span class="credit_goods_price">¥ 998</span>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
    <p>电话：0512-****888 苏ICP备*******8号</p>
</div>
<script type="text/javascript" src="../static/JS/main.js"></script>
</body>
</html>