<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-用户中心</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
</head>
<body>
{% include 'home_head.html' %}
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/system_message/" style="color: #666">系统消息</a>
    </div>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/leave_message/" style="color: #ff8800">收到回复</a>
    </div>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/leave_message_two/" style="color: #666">我的回复</a>
    </div>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/leave_message_three/"
                                                              style="color: #666">商品留言</a>
    </div>
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="/user_center/">· 个人信息</a></li>
            <li><a href="/my_sale/">· 我出售的</a></li>
            <li><a href="/my_buy/">· 我购买的</a></li>
            <li><a href="/my_auction_buy_one/">· 我的拍卖</a></li>
            <li><a href="/my_collection/">· 我的收藏</a></li>
            <li><a href="/my_evaluate_get/">· 我的评价</a></li>
            <li><a href="/leave_message/" class="active">· 消息中心</a></li>
            <li><a href="/modify_information/">· 修改信息</a></li>
            <li><a href="/modify_password/">· 修改密码</a></li>
        </ul>
    </div>
    <div id="c2">
        <ul class="release-goods-list" style="margin-left: 220px">
            {% for item in contacts %}
                {% if user_id != item.user_id %}
                    <li class="comment-data-item clearfix" style="height: 120px;">
                        <div class="cell">
                            <div class="user-infor">
                        <span class="post-avator"><a href="/user_credit/?user_credit_id={{ item.user_id }}"><img
                                src="{{ item.user_imgurl }}" alt="" height="40" width="40"
                                style="border: 2px solid #e9e9e9;border-radius: 50%;"></a></span>
                                <span class="post-name"><a
                                        href="/user_credit/?user_credit_id={{ item.user_id }}"
                                        style="color: blue">{{ item.user_name }}</a></span>
                            </div>
                        </div>
                        <div class="comment-data cell" style="padding-top: 30px">
                            {#                        {% if user_id != item.user_id %}#}
                            {#                            <span class="line2" style="color: #5e5e5e"><u>{{ item.second_desc }}</u>&nbsp;<span style="color: red">@自己</span></span><br>#}
                            {#                        {% else %}#}
                            <span class="line2"><a href="/goods_detail/?goods={{ item.goods_id }}&message_second_id={{ item.parent_message_id }}#abc"
                                                   style="color: #5e5e5e">{{ item.second_desc }}</a></span><br>
                            {#                        {% endif %}#}
                            <span>{{ item.second_date }}</span>
                        </div>
                        <div class="cell" style="padding-right: 20px">
                            <a href="/goods_detail/?goods={{ item.goods_id }}"><img src="{{ item.goods_imgurl }}" alt=""
                                                                                    width="80px" height="80px"></a>
                        </div>
                        <div class="cell" style="padding-top: 30px">
                <span class="line2"><a href="/goods_detail/?goods={{ item.goods_id }}"
                                       style="color: dodgerblue">{{ item.goods_title }}</a></span><br>
                            <span class="credit_goods_price">{{ item.goods_price }}</span>
                        </div>
                    </li>
                {% else %}
                    <li class="comment-data-item clearfix" style="height: 120px;">
                        <div class="cell">
                            <div class="user-infor">
                        <span class="post-avator"><a href="/user_credit/?user_credit_id={{ item.user_id }}"><img
                                src="{{ item.user_imgurl }}" alt="" height="40" width="40"
                                style="border: 2px solid #e9e9e9;border-radius: 50%;"></a></span>
                                <span class="post-name"><a
                                        href="/user_credit/?user_credit_id={{ item.user_id }}"
                                        style="color: red">{{ item.user_name }}</a></span>
                            </div>
                        </div>
                        <div class="comment-data cell" style="padding-top: 30px">
                            {#                        {% if user_id != item.user_id %}#}
                            {#                            <span class="line2" style="color: #5e5e5e"><u>{{ item.second_desc }}</u>&nbsp;<span style="color: red">@自己</span></span><br>#}
                            {#                        {% else %}#}
                            <span class="line2"><a href="/goods_detail/?goods={{ item.goods_id }}&message_second_id={{ item.parent_message_id }}#abc"
                                                   style="color: red" target="_blank">{{ item.second_desc }}</a></span><br>
                            {#                        {% endif %}#}
                            <span>{{ item.second_date }}</span>
                        </div>
                        <div class="cell" style="padding-right: 20px">
                            <a href="/goods_detail/?goods={{ item.goods_id }}"><img src="{{ item.goods_imgurl }}" alt=""
                                                                                    width="80px" height="80px"></a>
                        </div>
                        <div class="cell" style="padding-top: 30px">
                <span class="line2"><a href="/goods_detail/?goods={{ item.goods_id }}"
                                       style="color: dodgerblue">{{ item.goods_title }}</a></span><br>
                            <span class="credit_goods_price">{{ item.goods_price }}</span>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="pagenation">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}
        {% for pg in contacts.paginator.page_range %}
            {% if pg == contacts.number %}
                <span class="active">
                    <a href="?page={{ pg }}">{{ pg }}</a>
                </span>
            {% else %}
                <span>
                    <a href="?page={{ pg }}">{{ pg }}</a>
                </span>
            {% endif %}
        {% endfor %}
        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">下一页</a>
        {% endif %}
    </span>
    </div>
</div>


<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
    <p>电话：0512-****888 苏ICP备*******8号</p>
</div>
<script type="text/javascript" src="../static/JS/main.js"></script>
</body>
</html>