<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的拍卖</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" href="../static/CSS/my_auction.css">
      <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/JS/my_auction.js"></script>
</head>
<body onload="timer()">
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_info fl">
                欢迎您：<em>张 山</em>
                <a href="javascript:;" class="quit">退出</a>
            </div>
            <div class="login_btn fl">
                <a href="login.html">登录</a>
                <span>|</span>
                <a href="register.html">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="user_center.html">用户中心</a>
                <span>|</span>
                <a href="user_center_order.html">我的订单</a>
            </div>
        </div>
    </div>
</div>
<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">商品分类</h1>
        <ul class="navlist fl">
            <li><a href="">首页</a></li>
            <li><a href="">发布闲置</a></li>
            <li><a href="">拍卖</a></li>
            <li><a href="">二手估价</a></li>
            <li><a href="">我的闲置</a></li>
        </ul>
    </div>
</div>
<div id="auction_user_messige">
    <div id="user_messige">
        <div>
            <img src="" alt="">
        </div>
        <div>
            用户A
        </div>
    </div>
    <div id="return">
        <a href="">返回拍卖首页</a>
    </div>
</div>
<hr>
<hr>
<div id="my_auction_goods">
    <div>
        <img src="../static/Images/banner02.jpg" alt="" height="360px" width="400px">
    </div>
     <div id="auction_goods_desc">
         <div id="title" style="font-size:25px">这是商品的标题111111111111111

         </div>
         <br>
         <div id="auction_messige">
            <div id="auction_messige_desc" >
                <div>开始时间：<span id="acution_goods_start_time">1998/4/4</span></div>
                <br>
                <div>结束时间：<span id="acution_goods_end_time">1999/4/4</span></div>
                <br>
                <div>保证金：<span>200</span>元</div>
                <br>
                <div>单次加价最低：<span id="auction_goods_premium">50元</span></div>
                <br>
                <div>商品底价：<span id="auction_goods_floorprice">4000元</span></div>
                <br>
                <div>当前价格：<span id="acution_goods_start_time">4500元</span></div>
                <br>
                <div>当前竞拍者：<span id="acution_goods_start_time">张三</span></div>
                <br>
                <div>距离拍卖结束:<span id = "timer"></span></div>
                <br>
                <div style="padding-left: 300px;">
                    <button>
                        结束拍卖
                    </button>
                </div>
            </div>
         </div>

    </div>
</div>


</body>
</html>