<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的拍卖</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" href="../static/CSS/my_auction_four.css">
    <link rel="stylesheet" href="../static/CSS/main.css">
      <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>

</head>
<body>
<div style="min-height:100%;height:auto;">
{% include 'home_head.html' %}
    <div class="Navigation_information">
    <div id="auction_Navigation">
        <a href="/release_auction/"><button id="release_auction">发布拍卖</button></a>
        <a href="/auction_index/"><button id="now_auction">正在拍卖</button></a>

    </div>
</div>
<hr>
<div id="auction_select">
    <div style="margin-top: 10px;float: right">
    <a href="/my_auction_one/"><button id="auction_one" value="one">我发布的</button></a>
    <a href="/my_auction_buy_one/"><button id="auction_four" value="four">我竞拍的</button></a>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
</div>

<div class="main_con clearfix">
		<div class="left_menu_con clearfix" style="margin-top: 40px;">
			<h3>用户拍卖中心</h3>
			<ul>
				<li><a href="/my_auction_buy_one/">· 竞拍中</a></li>
				<li><a href="/my_auction_buy_two/"  class="active">· 竞拍失败</a></li>
				<li><a href="/my_auction_buy_three/">· 竞拍成功</a></li>
				<li><a href="/my_auction_buy_four/">· 付款失败</a></li>
                <li><a href="/my_auction_buy_five/">· 收货确认</a></li>
                <li><a href="/my_auction_buy_six/">· 历史成交订单</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">竞拍失败</h3>


		<div id="select_two">
        {% if list2 %}
{% for i in contacts %}
  <div id="four">
  <div style="margin-top: 20px;margin-left: 40px;">
        <div>
            <img src={{ i.goods.auction_goods_imgurl }} alt="" height="300px" width="300px">
        </div>
         <div id="auction_goods_desc" style="padding-left: 40px;padding-top: 10px;">
             <div id="title" style="font-size:25px">
                {{ i.goods.auction_goods_title }}
             </div>
             <br>
             <div id="auction_messige" style="margin-top: 30px;">
                <div id="auction_messige_desc" >
                    <div>开始时间：<span id="acution_goods_start_time">{{ i.attribute.start_date }}</span></div>
                    <br>
                    <div>结束时间：<span id="acution_goods_start_time">{{ i.attribute.end_date }}</span></div>
                    <br>
                    <div>开始价格：<span id="acution_goods_start_time">{{ i.record.auction_goods_oldprice }}</span></div>
                    <br>
                    <div>我的加价：<span id="auction_goods_floorprice">{{ i.record.auction_goods_premium }}</span></div>
                    <br>
                    <div>加价后价格：<span id="acution_goods_start_time">{{ i.record.auction_goods_price }}</span></div>
                    <br>
                    <div>竞拍状态：<span id="acution_goods_start_time" style="color: red">{{ i.state }}</span></div>
                    <br>

                </div>
             </div>
         </div>
  </div>
    </div>
{% endfor %}
    {% else %}
    <div style="margin-left: 100px;margin-top: 50px;">
        <span ><b style="font-size: 20px;">海马商城温馨提示，你还没有竞拍的商品哦!</b></span>
        <div ><img src="../static/Images/no_goods.jpg" alt="" width=100 height="100"></div>
    </div>
{% endif %}
</div>
				<div class="pagenation">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}
        {% for pg in contacts.paginator.page_range %}
            {% if pg == contacts.number %}
                <span class="active">
                    <a href="?page={{ pg }}">{{ pg }}</a>
                </span>
            {% else %}
                <span>
                    <a href="?page={{ pg }}">{{ pg }}</a>
                </span>
            {% endif %}
        {% endfor %}
        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">下一页</a>
        {% endif %}
    </span>
            </div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京美多商业股份有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

</body>

</html>
<script>
       {#将那个订单id传到那个支付密码的界面#}
      function pay(obj) {
        order_id=obj.value;
        price=$("#price_tag"+order_id).text();
        $.post("/auction_money/"
        ,
            {
                "price":price,
                "order_id":order_id,

            }
            ,function (data) {
                location.href=data
            })

    }

 $("#ok").click(function () {
        order_id=$("#goods_order_id").text();
        $.post("/confirm_auction_goods/"
        ,
            {
                "order_id":order_id
            }
            ,function (data) {
                 location.href=data
            }
            ,'json')
    });

$("#no").click(function () {
      $("#info_message").hide()
});
      function confirm_goods(obj) {
        id=obj.value
        document.getElementById("goods_order_id").innerText=id;
        $("#info_message").show()
    }


    $("#shutdown").click(function () {
         $("#pay_message").hide()
    })

</script>
</html>