<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的发布</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" href="../static/CSS/my_auction.css">
      <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/JS/my_auction.js"></script>
</head>
<body >
<div class="header_con">
    <div class="header">
        <div class="welcome fl"><span style="color: red"><b>{{ username }}</b></span>欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_btn fl">
                <a href="/login/?href=/my_auction/" target="_blank">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user_center/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order">我的订单</a>
                <span>|</span>
                <a href="" id="my_order">留言 <img src="../static/Images/message.png" alt="" width="10" height="10"></a>
            </div>
        </div>
    </div>
</div>
<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">商品分类</h1>
        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/release_auction/">发布闲置</a></li>
            <li><a href="/auction_index/">拍卖</a></li>
            <li><a href="/assess/">二手估价</a></li>
            <li><a href="/user_center/">我的闲置</a></li>
        </ul>
    </div>
</div>
<div class="Navigation_information">
    <div id="auction_Navigation">
        <a href="/release_auction/"><button id="release_auction">发布拍卖</button></a>
          <a href="/auction_index/"><button id="now_auction">正在拍卖</button></a>
        <a href="/history_auction/"><button id="histroy_auction">历史拍卖</button></a>
    </div>
    <div id="auction_classification">
        <div>拍卖分类：</div>
        <div><a href="">手机</a></div>
        <div><a href="">相机</a></div>
        <div><a href="">电脑</a></div>
        <div><a href="">外设</a></div>
    </div>

</div>
<hr>
<div id="auction_select">

    <a href="/my_auction_one/"><button id="auction_one" value="one">我发布的</button></a>
    <a href="/my_auction_four/"><button id="auction_four" value="four">我竞拍的</button></a>
    <div style="padding-top: 10px">
        <span style="font-size: 14px; font-weight: bolder">商品状态选择:</span>
    <select name="" id="goods_state" onchange="f1(this)" >
        <option value="0">竞拍中</option>
        <option value="1">流拍</option>
        <option value="2">竞拍成功</option>
        <option value="3">待发货商品</option>
        <option value="4">已发货商品</option>
        <option value="5" >交易完成</option>
        <option value="6" >收款失败</option>
    </select>
        </div>
</div>
<div id="my_auction_goods">
<div id="select_one">
    {% for i in list10 %}
    <div id="one" >
        <div>
            <img src={{ i.goods.auction_goods_imgurl }} alt="" height="360px" width="400px">
        </div>
         <div id="auction_goods_desc">
             <div id="title" style="font-size:25px">
                 {{ i.goods.auction_goods_title }}

             </div>
             <br>
             <div id="auction_messige">
                <div id="auction_messige_desc" >
                    <div>开始时间：<span id="acution_goods_start_time">{{ i.attribute.start_date }}</span></div>
                    <br>
                    <div>结束时间：<span id="acution_goods_end_time">{{ i.attribute.end_date }}</span></div>
                    <br>
                    <div>保证金：<span>{{ i.attribute.auction_goods_margin }}</span>元</div>
                    <br>
                    <div>单次加价最低：<span id="auction_goods_premium">{{ i.attribute.auction_goods_floorpremium }}</span></div>
                    <br>
                    <div>商品底价：<span id="auction_goods_floorprice">{{ i.attribute.auction_goods_floorprice }}</span></div>
                    <br>
                    <div>当前价格：<span id="acution_goods_start_time">{{ i.attribute.auction_goods_price }}</span></div>
                    <br>
                    <div>当前竞拍者：<span id="acution_goods_start_time">{{ i.user_name }}</span></div>
                    <br>

                    <div style="padding-left: 300px;">
                        <a href="/end_auction/?id={{ i.goods.auction_goods_id }}"><button>
                            结束拍卖
                        </button> </a>
                    </div>

                </div>
             </div>
         </div>
    </div>
    {% endfor %}
</div>
<div id="select_two">
{% for i in list11 %}
    <div id="one" >
        <div>
            <img src={{ i.goods.auction_goods_imgurl }} alt="" height="360px" width="400px">
        </div>
         <div id="auction_goods_desc">
             <div id="title" style="font-size:25px">
                 {{ i.goods.auction_goods_title }}

             </div>
             <br>
             <div id="auction_messige">
                <div id="auction_messige_desc" >
                    <div>开始时间：<span id="acution_goods_start_time">{{ i.attribute.start_date }}</span></div>
                    <br>
                    <div>结束时间：<span id="acution_goods_end_time">{{ i.attribute.end_date }}</span></div>
                    <br>
                    <div>保证金：<span>{{ i.attribute.auction_goods_margin }}</span>元</div>
                    <br>
                    <div>单次加价最低：<span id="auction_goods_premium">{{ i.attribute.auction_goods_floorpremium }}</span></div>
                    <br>
                    <div>商品底价：<span id="auction_goods_floorprice">{{ i.attribute.auction_goods_floorprice }}</span></div>
                    <br>
                    <div>当前价格：<span id="acution_goods_start_time">{{ i.attribute.auction_goods_price }}</span></div>
                    <br>
                    <div>当前竞拍者：<span id="acution_goods_start_time">无</span></div>
                    <br>
                    <div style="color: #ffda44">{{ i.state }}</div>

                </div>
             </div>
         </div>
    </div>
    {% endfor %}
</div>
<div id="select_three">
{% for i in list12 %}
    <div id="one" >
        <div>
            <img src={{ i.goods.auction_goods_imgurl }} alt="" height="360px" width="400px">
        </div>
         <div id="auction_goods_desc">
             <div id="title" style="font-size:25px">
                 {{ i.goods.auction_goods_title }}

             </div>
             <br>
             <div id="auction_messige">
                <div id="auction_messige_desc" >
                    <div>开始时间：<span id="acution_goods_start_time">{{ i.attribute.start_date }}</span></div>
                    <br>
                    <div>结束时间：<span id="acution_goods_end_time">{{ i.attribute.end_date }}</span></div>
                    <br>
                    <div>保证金：<span>{{ i.attribute.auction_goods_margin }}</span>元</div>
                    <br>
                    <div>单次加价最低：<span id="auction_goods_premium">{{ i.attribute.auction_goods_floorpremium }}</span></div>
                    <br>
                    <div>商品底价：<span id="auction_goods_floorprice">{{ i.attribute.auction_goods_floorprice }}</span></div>
                    <br>
                    <div>当前价格：<span id="acution_goods_start_time">{{ i.attribute.auction_goods_price }}</span></div>
                    <br>
                    <div>当前竞拍者：<span id="acution_goods_start_time">{{ i.user_name }}</span></div>
                    <br>
                    <div style="color: #ffda44">{{ i.state }}</div>

                </div>
             </div>
         </div>
    </div>
    {% endfor %}
</div>
<div id="select_four">
{% for i in list13 %}
    <div id="one" >
        <div>
            <img src={{ i.goods.auction_goods_imgurl }} alt="" height="360px" width="400px">
        </div>
         <div id="auction_goods_desc">
             <div id="title" style="font-size:25px">
                 {{ i.goods.auction_goods_title }}

             </div>
             <br>
             <div id="auction_messige">
                <div id="auction_messige_desc" >
                    <div>订单id：<span id="auction_order_id">{{ i.order.auction_order_id }}</span></div>
                    <br>
                    <div>订单生成时间：<span id="auction_goods_premium">{{ i.order.auction_order_date }}</span></div>
                    <br>
                    <div>付款时间：<span id="auction_goods_premium">{{ i.order.pay_money_date }}</span></div>
                    <br>
                    <div>订单金额：<span id="auction_goods_premium">{{ i.order.auction_order_fianl_price }}</span></div>
                    <br>
                    <div>买家用户名：<span id="acution_goods_start_time">{{ i.user_name }}</span></div>
                    <br>
                    <div style="color: #ffda44">{{ i.state }}</div>
                    <br>
                    <div>
                        <button id="delivery"  onclick="message(this)"   value={{ i.order.auction_order_id }} >
                            发货
                        </button>
                    </div>
                    <br>
                </div>
             </div>
         </div>
    </div>
    {% endfor %}
</div>
<div id="select_five">
{% for i in list14 %}
    <div id="one" >
        <div>
            <img src={{ i.goods.auction_goods_imgurl }} alt="" height="360px" width="400px">
        </div>
         <div id="auction_goods_desc">
             <div id="title" style="font-size:25px">
                 {{ i.goods.auction_goods_title }}

             </div>
             <br>
             <div id="auction_messige" style="margin-top: 30px;">
                <div id="auction_messige_desc" >
                    <div>订单id：<span id="auction_order_id">{{ i.order.auction_order_id }}</span></div>
                    <br>
                    <div>订单生成时间：<span id="auction_goods_premium">{{ i.order.auction_order_date }}</span></div>
                    <br>
                    <div>付款时间：<span id="auction_goods_premium">{{ i.order.pay_money_date }}</span></div>
                    <br>
                    <div>订单金额：<span id="auction_goods_premium">{{ i.order.auction_order_fianl_price }}</span></div>
                    <br>
                    <div>买家用户名：<span id="acution_goods_start_time">{{ i.user_name }}</span></div>
                    <br>
                     <div>快递运单号：<span id="acution_goods_start_time">{{ i.the_goods_state }}</span></div>
                    <br>
                    <div>等待用户收货</div>
                    <br>
                </div>
             </div>
         </div>
    </div>
    {% endfor %}
</div>
<div id="select_six">
{% for i in list15 %}
    <div id="one" >
        <div>
            <img src={{ i.goods.auction_goods_imgurl }} alt="" height="360px" width="400px">
        </div>
         <div id="auction_goods_desc">
             <div id="title" style="font-size:25px">
                 {{ i.goods.auction_goods_title }}

             </div>
             <br>
             <div id="auction_messige">
                <div id="auction_messige_desc" >
                    <div>订单id：<span id="auction_order_id">{{ i.order.auction_order_id }}</span></div>
                    <br>
                    <div>订单生成时间：<span id="auction_goods_premium">{{ i.order.auction_order_date }}</span></div>
                    <br>
                    <div>付款时间：<span id="auction_goods_premium">{{ i.order.pay_money_date }}</span></div>
                    <br>
                    <div>订单金额：<span id="auction_goods_premium">{{ i.order.auction_order_fianl_price }}</span></div>
                    <br>
                    <div>买家用户名：<span id="acution_goods_start_time">{{ i.user_name }}</span></div>
                    <br>
                     <div>收货时间：<span id="acution_goods_start_time">{{ i.order.order_success_date }}</span></div>
                    <br>
                    <br>
                </div>
             </div>
         </div>
    </div>
    {% endfor %}
</div>

<div id="delivery_message">
    <button id="shutdown_del">关闭</button>
    <br>
    <span id="order_id" style="display:none;">0</span>
    <br>
    <span>快递单号：<input type="text" id="courier_number"></span>
    <br>
    <button id="ok">确定</button>
</div>
</body>
<script>
    {#将发货框弹出来#}
    function message(obj){
        $("#delivery_message").show();
        order_id=obj.value;
        $("#order_id").text(order_id)
    }

    $("#ok").click(function () {
        courier_number=$("#courier_number").val();
        order_id=$("#order_id").text();

        var reg=/^[0-9]*$/;
        if(!reg.test(courier_number))
        {
            alert("运单号错误")
        }
        $.post("/delivery/",
            {
            "courier_number":courier_number,
               "order_id": order_id
            }
            ,function (data) {

            }
            ,'json'
        )

    });

    function f1(obj) {

        if(obj.value==0) {f2()}
       else if(obj.value==1) {f3()}
         else if(obj.value==2) {f4()}
       else if(obj.value==3) {f5()}
           else if(obj.value==4) {f6()}
            else if(obj.value==5) {f7()}

    }
    function f2() {
        $("#select_one").show()
        $("#select_two").hide()
        $("#select_three").hide();
       $("#select_four").hide();
       $("#select_five").hide();
       $("#select_six").hide();

    }

    function f3(){
          $("#select_one").hide();
           $("#select_two").show();
           $("#select_three").hide();
           $("#select_four").hide();
           $("#select_five").hide();

            $("#select_six").hide();

    }
    function f4()
    {
          $("#select_one").hide();
           $("#select_two").hide();
           $("#select_three").show();
           $("#select_four").hide();
           $("#select_five").hide();

            $("#select_six").hide();

    }

    function f5(){
          $("#select_one").hide();
           $("#select_two").hide();
           $("#select_three").hide();
           $("#select_four").show();
           $("#select_five").hide();

            $("#select_six").hide();

    }
        function f6(){
          $("#select_one").hide();
           $("#select_two").hide();
           $("#select_three").hide();
           $("#select_four").hide();
           $("#select_five").show();

           $("#select_six").hide();
    }

     function f7(){

          $("#select_one").hide();
           $("#select_two").hide();
           $("#select_three").hide();
           $("#select_four").hide();
           $("#select_five").hide();
            $("#select_six").show();

    }
    window.onload=function () {
        x=$("#goods_state").val()
        if(x==0) {f2()}
        if(x==1) {f3()}
        if(x==2) {f4()}
        if(x==3) {f5()}
        if(x==4) {f6()}
        if(x==5) {f7()}


    }
</script>
</html>