<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的拍卖</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" href="../static/CSS/my_auction_four.css">
    <link rel="stylesheet" href="../static/CSS/main.css">
      <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>
    <style>
        #for_psw {
    height: 1400px;
    width: 1520px;
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}

.popwin_title {
    width: 394px;
    height: 50px;
    text-align: left;
    font-size: 14px;
    color: #333;
    line-height: 50px;
    background: #F5F5F5;
    padding-left: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #DDDDDD;
    position: absolute;
    z-index: 10002;
    top: 200px;
    left: 540px;
}

.popwin_content {
    width: 374px;
    height: auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    position: absolute;
    z-index: 10002;
    top: 250px;
    left: 540px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#info{
    position: fixed;
    top:10%;
    left: 7%;
}
    </style>

</head>
<body>
<div style="min-height:100%;height:auto;">
{% include 'home_head.html' %}
    <div class="Navigation_information" style="margin-left: 100px;">
    <div id="auction_Navigation">
        <a href="/release_auction/"><button id="release_auction">发布拍卖</button></a>
        <a href="/auction_index/"><button id="now_auction">正在拍卖</button></a>

    </div>
</div>
<hr>

<div class="search_bar clearfix" >
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
            <div class="sub_page_name fl"><a href="/my_auction_sale_one/"style="color: #666" >我发布的拍卖</a></div>
    <div class="sub_page_name fl"><a href="/my_auction_buy_one/" style="color: #ff8800">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我购买的拍卖</a></div>
</div>
<div class="main_con clearfix">
		<div class="left_menu_con clearfix" style="margin-top: 40px;">
			<h3>用户拍卖中心</h3>
			<ul>
				<li><a href="/my_auction_buy_one/">· 竞拍中</a></li>
				<li><a href="/my_auction_buy_two/" >· 竞拍失败</a></li>
				<li><a href="/my_auction_buy_three/" >· 竞拍成功</a></li>
				<li><a href="/my_auction_buy_four/" >· 付款失败</a></li>
                <li><a href="/my_auction_buy_five/"class="active" >· 收货确认</a></li>
                <li><a href="/my_auction_buy_six/">· 历史成交订单</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货确认</h3>

		<div id="select_two">
<div id="select_five">
{% if list5 %}
{% for i in contacts %}
  <div id="four">
  <div style="padding-left: 50px;margin-top: 20px;">
        <div>
            <img src={{ i.goods.auction_goods_imgurl }} alt="" height="300px" width="300px">
        </div>
         <div id="auction_goods_desc">
             <div id="title" style="font-size:25px" >
                {{ i.goods.auction_goods_title }}
             </div>
             <br>
             <div id="auction_messige" >
                <div id="auction_messige_desc" >
                    <div>订单号：<span id="acution_goods_start_time">{{ i.order.auction_order_id }}</span></div>
                    <br>
                    <div>竞拍成功时间：<span id="acution_goods_start_time">{{ i.order.auction_order_date }}</span></div>
                    <br>
                    <div>支付日期：<span id="acution_goods_start_time">{{ i.order.pay_money_date }}</span></div>
                    <br>
                    <div>支付金额：<span id="auction_goods_floorprice">{{ i.order.auction_order_fianl_price }}</span></div>
                    <br>
                    <div>卖家发货状态：<span id="acution_goods_start_time">{{ i.state }}</span></div>
                    <br>

                   <div>
                       <button  id="confirm_goods"  onclick="confirm_goods(this)" value={{ i.order.auction_order_id }}>确认收货</button>
                   </div>
                </div>
             </div>
         </div>
  </div>
    </div>
{% endfor %}
    {% else %}
    <div style="margin-left: 100px;margin-top: 50px;">
        <span ><b style="font-size: 20px;">海马商城温馨提示，你还没有竞拍的商品哦!</b></span>
        <div ><img src="../static/Images/no_goods.jpg" alt="" width=100 height="100"></div>
    </div>
{% endif %}

    </div>
</div>
				<div class="pagenation">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}
        {% for pg in contacts.paginator.page_range %}
            {% if pg == contacts.number %}
                <span class="active">
                    <a href="?page={{ pg }}">{{ pg }}</a>
                </span>
            {% else %}
                <span>
                    <a href="?page={{ pg }}">{{ pg }}</a>
                </span>
            {% endif %}
        {% endfor %}
        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">下一页</a>
        {% endif %}
    </span>
            </div>
		</div>
	</div>

<div id="for_psw">
     <div id="info">
        <p class="popwin_title">
            您已经收到货
        </p>
        <div class="popwin_content">
            <button id="ok">确认收货</button>
            <button id="no">关闭</button>
            <span id="goods_order_id" style="display: none"></span>
        </div>

        </div>
    </div>
</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京美多商业股份有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

</body>

</html>
<script>
 $("#ok").click(function () {
        order_id=$("#goods_order_id").text();
        $.post("/confirm_auction_goods/"
        ,
            {
                "order_id":order_id
            }
            ,function (data) {
                 location.href=data
            }
            ,'json')
    });

$("#no").click(function () {
      $("#for_psw").hide()
});
      function confirm_goods(obj) {
        id=obj.value;
        document.getElementById("goods_order_id").innerText=id;
        $("#for_psw").show()
    }



</script>
</html>