<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-用户中心</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../static/CSS/my_buy.css">
    <style>
        #for_psw {
            height: 1400px;
            width: 1520px;
            position: absolute;
            top: 0;
            z-index: 100;
            background-color: rgba(0, 0, 0, .7);
            display: none;
        }

        .popwin_title {
            width: 394px;
            height: 50px;
            text-align: left;
            font-size: 14px;
            color: #333;
            line-height: 50px;
            background: #F5F5F5;
            padding-left: 20px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom: 1px solid #DDDDDD;
            position: absolute;
            z-index: 10002;
            top: 200px;
            left: 540px;
        }

        .popwin_content {
            width: 374px;
            height: auto;
            padding: 20px;
            text-align: center;
            background-color: white;
            position: absolute;
            z-index: 10002;
            top: 250px;
            left: 540px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        #info {
            position: fixed;
            top: 10%;
            left: 7%;
        }
    </style>

</head>
<body>
{% include 'home_head.html' %}
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
    <div class="sub_page_name fl"><a href="/my_buy/" style="color: #ff8800">我购买的</a></div>
    <div class="sub_page_name fl"><a href="/my_buy_complete/" style="color: #666">|&nbsp;&nbsp;&nbsp;&nbsp;已完成</a></div>
    <div class="search_con fr mt40">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="/user_center/">· 个人信息</a></li>
            <li><a href="/my_sale/">· 我出售的</a></li>
            <li><a href="/my_buy/" class="active">· 我购买的</a></li>
            <li><a href="/my_auction_buy_one/">· 我的拍卖</a></li>
            <li><a href="/my_collection/">· 我的收藏</a></li>
            <li><a href="/my_evaluate_get/">· 我的评价</a></li>
            <li><a href="/leave_message/">· 消息中心</a></li>
            <li><a href="/modify_information/">· 修改信息</a></li>
            <li><a href="/modify_password/">· 修改密码</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        {% if not order_list %}
            <div class="clearfix" style="border-bottom: 1px solid #e6e6e6;margin-bottom: 20px;padding-bottom: 20px">
                <div class="fl" style="margin-left: 230px">
                    <img src="../static/Images/no_goods1.jpg"
                         alt="" height="100"></div>
                <div class="fl" style="margin-top: 40px;margin-left: 40px"><span
                        style="font-weight: bolder;font-size: 20px">没有数据 快去<a href="/haima/"
                                                                              style="color: red">购买</a></span>
                </div>
            </div>
        {% else %}
            {% for item in order_list %}
                <ul class="order_list_th w978 clearfix">
                    <li class="col01">{{ item.order_date }}</li>
                    <li class="col02">订单号：{{ item.order_id }}</li>
                </ul>
                <table class="order_list_table w980">
                    <tbody>
                    <tr>
                        <td width="55%">
                            <ul class="order_goods_list clearfix">
                                <input type="text" id="user_id_1" value="{{ item.user_id }}" style="display: none">
                                <li class="col01"><a href="/goods_detail?goods={{ item.goods_id }}"><img
                                        src="{{ item.goods_imgurl }}"></a></li>
                                <li class="col02"><a href="/goods_detail?goods={{ item.goods_id }}"
                                                     style="color: dodgerblue">{{ item.goods_title }}</a><em
                                        style="color: red">{{ item.goods_price }}</em></li>
                            </ul>
                        </td>

                        {% if item.state != 0 %}
                            <td width="15%"><a href="">运单号：{{ item.order_mark }}</a></td>
                            <td width="15%">
                                <button onclick="f1(this)" value={{ item.goods_id }}>确认收货</button>
                            </td>
                        {% else %}
                            <td width="15%">
                                <button onclick="tixinfahuo({{ item.order_id }})" id="tixin_{{ order_id }}"
                                        style="border: 1px solid #bfbfbf;background-color: white">提醒卖家发货
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
        {% endif %}

        <div class="pagenation">
            <a href="#">&lt;上一页</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">下一页&gt;</a>
        </div>
    </div>
</div>


<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
    <p>电话：0512-****888 苏ICP备*******8号</p>
</div>
<div id="for_psw">
    <div id="info">
        <p class="popwin_title">
            您已经收到货
        </p>
        <div class="popwin_content">
            <button id="ok">确认收货</button>
            <button id="no">关闭</button>
            <span id="goods_id" style="display: none"></span>
        </div>

    </div>
</div>
<div id="for_psw1" style="display: none">
    <div id="info">
        <p class="popwin_title">
            退款原因：<input type="text" id="reason">
        </p>
        <div class="popwin_content">
            <button id="ok1">确认退款</button>
            <button id="no1">关闭</button>
            <span id="goods_id" style="display: none"></span>
        </div>

    </div>
</div>
<div class="col_msg_1">
</div>
<script type="text/javascript" src="../static/JS/main.js"></script>
</body>
<script>
    function tuikuan(id) {
        $("#for_psw1").show();
        $("#ok1").click(function () {

            refund_user_id = $("#user_id_1").val()
            order_id = id;
            reason = $("#reason").val()
            $.post("/refund_ajax/", {
                "refund_user_id": refund_user_id,
                "order_id": order_id,
                "reason": reason,
            }, function (data) {
                if (data.msg === "success") {
                    $("#tuikuang_1").text("退款中");
                    location.href = '/my_buy/'
                } else {
                    alert("退款失败")
                }

            }, "json")

        })

    }

    $("#no1").click(function () {
        $("#for_psw1").hide();
    })
</script>
<script>
    function f1(obj) {
        id = obj.value
        document.getElementById("goods_id").innerText = id;
        $("#for_psw").show()
    }

    $("#ok").click(function () {
        goods_id = $("#goods_id").text();
        $.post("/confirm_goods/",
            {
                "goods_id": goods_id,
            }
            , function (data) {

                window.location.reload();
            }
            , 'json'
        )
    })


    $("#no").click(function () {
        window.location.reload();

    })
</script>
<script>
    function tixinfahuo(id) {
        order_id = id;
        $.post("/tixinfahuo/", {
            "order_id": order_id
        }, function (data) {
            console.log(data.msg);
            $(".col_msg_1").text('已提醒发货').show();
            $(".col_msg_1").delay(1500).fadeOut();
            $("#tixin_" + id).text("已提醒发货")
        }, "json")
    }
</script>
</html>
