<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-用户中心</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
</head>
<body>
{% include 'home_head.html' %}
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;我的收藏</div>
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="/user_center/">· 个人信息</a></li>
            <li><a href="/my_sale/">· 我出售的</a></li>
            <li><a href="/my_buy/">· 我购买的</a></li>
            <li><a href="user_center_order.html">· 我的拍卖</a></li>
            <li><a href="/my_collection/" class="active">· 我的收藏</a></li>
            <li><a href="/my_evaluate_get/">· 我的评价</a></li>
            <li><a href="/leave_message/">· 消息中心</a></li>
            <li><a href="/modify_information/">· 修改信息</a></li>
            <li><a href="/modify_password/">· 修改密码</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        <h3 class="common_title2">收藏的宝贝</h3>
        <div class="has_view_list clearfix">
            <ul class="goods_type_list clearfix" style="margin-left: 0px;width: 1040px" id="append_1">
                {% if not collection_list %}
                    <div>
                        <div class="fl" style="margin-left: 230px">
                            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1540615640800&di=10f74a08906679e36162dacb90ed2431&imgtype=0&src=http%3A%2F%2Fcdns2.freepik.com%2Ffree-photo%2Fsad-sleepy-emoticon-face-square_318-58496.jpg"
                                 alt="" height="100"></div>
                        <div class="fl" style="margin-top: 40px;margin-left: 40px"><span
                                style="font-weight: bolder;font-size: 20px">您没有收藏任何商品
                            <a href="/haima/" style="color: royalblue">快去收藏吧</a></span></div>
                    </div>
                {% else %}
                    {% for value in contacts %}
                        {% if value.goods_state == '2' %}
                            <li id="goods_{{ value.goods_id }}">
                                <a href="/goods_detail/?goods={{ value.goods_id }}"><img src="{{ value.goods_imgurl }}"
                                                                                         style="position: relative;z-index: 1"></a>
                                <h4><a href="/goods_detail/?goods={{ value.goods_id }}">{{ value.goods_title }}</a></h4>
                                <div class="operate">
                                    <span class="prize">该商品已经下架</span>
                                    <p class="unit fl">{{ value.collection_date }}</p>
                                    <button class="del_col fl" title="删除收藏" onclick="delete_({{ value.goods_id }})"><img
                                            src="../static/Images/delete_goods.jpg"
                                            style="width: 15px;height: 15px;margin: 0"
                                            alt="">
                                    </button>
                                </div>
                            </li>
                        {% elif value.goods_state == '1' %}
                            <li id="goods_{{ value.goods_id }}">
                                <a href="/goods_detail/?goods={{ value.goods_id }}"><img src="{{ value.goods_imgurl }}"
                                                                                         style="position: relative;z-index: 1"></a>
                                <h4><a href="/goods_detail/?goods={{ value.goods_id }}">{{ value.goods_title }}</a></h4>
                                <div class="operate">
                                    <span class="prize">已出售</span>
                                    <p class="unit fl">{{ value.collection_date }}</p>
                                    <button class="del_col fl" title="删除收藏" onclick="delete_({{ value.goods_id }})"><img
                                            src="../static/Images/delete_goods.jpg"
                                            style="width: 15px;height: 15px;margin: 0"
                                            alt="">
                                    </button>
                                </div>
                            </li>
                        {% else %}
                            <li id="goods_{{ value.goods_id }}">
                                <a href="/goods_detail/?goods={{ value.goods_id }}"><img src="{{ value.goods_imgurl }}"></a>
                                <h4><a href="/goods_detail/?goods={{ value.goods_id }}">{{ value.goods_title }}</a></h4>
                                <div class="operate">
                                    <span class="prize">￥{{ value.goods_price }}</span>
                                    <p class="unit fl">{{ value.collection_date }}</p>
                                    <button class="del_col fl " title="删除收藏" onclick="delete_({{ value.goods_id }})">
                                        <img
                                                src="../static/Images/delete_goods.jpg"
                                                style="width: 15px;height: 15px;margin: 0"
                                                alt="">
                                    </button>

                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <input type="text" hidden value="{{ page }}" id="page_">
        <div class="pagenation">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}
        {% for pg in contacts.paginator.page_range %}
            {% if pg == contacts.number %}
                <span class="active">
                    <a href="?page={{ pg }}" class="page_">{{ pg }}</a>
                </span>
            {% else %}
                <span>
                    <a href="?page={{ pg }}" class="page_">{{ pg }}</a>
                </span>
            {% endif %}
        {% endfor %}
        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">下一页</a>
        {% endif %}
    </span>
        </div>

        <h3 class="common_title2">宝贝推荐</h3>
        <div class="has_view_list">
            <ul class="goods_type_list clearfix" style="margin-left: 0px;width: 1040px">
                <li>
                    <a href="detail.html"><img src="../static/Images/goods/goods003.jpg"></a>
                    <h4><a href="detail.html">360手机 N6 Pro 全网通</a></h4>
                    <div class="operate">
                        <span class="prize">￥2699.00</span>
                        <span class="unit">台</span>
                        <a href="#" class="add_goods" title="加入收藏夹"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="../static/Images/goods/goods004.jpg"></a>
                    <h4><a href="#">360手机 N6 Pro 全网通</a></h4>
                    <div class="operate">
                        <span class="prize">￥2699.00</span>
                        <span class="unit">台</span>
                        <a href="#" class="add_goods" title="加入收藏夹"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="../static/Images/goods/goods005.jpg"></a>
                    <h4><a href="#">360手机 N6 Pro 全网通</a></h4>
                    <div class="operate">
                        <span class="prize">￥2699.00</span>
                        <span class="unit">台</span>
                        <a href="#" class="add_goods" title="加入收藏夹"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="../static/Images/goods/goods006.jpg"></a>
                    <h4><a href="#">360手机 N6 Pro 全网通</a></h4>
                    <div class="operate">
                        <span class="prize">￥2699.00</span>
                        <span class="unit">台</span>
                        <a href="#" class="add_goods" title="加入收藏夹"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="../static/Images/goods/goods007.jpg"></a>
                    <h4><a href="#">急速路由</a></h4>
                    <div class="operate">
                        <span class="prize">￥64.5</span>
                        <span class="unit">6.45/500g</span>
                        <a href="#" class="add_goods" title="加入收藏夹"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="for_psw">
    <p class="popwin_title" style="height: 40px;position: absolute;top: 210px;line-height: 40px">
        取消收藏
    </p>
    <div class="popwin_content">
        <p style="font-size: 18px;font-weight: bold;margin-bottom: 20px">确定取消收藏吗？</p>
        <button class="btn_blue" style="margin-right: 40px" id="delete_collection">确定</button>
        <button class="btn_blue cancer_fgt_psw">取消</button>
    </div>
</div>

<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
    <p>电话：0512-****888 苏ICP备*******8号</p>
</div>
<script type="text/javascript" src="../static/JS/main.js"></script>
<script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
<script>
    $(".del_col").click(function () {
        $("#for_psw").fadeIn(500);
    })
    $(".cancer_fgt_psw").click(function () {
        $("#for_psw").fadeOut(500);
    })
</script>
</body>
<script>
    function delete_(id) {
        alert(id)
        id1 = id;
        $("#delete_collection").click(function () {
            page_ = $('#page_').val()
            goods_id = id1;
            $.post('/my_collection/', {
                'page_': page_,
                'goods_id': goods_id,
            }, function (data) {
                if (data.msg === "success") {
                    $("#for_psw").fadeOut(500);
                    $("#goods_" + id).remove()
                    $("#append_1").append(data.html)
                } else if (data.msg === "flash") {
                    alert(data.href)
                    top.location.href = data.href
                }
            }, "json")

        })

    }
</script>
</html>
        $(".for_psw").fadeIn();
    })
    $(".cancer_fgt_psw").click(function () {
        $(".for_psw").fadeOut();
    })
</script>
</body>
</html>

