<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-发布</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>
    <style>
        #image{
            position: absolute;
            z-index: 0;
        }
        #pic{
            position: absolute;
            z-index: 1;
            margin-top: 0px;
            margin-left: 0px;
            opacity: 0;
        }
    </style>
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_info fl">
                欢迎您：<em>张 山</em>
                <a href="javascript:;" class="quit">退出</a>
            </div>
            <div class="login_btn fl">
                <a href="/login/">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order" onmouseover="showhide()">我的订单</a><br>
            </div>
        </div>
    </div>
</div>
<div id="order_show">
    <ul>
        <li><a href="/sale/">我出售的</a></li>
        <li><a href="/buy/">我购买的</a></li>
    </ul>
</div>

<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">商品分类</h1>
        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/publish/">发布闲置</a></li>
            <li><a href="/auction/">拍卖</a></li>
            <li><a href="/evaluate/">二手估价</a></li>
            <li><a href="/my_leave/">我的闲置</a></li>
        </ul>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="index.html" class="logo fl"><img src="../static/images/haima1.png" width="180" height="60"></a>
    <div class="sub_page_name fl"><a href="/publish/" style="color: #ff8800">|&nbsp;&nbsp;&nbsp;&nbsp;发布闲置</a></div>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;一键估价&nbsp;&nbsp;&nbsp;&nbsp;|</div>
</div>
<div id="publish">
    <div id="publish_goods">
        <form action="">
            <table>
                <tr>
                    <td>宝贝标题：</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>宝贝描述：</td>
                    <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td>宝贝图片：</td>
                    <td>
                        <div id="image" style="width:100px;height:100px; background:#CCCCCC; ">
                            <img src="" height="100px" width="100px"/>
                        </div>
                        <div id="pic">
                            <label for="file"><img src="../static/images/addpic.jpg" height="100px"
                                                   width="100px"></label>
                            <input type="file" id="file" name="" style="display: none"/>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#order_show").hide();
    $("#my_order").hover(function () {
        $("#order_show").show();
    }, function () {
        $("#order_show").hide();
    })
    // 鼠标移动到list的div上的时候list div不会被隐藏
    $("#order_show").hover(function () {
        $("#order_show").show();
    }, function () {
        $("#order_show").hide();
    })


    document.getElementById('file').onchange = function () {
        var imgFile = this.files[0];
        var fr = new FileReader();
        fr.onload = function () {
            document.getElementById('image').getElementsByTagName('img')[0].src = fr.result;
        };
        fr.readAsDataURL(imgFile);
    };

</script>
</body>
</html>
