<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-发布</title>
    <script type="text/javascript" src="https://unpkg.com/qiniu-js@2.5.1/dist/qiniu.min.js"></script>
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/JS/qiniu.js"></script>
    <script type="text/javascript" src="../static/JS/moxie.min.js"></script>
    <script type="text/javascript" src="../static/JS/plupload.full.min.js"></script>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/CSS/font-style.css">
    <style type="text/css">
        #js-pre {
            width: 500px;
            height: 100px;

        }

        #js-pre:after {
            content: '';
            display: block;
            height: 0;
            visibility: hidden;
            clear: both;
        }

        #show_pic div {
            float: left;
        }

        .img-box {
            float: left;
        }

        .img-border {
            position: relative;
            box-sizing: border-box;
            height: 100px;
            width: 100px;
            border: 1px solid #ccc
        }

        .js-upload_delete {
            position: absolute;
            top: 0;
            right: 0;
        }

        .red {
            font-size: 20px;
            color: #ffda44;
        }

        img {
            height: 100px;
            width: 100%;
        }

        #logoimg {
            height: 100px;
            width: 200px;
        }
    </style>

</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_btn fl">
                <a href="/login/">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user_center/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order">我的订单</a>
            </div>
        </div>
    </div>
</div>
<div id="order_show">
    <ul>
        <li><a href="/my_sale/">我出售的</a></li>
        <li><a href="/my_buy/">我购买的</a></li>
    </ul>
</div>

<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">商品分类</h1>
        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/publish/">发布闲置</a></li>
            <li><a href="/auction/">拍卖</a></li>
            <li><a href="/assess/">二手估价</a></li>
            <li><a href="/my_leave/">我的闲置</a></li>
        </ul>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img id="logoimg" src="../static/Images/haima3.png"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/publish/" style="color: #ff8800">发布闲置</a></div>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/assess/" style="color: #666">一键估价</a>&nbsp;&nbsp;&nbsp;&nbsp;|
    </div>
</div>
<div id="publish">
    <div id="publish_header">
        <span>描述你的宝贝</span>
    </div>
    <br>
    <div id="publish_goods" class="pub">
        <form action="http://upload.qiniup.com/" method="post" enctype="multipart/form-data">
            <input name="token" type="hidden"
                   value="{{ token }}">
            <table border="0">
                <tr>
                    <td>宝贝标题：</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>类型：</td>
                    <td><select style="width: 200px">
                        <option value="phone">手机</option>
                        <option value="computer">电脑</option>
                        <option value="pad">平板</option>
                        <option value="camera">相机</option>
                        <option value="game">外设</option>
                        <option value="other">其他</option>
                    </select></td>
                </tr>

                <tr>
                    <td>价格：</td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>包邮：</td>
                    <td><select style="width: 200px">
                        <option value="phone">是</option>
                        <option value="computer">否</option>
                    </select></td>
                </tr>
                <tr>
                    <td>宝贝图片：</td>
                    <td id="show_pic">
{#                        <div class="container" id="container">#}
{#                            <div id="album_imgs">#}
{#                            </div>#}
{#                            <input id="pickfiles1" type="image" src="../static/Images/addpic.jpg"#}
{#                                   style="width: 40px;height: 40px"/>#}
{#                        </div>#}
                        <div style="width: 100px">
                            <label for="js-file"><img src="../static/Images/addpic.jpg" alt=""
                                                      style="height: 100%;width: 100%"></label>
                            <input type="file" name="fuck" multiple="" id="js-file" style="display: none">
                        </div>
                        <div id="js-pre"></div>
                    </td>
                </tr>
                <tr>
                    <td>宝贝描述：</td>
                    <td><textarea name="" id="" cols="100" rows="8"></textarea></td>
                </tr>
            </table>
            <div>
                <input type="button" id="publish_button" value="发布">
            </div>
        </form>
    </div>
    <div class="pub" id="pub_rule">
        <h1 style="font-size: x-large;text-align: center">平台商品发布规则</h1>
        <div style="border: #ffda44 1px solid;height: 500px;width: 300px;">
            <p style="font-size: 15px;color: black;text-indent: 2em">卖NMB NMSL</p>
        </div>
    </div>
</div>
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
    <p>电话：0512-****888 苏ICP备*******8号</p>
</div>


<style>
    .background {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        filter: alpha(opacity=40);
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
    }

    .progressBar {
        border: solid 2px #86A5AD;
        background: white url(../static/Images/5-121204193R0.gif) no-repeat 10px 10px;
    }

    .progressBar {
        display: block;
        width: 148px;
        height: 28px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -74px;
        margin-top: -14px;
        padding: 10px 10px 10px 50px;
        text-align: left;
        line-height: 27px;
        font-weight: bold;
        z-index: 2001;
    }
</style>
<div id="background" class="background" style="display: none; "></div>
<div id="progressBar" class="progressBar" style="display: none; ">数据加载中，请稍等...</div>


<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="../static/JS/F_File1.2.js"></script>
<script type="text/javascript">
    $(function () {
        var f = new FFile({
            name: 'fuck',								//唯一名,用来与其他文件区分
            fileInput: '#js-file',				//html file控件
            upButton: '#publish_button',					//提交按钮
            pre: '#js-pre',									//预览地址
            url: '/test_img/',									//ajax地址
            onSuccess: function (res) {
                console.log(res)
            },	//文件全部上传完毕时
        })
    })
</script>
{#<script>#}
{#    var imgscount = 0;#}
{#    //引入Plupload 、qiniu.js后#}
{#    var uploader1 = Qiniu.uploader({#}
{#        runtimes: 'html5,flash,html4',    //上传模式,依次退化#}
{#        browse_button: 'js-file',       //上传选择的点选按钮，**必需**#}
{#        //uptoken_url: '/qiniu_token',            //Ajax请求upToken的Url，**强烈建议设置**（服务端提供）#}
{#        uptoken: '{{ token }}', //若未指定uptoken_url,则必须指定 uptoken ,uptoken由其他程序生成#}
{#        unique_names: true, // 默认 false，key为文件名。若开启该选项，SDK为自动生成上传成功后的key（文件名）。#}
{#        //save_key: true,   // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK会忽略对key的处理#}
{#        domain: 'http://pgwecu7z4.bkt.clouddn.com/',   //bucket 域名，下载资源时用到，**必需**#}
{#        get_new_uptoken: false,  //设置上传文件的时候是否每次都重新获取新的token#}
{#        container: 'container',           //上传区域DOM ID，默认是browser_button的父元素，#}
{#        max_file_size: '10000000',           //最大文件体积限制#}
{#        flash_swf_url: 'js/plupload/Moxie.swf',  //引入flash,相对路径#}
{#        max_retries: 3,                   //上传失败最大重试次数#}
{#        dragdrop: true,                   //开启可拖曳上传#}
{#        drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传#}
{#        chunk_size: '4m',                //分块上传时，每片的体积#}
{#        auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传#}
{#        init: {#}
{#            'FilesAdded': function (up, files) {#}
{#                plupload.each(files, function (file) {#}
{#                    // 文件添加进队列后,处理相关的事情#}
{#                });#}
{##}
{#            },#}
{#            'BeforeUpload': function (up, file) {#}
{#                // 每个文件上传前,处理相关的事情#}
{#            },#}
{#            'UploadProgress': function (up, file) {#}
{#                // 每个文件上传时,处理相关的事情#}
{#                console.log(file.percent + "%");#}
{#            },#}
{#            'FileUploaded': function (up, file, info) {#}
{#                // 每个文件上传成功后,处理相关的事情#}
{#                // 其中 info.response 是文件上传成功后，服务端返回的json，形式如#}
{#                // {#}
{#                //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",#}
{#                //    "key": "gogopher.jpg"#}
{#                //  }#}
{#                // 参考http://developer.qiniu.com/docs/v6/api/overview/up/response/simple-response.html#}
{#                imgscount++;#}
{#                if (imgscount <= 9) {#}
{##}
{#                    var domain = up.getOption('domain');#}
{##}
{#                    var dataobj;#}
{#                    if (typeof(info.response) == 'string') {#}
{#                        var dataobj = JSON.parse(info.response);#}
{#                    } else {#}
{#                        var dataobj = info.response;#}
{#                    }#}
{##}
{#                    var image_url = domain + dataobj['key'];#}
{#                    var thumbimage_url = image_url + "?imageView2/1/w/100/h/100/q/75";#}
{#                    //$("#pickfiles1").attr("src",thumbimage_url);#}
{##}
{#                    var imghtml = '<div style="margin-left: 9px;float: left;">\n' +#}
{#                        '                                <img  src="' + thumbimage_url + '"/>\n' +#}
{##}
{#                        '                            </div>';#}
{#                    $("#album_imgs").append(imghtml);#}
{#                    console.log(image_url);#}
{#                }#}
{#            },#}
{#            'Error': function (up, err, errTip) {#}
{#                //上传出错时,处理相关的事情#}
{#            },#}
{#            'UploadComplete': function () {#}
{##}
{#            },#}
{#            'Key': function (up, file) {#}
{#                // 若想在前端对每个文件的key进行个性化处理，可以配置该函数#}
{#                // 该配置必须要在 unique_names: false , save_key: false 时才生效#}
{#            }#}
{#        }#}
{#    });#}
{#</script>#}
</body>
</html>
