<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-发布</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/CSS/font-style.css">
    <style type="text/css">
        #js-pre {
            width: 500px;
            height: 100px;

        }

        #js-pre:after {
            content: '';
            display: block;
            height: 0;
            visibility: hidden;
            clear: both;
        }

        #show_pic div {
            float: left;
        }

        .img-box {
            float: left;
        }

        .img-border {
            position: relative;
            box-sizing: border-box;
            height: 100px;
            width: 100px;
            border: 1px solid #ccc
        }

        .js-upload_delete {
            position: absolute;
            top: 0;
            right: 0;
        }

        .red {
            font-size: 20px;
            color: #ffda44;
        }

        img {
            height: 100px;
            width: 100%;
        }
    </style>

</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到海马二手商城!</div>
        <div class="fr">
            <div class="login_info fl">
                欢迎您：<em>张 山</em>
                <a href="javascript:;" class="quit">退出</a>
            </div>
            <div class="login_btn fl">
                <a href="/login/">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order" onmouseover="showhide()">我的订单</a>
            </div>
        </div>
    </div>
</div>
<div id="order_show">
    <ul>
        <li><a href="/my_sale/">我出售的</a></li>
        <li><a href="/my_buy/">我购买的</a></li>
    </ul>
</div>

<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">商品分类</h1>
        <ul class="navlist fl">
            <li><a href="/haima/">首页</a></li>
            <li><a href="/publish/">发布闲置</a></li>
            <li><a href="/auction/">拍卖</a></li>
            <li><a href="/assess/">二手估价</a></li>
            <li><a href="/my_leave/">我的闲置</a></li>
        </ul>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/images/haima1.png" width="180" height="60"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/publish/" style="color: #ff8800">发布闲置</a></div>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/assess/" style="color: #666">一键估价</a>&nbsp;&nbsp;&nbsp;&nbsp;|
    </div>
</div>
<div id="publish">
    <div id="publish_header">
        <span>描述你的宝贝</span>
    </div>
    <br>
    <div id="publish_goods" class="pub">
        <form action="/publish/" method="post">
            <table border="0">
                <tr>
                    <td>宝贝标题：</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>类型：</td>
                    <td><select style="width: 200px">
                        <option value="phone">手机</option>
                        <option value="computer">电脑</option>
                        <option value="pad">平板</option>
                        <option value="camera">相机</option>
                        <option value="game">外设</option>
                        <option value="other">其他</option>
                    </select></td>
                </tr>

                <tr>
                    <td>价格：</td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>包邮：</td>
                    <td><select style="width: 200px">
                        <option value="phone">是</option>
                        <option value="computer">否</option>
                    </select></td>
                </tr>
                <tr>
                    <td>宝贝图片：</td>
                    <td id="show_pic">
                        <div style="width: 100px">
                            <label for="js-file"><img src="../static/images/addpic.jpg" alt=""
                                                      style="height: 100%;width: 100%"></label>
                            <input type="file" name="fuck" multiple="" id="js-file" style="display: none">
                        </div>
                        <div id="js-pre"></div>
                    </td>
                </tr>
                <tr>
                    <td>宝贝描述：</td>
                    <td><textarea name="" id="" cols="100" rows="8"></textarea></td>
                </tr>
            </table>
            <div>
                <button id="publish_button">确认发布</button>
            </div>
        </form>
    </div>
    <div class="pub" id="rule">
        <h1 style="font-size: x-large;text-align: center">平台商品发布规则</h1>
        <div style="border: #ffda44 1px solid;height: 500px;width: 300px;">
            <p style="font-size: 15px;color: black;text-indent: 2em">卖NMB NMSL</p>
        </div>
    </div>
</div>
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
    <p>电话：0512-****888 苏ICP备*******8号</p>
</div>
</div>
<script type="text/javascript" src="../static/JS/main.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="../static/JS/F_File1.2.js"></script>
<script type="text/javascript">
    /*等比例缩放图片的函数
         *param{object} ImgD 需要缩放的图片
         *param{number} iwidth 预计图片的宽度
         *param{number} iheight 预计的图片的高度
         */
    function DrawImage(ImgD, iwidth, iheight) {
        var image = new Image();//新建一个image
        image.src = ImgD.src;//新建的image与传入的image关联,便于调整传入图片的比例
        if (image.width > 0 && image.height > 0) {//如果传入图片大于预计图片大小进行等比例缩放 否则不进行能比例缩放
            if (image.width / image.height >= iwidth / iheight) {
                if (image.width > iwidth) {//如果宽度大于预计,基于宽度进行等比例缩放
                    ImgD.width = iwidth;
                    ImgD.height = (image.height * iwidth) / image.width;
                } else {
                    ImgD.width = image.width;
                    ImgD.height = image.height;
                }
            } else {
                if (image.height > iheight) {//如果传入图片高度大于预计,则基于高度进行等比例缩放
                    ImgD.height = iheight;
                    ImgD.width = (image.width * iheight) / image.height;
                } else {
                    ImgD.width = image.width;
                    ImgD.height = image.height;
                }
            }
        }
    }

    $(function () {
        var f = new FFile({
            name: 'fuck',								//唯一名,用来与其他文件区分
            fileInput: '#js-file',				//html file控件
            upButton: '#js-button',					//提交按钮
            pre: '#js-pre',									//预览地址
            url: 'fuck.php',									//ajax地址
            onSuccess: function (res) {
                console.log(res)
            },	//文件全部上传完毕时
        })
    })
</script>
</body>
</html>
