<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link rel="stylesheet" href="../static/CSS/reset.css">
    <script type="text/javascript" src="../static/JS/register.js"></script>
</head>
<body>
<div class="register_con">
    <div class="l_con fl">
        <a class="reg_logo" href="/haima/"><img src="../static/Images/haima3.png" width="200" height="100"></a>
        <div class="reg_banner"></div>
    </div>
    <div class="r_con fr">
        <div class="reg_title clearfix">
            <h1>用户注册</h1>
            <a href="/login/">登录</a>
        </div>
        <div class="reg_form clearfix" id="app">
            {% csrf_token %}

            <ul>
                <li>
                    <label>用户名:</label>
                    <input type="text" name="user_name" id="user_name">
                    <span class="error_tip" id="check_error" style="color: red"></span>
                    <span class="error_tip" id="user_error"
                          style="margin: auto;padding: auto">用户名为6-16位的数字或字母</span>
                    <div id="tishi"></div>
                </li>
                <li>
                    <label>密码:</label>
                    <input type="password" name="pwd" id="pwd" onchange="return checkPassword()">
                    <span class="error_tip" id="pwd_error">密码为6-16位的数字加字母</span>
                </li>
                <li>
                    <label>确认密码:</label>
                    <input type="password" name="cpwd" id="cpwd" onchange="return ConfirmPassword()">
                    <span class="error_tip" id="cpwd_error">确认两次输入的密码一致</span>
                </li>
                <li>
                    <label>手机号:</label>
                    <input type="text" name="phone" id="phone" onchange="return checkPhone()">
                    <span class="error_tip" id="phone_error">您输入的手机号格式不正确</span>
                </li>
                <li>;
                    <label>图形验证码:</label>
                    <input id="hash" name="captcha_0" value="{{ hashkey }}" type="hidden">
                    {#                        <input type="text" id="login_code" class="code_input">#}
                    <input type="text" name="pic_code" id="pic_code"
                           class="msg_input" onchange="return picture_code()">
                    <img class="pic_code" id="code_img" alt="captcha" src="{{ image_url }}">
                    {#                        <img src="images/pic_code.jpg" alt="图形验证码" class="pic_code">#}
                    <span class="error_tip" id="pic_code_error">请填写图片验证码</span>
                </li>
                <li>
                    <label>短信验证码:</label>
                    <input type="text" name="msg_code" id="msg_code"
                           class="msg_input" onchange="return phone_code()">
                    <input type="button" class="get_msg_code" id="get_code" value="获取短信验证码" onclick="get_code()">
                    <span class="error_tip" id="phone_code_error">请填写短信验证码</span>

                </li>
                <li class="agreement">
                    <input type="checkbox" name="allow" id="allow"
                           checked="checked">
                    <label>同意《海马商城用户使用协议》</label>
                    <span class="error_tip2" id="allow_">请勾选同意</span>
                </li>
                <li class="reg_sub">
                    <input type="button" value="注 册" name="" id="register" onclick="return checkall()">

                </li>
            </ul>


        </div>
    </div>

</div>
</body>
<script>
    var countdown = 60;

    function settime(obj) {
        if (countdown == 0) {
            obj.removeAttribute("disabled");
            obj.value = "免费获取验证码";
            countdown = 60;
            return;
        } else {
            obj.setAttribute("disabled", true);
            obj.value = "重新发送(" + countdown + ")";
            countdown--;
        }
        setTimeout(function () {
                settime(obj)
            }
            , 1000)
    }

    {#验证码发送：#}
    $(function () {
        $("#get_code").click(function () {
            var phone = $("#phone").val()
            if (phone) {
                if (checkPhone()) {
                    console.log(phone)
                    settime($("#get_code")[0])
                    $.ajax({
                        type: "POST",
                        url: "/send_sms/",
                        data: {phone: phone},
                        dataType: "json",
                        success: function (data) {
                            console.log(data)
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(XMLHttpRequest, textStatus, errorThrown)
                        },
                    })
                }
            }
        })
    })
    {#用户名验证：#}
    $(function () {
        $("#user_name").blur(function () {
            var user = $("#user_name").val()
            $.ajax({
                type: "GET",
                url: "/register_ajax/",
                data: {username: user},
                dataType: "json",
                success: function (data) {
                    document.getElementById('user_error').style.display = 'none';
                    $("#check_error").text(data.error)

                }
            })

        })
    })
    {#注册验证#}
    $(function () {
        $("#register").click(function () {
            username = $('#user_name').val();
            password = $('#pwd').val();
            phone = $('#phone').val();
            hashkey = $('#hash').val();
            response = $('#pic_code').val();
            code = $('#msg_code').val();
            check_all = checkall()
            if(checkall()) {
                $.post('/register_ajax/', {
                    'username': username,
                    'password': password,
                    'phone': phone,
                    'code': code,
                    'check_all': check_all,
                    'response': response,
                    'hashkey': hashkey,
                }, function (data) {
                    if (data.msg === 'register_ok') {
                        location.href = '/register_ok/'
                    } else if (data.msg === 'img_code_error') {
                        $('#pic_code_error').html(function () {
                            document.getElementById('pic_code_error').style.color = 'Red';
                            document.getElementById('pic_code_error').innerText = '图片验证码错误';
                        })
                    } else if (data.msg === 'phone_code_error') {

                        $('#phone_code_error').html(function () {
                            document.getElementById('phone_code_error').style.color = 'Red';
                            document.getElementById('phone_code_error').innerText = '手机验证码错误';
                        })

                    } else if (data.msg === 'user_exists') {
                        $('#check_error').html('用户名已存在！！')

                    } else if (data.msg === 'check_all') {
                        alert('检查是否全部填写正确')


                    }

                }, 'json')
            }
        })

    })
    //验证码更换！！
    $('#code_img').click(function () {
        $.get("/captcha/refresh/", function (result) {
            $('#code_img').attr('src', result['image_url']);
            $('#hash').val(result['key'])
        }, 'json');

    })

</script>
</html>