
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body{margin: 0; padding: 0;}
        .box{margin: 0 auto; width: 400px; transform: rotate(-45deg);}
        span{display: inline-block; width: 50px; height: 50px; margin: 0 1px 2px 0; background-color: lightblue; transition: 1s;}
        span:hover{transform: scale(1.5); background-color: red;}
    </style>
</head>
<body>
<div class="box">
    <div>
        <span></span>
    </div>
    <div>
        <span></span>
        <span></span>
    </div>
    <div>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
</body>
</html>