<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
</head>
<body>
<ul>
    {% for key,value in p_comment_dict.items %}
        <li>
            <div>{{ value.message_user_id }}
                <img src="{{ value.user_imgurl }}" alt="" height="50" width="50">
                {{ value.user_name }}
                回复区：{{ value.message_desc }} <p><a href=""></a></p>
                <p><input type="text" id="c_message" value="{{ value.message_user_id }}" hidden>
                    <input type="text" id="message"><input type="button"
                                                                                                       value="回复"
                                                                                                       id="btn_message"></p>
            </div>
            {% for item in value.child_message %}
                <div style="margin-left: 100px">
                    <img src="{{ item.user_imgurl }}" alt="" height="50" width="50">
                    {{ item.user_name }}
                    <p>{{ item.second__desc }}<input type="text" id="message"><input type="button" value="回复" id="btn_message"></p>
                    <p><input type="text" id="c_message" value="{{ item.child_user_id }}" hidden></p>
                </div>
            {% endfor %}
        </li>
    {% endfor %}
</ul>
</body>
<script>
    $(function () {
        $("#message").click(function () {
            child_id = $('#c_message').val();
            message = $('#message').val();
            $.post('/test_ajax/', {
                'child_id': child_id,
                'message': message,
            }, function (data) {
                if (data.msg === 'ok') {
                    $('#pic_code_error').html(function () {
                        document.getElementById('pic_code_error').style.color = 'Red';
                        document.getElementById('pic_code_error').innerText = '图片验证码错误';
                    })

                } else if (data.msg === 'img_code_error') {
                    $('#pic_code_error').html(function () {
                        document.getElementById('pic_code_error').style.color = 'Red';
                        document.getElementById('pic_code_error').innerText = '图片验证码错误';
                    })
                } else if (data.msg === 'phone_code_error') {

                    $('#phone_code_error').html(function () {
                        document.getElementById('phone_code_error').style.color = 'Red';
                        document.getElementById('phone_code_error').innerText = '手机验证码错误';
                    })

                } else if (data.msg === 'user_exists') {
                    $('#check_error').html('用户名已存在！！')

                } else if (data.msg === 'check_all') {
                    alert('检查是否全部填写正确')


                }

            }, 'json')
        })

    })
</script>
</html>