<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
</head>
<body>
<input type="text" class="txt NumText" Width="100px"/>

</div>
</body>
<script>
    $(function () {
        /*JQuery 限制文本框只能输入数字*/
        $(".NumText").keyup(function () {
            $(this).val($(this).val().replace(/[^\d]|^0/g, ''));
            console.log($(this).val())
        }).bind("paste", function () {  //CTR+V事件处理
            $(this).val($(this).val().replace(/D|^0/g, ''));
        }).css("ime-mode", "disabled"); //CSS设置输入法不可用

        /*JQuery 限制文本框只能输入数字和小数点*/

        /*$(".NumDecText").keyup(function () {
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).bind("paste", function () {  //CTR+V事件处理
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).css("ime-mode", "disabled"); //CSS设置输入法不可用*/
    });

</script>
</html>