<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<select name="queryType" onchange="select(this)">
    <option value="0" name="queryType"> 0</option>
    <option value="1" name="queryType"> 1</option>
    <option value="2" name="queryType"> 2</option>
    <option value="3" name="queryType"> 3</option>
</select>
<div>
    <div class="div1">111</div>
    <div class="div2">222</div>
    <div class="div3">333</div>
</div>
<script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
<script>
    function select(obj) {
        if (obj.value == 0) {
            $(".div1").show();
            $(".div2").show();
            $(".div3").show();
        }
        else {
            /* $(obj).next("div").find("div").each(function () {
                $(this).hide();
            });
            $("#div" + obj.value).show();*/
            $(".div1").hide();
            $(".div2").show();
            $(".div3").show();
        }
    }
</script>

</body>
</html>