<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-首页</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/JS/guess.js"></script>
</head>
<body>
{% include 'home_head.html' %}
<div style="height: 104px">
    <a href="/haima/" class="logo fl" style="margin-left: 600px"><img src="../static/Images/haima3.png" width="200"
                                                                      height="100"></a>
</div>
<div id="user_info">
    {% for item in user_info %}
        <div id="user_info2" class="clearfix">
            <div>
            <span><img src="{{ item.user_imgurl }}" alt="" style="border-radius: 50%;border: 3px solid #c7c7c7"
                       width="80" height="80"></span>
            </div>
            <div id="user_info3">
                {% if item.user_sex == 0 %}
                    <span>用户名：{{ item.user_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别： <img src="../static/Images/nam1.jpg"
                                                                                                                 alt="" style="width: 13px"></span>
                    <br>
                {% else %}
                    <span>用户名：{{ item.user_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别：<img src="../static/Images/woman.jpg"
                                                                                                                alt="" style="width: 13px"></span>
                    <br>
                {% endif %}
                <span>注册时间：{{ item.user_startdate }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
                {% if item.user_address %}
                    <span>居住地：{{ item.user_address }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信用：<em style="color: #810101">{{ item.user_credit }}</em></span>
                {% else %}
                    <span>居住地：未设置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信用：<em style="color: #810101">{{ item.user_credit }}</em></span>
                {% endif %}
            </div>

            <div id="user_info4">
                <ul>
                    <li>用户已加入海马二手交易平台 <span>{{ day_count }}</span> 天</li>
                    <li>卖出商品 <span>{{ count_order }}</span> 件</li>
                    <li>共收到用户评价 <span>{{ count_eva }}</span> 次</li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

<div id="credit_select">
    <ul class="credit_select_ul">
        <li id="credit_select_li1"><span class="credit_active nav credit_select_span1">发 布</span></li>
        <li id="credit_select_li2"><span class="nav credit_select_span2">评 论({{ count_eva }})</span></li>
    </ul>
</div>
<div id="credit_select_show">
    <div id="c1" style="display: block">
        <ul class="credit_select_show_ul">
            <li class="credit_select_show_li">
                {% for key,value in goods.items %}
                    <span class="credit_time">{{ key }}</span>
                    <dl class="credit_select_show_dl">
                        {% for item in value %}
                            <span style="color:crimson;font-size: large">{{ item.count }}</span>
                            <dd>
                                {#                            {% for item in value %}#}
                                <ul>
                                    <li class="clearfix credit_detail_li">
                                        <a href="/goods_detail/?goods={{ item.goods_id }}"><img
                                                src="{{ item.goods_imgurl }}" alt="" height="90"
                                                width="90"></a>
                                        <a href="/goods_detail/?goods={{ item.goods_id }}"
                                           class="credit_goods_title">{{ item.goods_title }}</a>
                                        <span class="credit_goods_price">{{ item.goods_price }}</span>
                                    </li>
                                </ul>
                                {#                            {% endfor %}#}
                            </dd>
                        {% endfor %}
                    </dl>
                {% endfor %}
            </li>
        </ul>
    </div>
    <div id="c2" style="display: none">
        {% if not  eva_list %}
            <p>暂时无评论</p>
        {% else %}
            <ul class="release-goods-list">
                {% for item in eva_list %}
                    <li class="comment-data-item clearfix">
                        <div class="cell">
                            <div class="user-infor">
                        <span class="post-avator"><a href="/user_credit/?user_credit_id={{ item.user_id }}"><img
                                src="{{ item.user_imgurl }}" alt="" height="40" width="40"
                                style="border: 2px solid #e9e9e9;border-radius: 50%;"></a></span>
                                <span class="post-name"><a href="/user_credit/?user_credit_id={{ item.user_id }}"
                                                           style="color: #2d64b3">{{ item.username }}</a></span>
                            </div>

                        </div>
                        <div class="comment-data cell" style="padding-top: 20px">
                            {% if item.eva_state == '0' %}
                                <span>来自{{ item.user_address }}{{ item.customer }}的<i class="tb-rate-ico ico-rate2"
                                                                                      title="好评"></i></span><br>
                            {% elif item.eva_state == '1' %}
                                <span>来自{{ item.user_address }}{{ item.customer }}的<i class="tb-rate-ico ico-rate3"
                                                                                      title="中评"></i></span>
                            {% else %}
                                <span>来自{{ item.user_address }}{{ item.customer }}的<i class="tb-rate-ico ico-rate4"
                                                                                      title="差评"></i></span>
                                <br>
                            {% endif %}
                            <span style="text-overflow: ellipsis;color: black">{{ item.desc }}</span><br><br>
                            <span>{{ item.date }}</span>
                        </div>
                        <div class="cell" style="padding-top: 20px;padding-left: 150px">
                    <span><a href="/goods_detail/?goods={{ item.goods_id }}"
                             class="desct2" style="color: #2d64b3">{{ item.goods_name }}</a></span><br><br>
                            <span class="credit_goods_price">{{ item.goods_price }}</span>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        {% endif %}
    </div>
</div>
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
    <p>电话：0512-****888 苏ICP备*******8号</p>
</div>
</body>
<script>
    $(".nav").click(function () {
        $(".nav").removeClass("credit_active");
        $(this).addClass("credit_active")
    })
    $(".credit_select_span1").click(function () {
        $("#c1").show()
        $("#c2").hide()
    })
    $(".credit_select_span2").click(function () {
        $("#c1").hide()
        $("#c2").show()
    })
</script>
</html>