<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-用户中心</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到海马商城!</div>
        <div class="fr">
            <div class="login_info fl">
                欢迎您：<em>{{ username }}</em>
            </div>
            <div class="login_btn fl">
                <a href="/login/">登录</a>
                <span>|</span>
                <a href="/register/">注册</a>
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="/haima/">首页</a>
                <span>|</span>
                <a href="/user/">用户中心</a>
                <span>|</span>
                <a href="" id="my_order" onmouseover="showhide()">我的订单</a><br>
            </div>
        </div>
    </div>
</div>
<div id="order_show">
    <ul>
        <li><a href="/sale/">我出售的</a></li>
        <li><a href="/buy/">我购买的</a></li>
    </ul>
</div>
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima1.png" width="180" height="60"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="/user/" class="active">· 个人信息</a></li>
            <li><a href="/my_sale/">· 我出售的</a></li>
            <li><a href="/my_buy/">· 我购买的</a></li>
            <li><a href="user_center_order.html">· 我的拍卖</a></li>
            <li><a href="user_center_order.html">· 我的收藏</a></li>
            <li><a href="user_center_pass.html">· 我的评价</a></li>
            <li><a href="user_center_pass.html">· 修改信息</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">

        <h3 class="common_title2">基本信息</h3>
        {% for user in user_info %}
            <div class="info_con clearfix">
                <div><img src="{{ user.user_imgurl }}" alt="" width="80" height="80"></div>
                <div>

                    <ul class="user_info_list">
                        <li><span>用户名：</span>{{ user.user_name }}</li>
                        <li><span>手机号：</span>{{ user.user_phone }}</li>
                        <li><span>Email：</span>demo@demo.com</li>
                    </ul>
                </div>
                <div>
                    <ul class="user_info_list">
                        <li><span>用户信用：</span>1星</li>
                        <li><span>地区：</span>{{ user.user_address }}</li>
                        <li><span>身份认证：</span>未认证</li>
                    </ul>
                </div>
                <div>
                    <ul class="user_info_list">
                        <li><span>累计出售：</span>1</li>
                        <li><span>累计购买：</span>1</li>
                        <li><span>身份认证：</span>未认证</li>
                    </ul>
                </div>

            </div>
        {% endfor %}

        <h3 class="common_title2">最近浏览</h3>
        <div class="has_view_list">
            <ul class="goods_type_list clearfix">
                <li>
                    <a href="detail.html"><img src="../static/Images/goods/goods003.jpg"></a>
                    <h4><a href="detail.html">360手机 N6 Pro 全网通</a></h4>
                    <div class="operate">
                        <span class="prize">￥2699.00</span>
                        <span class="unit">台</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="../static/Images/goods/goods004.jpg"></a>
                    <h4><a href="#">360手机 N6 Pro 全网通</a></h4>
                    <div class="operate">
                        <span class="prize">￥2699.00</span>
                        <span class="unit">台</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="../static/Images/goods/goods005.jpg"></a>
                    <h4><a href="#">360手机 N6 Pro 全网通</a></h4>
                    <div class="operate">
                        <span class="prize">￥2699.00</span>
                        <span class="unit">台</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="../static/Images/goods/goods006.jpg"></a>
                    <h4><a href="#">360手机 N6 Pro 全网通</a></h4>
                    <div class="operate">
                        <span class="prize">￥2699.00</span>
                        <span class="unit">台</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>

                <li>
                    <a href="#"><img src="../static/Images/goods/goods007.jpg"></a>
                    <h4><a href="#">急速路由</a></h4>
                    <div class="operate">
                        <span class="prize">￥64.5</span>
                        <span class="unit">6.45/500g</span>
                        <a href="#" class="add_goods" title="加入购物车"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
    <p>电话：0512-****888 苏ICP备*******8号</p>
</div>
<script type="text/javascript" src="../static/JS/main.js"></script>
</body>
</html>