<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海马商城-用户中心</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/CSS/main.css">
    <link rel="stylesheet" href="../static/CSS/user_center.css">

</head>
<body>
{% include 'home_head.html' %}
<div class="search_bar clearfix">
    <a href="/haima/" class="logo fl"><img src="../static/Images/haima3.png" width="200" height="100"></a>
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="/user_center/" class="active">· 个人信息</a></li>
            <li><a href="/my_sale/">· 我出售的</a></li>
            <li><a href="/my_buy/">· 我购买的</a></li>
            <li><a href="/my_auction_buy_one/">· 我的拍卖</a></li>
            <li><a href="/my_collection/">· 我的收藏</a></li>
            <li><a href="/my_evaluate_get/">· 我的评价</a></li>
            <li><a href="/leave_message/">· 消息中心</a></li>
            <li><a href="/modify_information/">· 修改信息</a></li>
            <li><a href="/modify_password/">· 修改密码</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        {% for user in user_info %}
            <div class="info_con clearfix">
                <div><img src="{{ user.user_imgurl }}" alt="" width="80" height="80"></div>
                <div>

                    <ul class="user_info_list">
                        {% if user.user_sex == 0 %}
                            <li><span>用户名：</span>{{ user.user_name }} <em style="color: blue">(♂)</em></li>
                        {% else %}
                            <li><span>用户名：</span>{{ user.user_name }} <em style="color: deeppink">(♀)</em></li>
                        {% endif %}
                        <li><span>手机号：</span>{{ user.user_phone }}</li>
                        <li><span>余额：</span>{{ user.user_money }}</li>
                    </ul>
                </div>
                <div>
                    <ul class="user_info_list">
                        <li><span>用户信用：</span>{{ user.user_credit }}</li>
                        {% if user.user_address %}
                            <li><span>地区：</span>{{ user.user_address }}</li>
                        {% else %}
                            <li><span>地区：</span>未设置地区</li>
                        {% endif %}
                        {% if user.user_birthday %}
                            <li><span>出生日期：</span>{{ user.user_birthday }}</li>
                        {% else %}
                            <li><span>出生日期：</span>未设置</li>
                        {% endif %}
                    </ul>
                </div>
                <div>
                    <ul class="user_info_list">
                        <li><span>累计出售：</span>{{ sell_count }}</li>
                        <li><span>累计购买：</span>{{ buy_count }}</li>
                        <li>
                            <button id="top_up">充&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;值</button>
                        </li>
                    </ul>
                </div>

            </div>
        {% endfor %}

        <h3 class="common_title2">最近浏览</h3>
        <div class="has_view_list">
            <a name="href"></a>
            <ul class="goods_type_list clearfix" style="margin-left: 0px;width: 1040px">
                {% if not contacts1 %}
                    <div class="clearfix"
                         style="border-bottom: 1px solid #e6e6e6;margin-top:30px;margin-bottom: 20px;padding-bottom: 20px">
                        <div class="fl" style="margin-left: 230px">
                            <img src="../static/Images/no_goods1.jpg"
                                 alt="" height="100"></div>
                        <div class="fl" style="margin-top: 40px;margin-left: 40px"><span
                                style="font-weight: bolder;font-size: 20px">没有浏览任何商品</span>
                        </div>
                    </div>
                {% else %}
                    {% for item in contacts1 %}
                        <li>
                            <a href="/goods_detail/?goods={{ item.goods_id }}"><img src="{{ item.goods_imgurl }}"></a>
                            <h4><a href="/goods_detail/?goods={{ item.goods_id }}">{{ item.goods_title }}</a></h4>
                            <div class="operate">
                                <span class="prize">￥{{ item.goods_price }}</span>
                                <p class="unit">{{ item.browse_date }}</p>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="pagenation">
    <span class="step-links" style="margin-top: 1px">
        {% if contacts1.has_previous %}
            <a href="?page1={{ contacts1.previous_page_number }}#href"
               style="font-size: large;color: #00bc6f"><< </a>
        {% endif %}
        <em style="font-size: 16px">第 <em
                style="color: red">{{ contacts1.number }}</em> 页/总{{ contacts1.paginator.num_pages }}页</em>
        {% if contacts1.has_next %}
            <a href="?page1={{ contacts1.next_page_number }}#href" style="font-size: large;color: #00bc6f">>></a>
        {% endif %}
    </span>
        </div>
    </div>
</div>
<div id="top_up_money">
    <div style="float: right" class="clearfix">
        <button id="shutdown">关闭</button>
    </div>
    {#    <form action="/top_up_money/"method="post">#}
    <table id="money_table">
        <tr>
            <td><input type="radio" name="money" value="50" checked>50元</td>
            <td><input type="radio" name="money" value="100">100元</td>
            <td><input type="radio" name="money" value="200">200元</td>
        </tr>
        <tr>
            <td><input type="radio" name="money" value="500">500元</td>
            <td><input type="radio" name="money" value="1000">1000元</td>
            <td><input type="radio" name="money" value="2000">2000元</td>
        </tr>
        <tr>
            <td colspan="3">
                <span style="font-size: 16px;height: 20px;">输入自定义金额:<input type="text" id="input_money"
                                                                           name="input_money"
                                                                           style="width: 100px;height: 20px;"></span>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;padding-top: 40px;" colspan="3">
                <input type="button" value="确定充值" id="cz" style="width: 80px;height: 25px;">
            </td>
        </tr>
    </table>
    {#    </form>#}

</div>

<div class="footer" style="margin-top: 50px;">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2018 苏州海马商业股份有限公司 All Rights Reserved</p>
    <p>电话：0512-****888 苏ICP备*******8号</p>
</div>
<script type="text/javascript" src="../static/JS/main.js"></script>
<script type="text/javascript" src="../static/JS/jquery-3.3.1.min.js"></script>
<script>
    $("#cz").click(function () {
        select_money = $("input[name='money']:checked").val();
        input_money = $("#input_money").val();
        if (input_money == '') {
            money = select_money
        }
        else {
            money = input_money
        }
        $.post('/top_up_money/'
            ,
            {
                "money": money,
            }
            , function (data) {
                location.href = data
            })
    });

    $("#top_up").click(function () {
        $("#top_up_money").show()
        money = $("input[name='money']:checked").val();

    });


    $("#shutdown").click(function () {
        $("#top_up_money").hide()
    })
</script>

</body>
</html>